[2018-06-20 04:03] xandfury commented on #376
It seems that unfortunately last build was an year ago. The `-f` option was introduced later than that. Since I don't have read/write  access there, I can't re-initiate the build.

Please try building the image from source.

[2018-06-21 15:27] xandfury opened #377 "Investigate support for STOP/RESTART CPU commands"
We are missing support for certain stop/restart commands from our protocol implementations. Need to look into what's missing and how to add them. Examples:
- Modbus function 90
- CIP (ENIP) NOP command
- Profibus CPU STOP command (Used by Siemens Simatic S7 PLCs - S7comm)

[2018-06-21 15:48] xandfury opened #378 "Update honeynet/conpot docker image"
Last build of [honeynet/conpot](https://hub.docker.com/r/honeynet/conpot/builds/) happend over an year ago. Conpot has changed since them. Someone with `honeynet` org access needs to trigger the rebuild

or

create a `mushorg` account on dockerhub, where we can push the latest code for automated builds

[2018-06-21 15:49] xandfury commented on #376
Closing in favor of #378

[2018-06-21 15:49] #376 closed

[2018-06-21 15:54] xandfury opened #379 "Investigate IPv6 support"
Sonner or later, we might need Conpot to support IPv6. Appropriate tests should check both IPv6 and IPv4 work seamlessly.

[2018-06-21 16:11] adepasquale commented on #378
@xandfury if you have a Docker hub account I can add you to the team, if @glaslos is OK with that.

Meanwhile I'll go and trigger a manual build.

[2018-06-21 16:23] xandfury commented on #378
I do have a [Docker Hub account](https://hub.docker.com/r/xandfury). :-)

[2018-06-21 16:33] adepasquale commented on #378
Upon a second look, we already have the hooks in place to trigger builds after each push to mushorg/conpot master branch. The build is failing, though (even the one I triggered manually):

[code]
[code]

Maybe we need to check our base image and Dockerfile are aligned with Docker Hub?

[2018-06-21 18:06] xandfury commented on #378
@adepasquale Replacing `libmysqlclient-dev` with `default-libmysqlclient-dev` worked for me :-)

The build would run fine but you may get errors due to failing tests. These tests would include :
- test_mac (change in MAC address)
- test_mysqllogger
- ImportError (No module named Crypto.Cipher) - IPMI server
- ImportError (No module named wsgi) - test_ext_ip_util

During py3 migration and upon disc

[2018-06-23 10:11] adepasquale commented on #378
Thanks for your pull request, @xandfury. The build has been successful!

https://hub.docker.com/r/honeynet/conpot/builds/

I have also re-enabled automated builds after pushes on `master`

[2018-06-23 10:11] #378 closed

[2018-06-23 10:29] xandfury commented on #371
Hey @4n6strider. We have recently added `pycrypto` to our requirements. If MHN collects conpot form master, a re-install would automatically solve your problem.

@exploitdkernel @4n6strider I am closing this issue, assuming your problems have been resolved. Feel free to re-open the issue in case you feel otherwise :-)

[2018-06-23 10:29] #371 closed

[2018-07-09 20:32] xandfury opened #383 "Document ICS/Conpot related research"
After discussion with Daniel (@creolis), I think it would be a good idea to document Conpot related research in the project wiki. This could include -
- Tutorials on how to write a good template. Since wiki is ***community driven***, we can discuss myraid of devices (like #271). IMO as long as we share just links/images we can keep ourselves distant from any legal twilight.
- Conpot use case scena

[2018-07-12 02:43] glaslos commented on #383
I think all of them are good candidates for the wiki

[2018-07-19 12:50] vladalexgit opened #384 "NMAP scan causes a freeze"
Hi,

I have been struggling recently with something that seems to be a bug.

Running ```nmap --script s7-info.nse -p 102 172.17.0.2 -n -T5``` against conpot works perfectly and gives this output:

[code]

But if I run a normal scan like ```nmap -sV -p 502 172.17.0.2 -n -T5``` against port 502 (which is assigned to the modbus service) and afterwards try to run ```nmap --script s7-info.nse -p 102 17

[2018-07-19 13:02] Vingaard commented on #384
Hello @vladalexgit ,
"interesting" finding - just to narrow it down (or to remove a possible option), what happens if you don't have the -T Timing flag in the scan - is it the same behavior or different outcome ?
Kind regards Mikael Vingaard

[2018-07-19 13:40] Vingaard commented on #384
Thanks for the update, I was just wondering in the T5 (the fastest option) was the problem. reviewing
fingerprint in the log
2018-06-30 16:04:56,752 Exception occurred in ModbusServer.handle() at sock.recv(): [Errno 104]
... 104= Connection reset by peer
2018-06-30 16:05:01,820 Exception occurred in ModbusServer.handle() at sock.recv(): timed out

@adarshdinesh, would you have a input here?

[2018-07-19 20:34] creolis commented on #384
to answer one particular question in first place:
No, this is _not_ expected behaviour. We're either handling errors or crashing horribly (well, let's say: dying gracefully). Having a situation where conpot is still running but frozen is definitely not on our agenda :)

Thanks for your report!

[2018-07-20 20:39] cheo2322 opened #385 "Can I change the default PLC in T-Pot 17.10?"
Hi, please help me to change the PLC by default (Kamstrup 382) in my dockerized Conpot 2.1 running in T-Pot 17.10.

[2018-08-01 20:32] xandfury commented on #341
Thanks for reporting this issue. This has been fixed in a future release :-)

[2018-08-01 20:32] #341 closed

[2018-08-02 16:41] xandfury commented on #384
This line from your stack trace is the root cause:
[code]
the `struct.unpack` method in the server handler requires packet size to be atleast 6 bytes. This should be fixed and handled in an upcoming release. Stay tuned! :-)

Note to conpot team: This should be covered by mobus tests. This is cool partially because tests make these checks as part of CI but mainly beacuse that is how we like to roll

[2018-08-02 16:41] #384 closed

[2018-08-02 17:11] xandfury commented on #202
I took the liberty of [migrating this issue to wiki](https://github.com/mushorg/conpot/wiki/GSoC:-Getting-started-with-Conpot!). I hope that's okay.

[2018-08-02 17:11] #202 closed

[2018-08-02 17:26] xandfury commented on #361
Tbh I don't like the dark arts of money patching - too many places where things can go wrong. [This is where the message originates from](https://github.com/mushorg/conpot/blob/783422a47a20d93e6a14b1b432e59872930fc03d/bin/conpot#L21). When you run `/usr/lib/python2.7/site-packages/Conpot-0.5.1-py2.7.egg/bin/conpot` monkey patching is the first thing we do, so no errors can be seen. I suspect this

[2018-08-02 17:29] xandfury commented on #385
You need to look at the [`Kamstrup` template.](https://github.com/mushorg/conpot/tree/master/conpot/templates/kamstrup_382)

[2018-08-02 17:50] #343 closed

[2018-08-02 18:51] creolis commented on #352
Implemented by @xandfury in the upcoming release

[2018-08-02 18:51] #352 closed

[2018-08-02 18:51] creolis commented on #358
Implemented by @xandfury in the upcoming release

[2018-08-02 18:51] #358 closed

[2018-08-03 06:03] xandfury opened #386 "Investigate alternative approach to bind ports < 1024"
Conpot doesn't really need to run with `su`. The only reason we do this is to bind ports < 1024. Not only this it makes conpot harder to install (users need to do `sudo -H` etc. which can cause problems with pip), it would cause a lot of pain for working with Conpot's file sytem.

In any case, we shouldn't run our code with sudo. #367 seems to relevant.

[2018-08-03 06:35] xandfury commented on #386
I am assigning this issue `high priority` since we're dealing with files. No matter what do we 🐛 can always creep in. The last thing we want is for [conpot to have bad PR](https://github.com/MrMEEE/bumblebee-Old-and-abbandoned/issues/123).

[2018-08-05 07:02] sepantakntu opened #387 "log problem"
hello
i cant save log file in /var/log/conpot.log in new version , and i dont have problem with older version.
i think mybe because you change conpot.cfg to testing.cfg!!!
please help me to solve this problem. thank you
my rsyslog version:
rsyslogd 8.36.0, compiled with:
        PLATFORM:                               x86_64-pc-linux-gnu
        PLATFORM (lsb_release -d):
        FEATURE_REGEXP:

[2018-08-05 11:11] sepantakntu commented on #387
I solve this problem.
thanks.

[2018-08-05 12:32] sepantakntu opened #388 "conpot automatically shutdown"
hello,
i desing webpage for conpot and install conpot on vps. it work good, but when i refresh my webpage for 15 or more conpot automatically shutdown. Furthermore when i run conpot on vps and open conpot webpage with my Search Engine, when i close Search Engine (for example mozilla or chrome), conpot automatically shutdown.
 i run conpot with conpot -f --template default command.

[2018-08-05 14:15] #387 closed

[2018-08-05 14:16] xandfury commented on #388
Hey. Do you have any logfile we can look at?

[2018-08-05 19:54] standa4 commented on #342
pull request was merged.

[2018-08-05 19:54] #342 closed

[2018-08-06 07:12] sepantakntu commented on #388
thank you i solve this problem,
I made a mistake in the configuration.

[2018-08-06 07:52] #388 closed

[2018-08-06 13:44] t3chn0m4g3 commented on #361
@xandfury It's a runtime warning, does not happen during the build process.

[2018-08-06 13:58] xandfury commented on #361
@t3chn0m4g3 Any logs we can look at?

[2018-08-06 14:01] t3chn0m4g3 commented on #361
@xandfury If I remember correctly the only messages I got or could retrieve from the log files are posted above.

[2018-08-07 19:31] xandfury opened #389 "Support for central authentication system"
In order for Conpot to look more realistic to attackers, there should be a central authentication system that provides more consistency. Protocols should be able to query this auth module and verify the user/pass pairs.

**_Requirements:_**
- Pick user/pass pairs from the config.
- A Utility to add a pair of credentials to our auth data structure.
- Utility to check the whether the passed user/pas

[2018-08-09 21:02] xandfury commented on #386
Fixed in the latest release

[2018-08-09 21:02] #386 closed

[2018-08-10 18:49] xandfury commented on #250
Implemented in version `0.6.0`

[2018-08-10 18:49] #250 closed

[2018-08-12 07:57] xandfury opened #393 "Add type hints to code"
Now that we have migrated to python 3.5, we should also look at adding type hints to our code (some 3.5+ sweet stuff right there)
Depending on editor you use, this could save us from making errors related to python's dynamic typing.

Example:
https://github.com/mushorg/conpot/blob/2f48b3e44f0618fb30f60bd55bdb2e03487feaea/conpot/core/__init__.py#L48-L54

[2018-08-12 07:59] xandfury commented on #389
Initial work can be seen [here](https://github.com/xandfury/conpot/blob/auth/conpot/core/auth.py)

[2018-08-12 09:37] xandfury commented on #354
Closing this issue assuming that the error no longer persists with the latest release. Please feel free to reopen this issue in case you think otherwise.

[2018-08-12 09:37] #354 closed

[2018-08-13 18:21] xandfury commented on #361
@t3chn0m4g3 Can you try this with the latest release? See if the problem persists?

[2018-08-15 01:16] dapanfei opened #394 "There was a problem installing conpot with docker"
Finished processing dependencies for conpot==0.6.0
run runtests: commands[1] | conpot -f
WARNING:scapy.loading:Cannot read wireshark manuf database
WARNING:scapy.loading:Failed to execute tcpdump. Check it is installed and in the PATH
WARNING:scapy.runtime:No route found for IPv6 destination :: (no default route?)
WARNING:root:Running conpot with root. Running conpot with root isn't recommended.
2

[2018-08-15 01:26] dapanfei commented on #394
Use the command **Run docker build-t conpot.**

[2018-08-15 05:12] #394 closed

[2018-08-16 10:35] t3chn0m4g3 opened #395 "Can't start conpot with default file system"
When starting 0.6.0 I am getting the following error:
[code]

Maybe you can shed some light on this?

[2018-08-16 11:17] creolis commented on #395
Hey.
Since we are often criticized because of the fact that dozens of Conpot instances are using the default templates in the wild and therefore are easy to identify, using default values must be "enforced".

So everytime you want to start conpot without changing defaults (default template, default virtual file system, etc.), conpot will be harsh to you :)

For local testing purposes, to tinker ar

[2018-08-16 12:09] t3chn0m4g3 commented on #395
@creolis Thanks.

It seems the default path values for FTP are causing this:

[code]

Even with a changed `kamstrup_382` the VFS error is present:
[code]

Maybe I am not getting the feature, should it work right away or are some requirements necessary which need to be met?

[2018-08-16 12:28] t3chn0m4g3 commented on #395
Just wanted to delete the docker container and got the following error as well. Maybe this is related:
[code]

[2018-08-16 12:42] t3chn0m4g3 commented on #395
I have been looking at the sample out:
[code]
Do I need to specify the source somewhere?

[2018-08-16 14:01] t3chn0m4g3 commented on #395
From the looks of it, the `default` values for `[virtual_file_system]` are the problem.
1. `data_fs_url` must be an absolute, existing path with r/w permissions in the file system
2. `fs_url` must be a `.tar` with a FS template as provided

Now this works for VFS, but now I have to fix the ENV interpolation:
[code]

[2018-08-16 14:26] xandfury commented on #395
@t3chn0m4g3 Absolutely correct! But in your case, these default values should and must have been picked up by conpot. I think this has something to do with your ENV. If you can post the logs, I would be able to help you better.

[2018-08-16 15:28] t3chn0m4g3 commented on #395
@xandfury This seems to be unrelated to ENVs, result was the same (even with #396 which brings #360 back) in place. As long as I do not use the `default` values it is working now. Except for `kamstrup`. Opening new issue for that.

[2018-08-16 15:30] t3chn0m4g3 commented on #361
@xandfury This is fixed.

[2018-08-16 15:30] #361 closed

[2018-08-16 15:43] t3chn0m4g3 opened #397 "JSON does not log dst_port"
JSON logs port as `null`:

Example FTP:
[code]

Example HTTP:
[code]

[2018-08-16 15:54] t3chn0m4g3 opened #398 "Kamstrup will not start up"
The reason seems to be related to a wrong path... After installation conpot expects `kamstrup_meter.xsd` in
[code]
but the file is installed to
[code]

Here the traceback...
[code]

[2018-08-16 16:56] xandfury commented on #398
This is due to the change in protocol instance mappings:

https://github.com/mushorg/conpot/blob/2f48b3e44f0618fb30f60bd55bdb2e03487feaea/bin/conpot#L338-L340

I had changed directories for things to be more meaningful. We can do refactoring in `bin/conpot` or change directories like they were before.

[2018-08-16 17:28] xandfury commented on #397
`dst_ip` and `dst_port` logging was added recently in #344

[2018-08-16 17:39] t3chn0m4g3 commented on #397
fixed the title accordingly.

[2018-08-16 17:59] xandfury commented on #395
Now that #396 is closed (thanks for that :smiley: ) maybe we can revisit this problem. TBH something like this
[code]
should and must never happen (looks like recursive directory creation). With all good intentions, we can't help you much without the detailed log file and the exact config (env) variables.

[2018-08-16 18:07] t3chn0m4g3 commented on #395
Thank you @xandfury , but once I removed `default` from the VFS section I could not reproduce that (all the logs / tracebacks I got from conpot are posted in this issue. Replaced it with ENVs and everything works fine now (at least for my use cases).
You may close this, unless you want to investigate further on your side - happy to help 😄

[2018-08-16 18:15] t3chn0m4g3 opened #399 "lxml.etree._XPathEvaluatorBase._handle_result lxml.etree.XPathEvalError: Invalid predicate"
Conpot is running now for a few minutes and I caught a exception in http `server.py`:
[code]

[2018-08-16 18:16] xandfury commented on #395
@t3chn0m4g3

My ₹0.02 (:wink:) is - you probably did not create an environment while installing conpot. This means that you are importing a lot of vairables where they might not be required. You can see this simply by
[code]
This may or may not work. But is generally discouraged in the python community. Instead you should always create a `virtualenv` whenever you plan to use ENV vars. Please try t

[2018-08-16 18:16] #395 closed

[2018-08-16 18:17] xandfury commented on #395
I am closing this issue for now. But feel free to reopen if the problem persists.

[2018-08-16 18:19] t3chn0m4g3 commented on #395
@xandfury Thanks.

[2018-08-16 18:39] xandfury commented on #399
There is a syntax error somewhere here:
[code]
You just gotta love XML for it's versatility :wink: This should be an easy fix. Provided I know what exactly to throw at conpot.

[2018-08-16 20:23] #366 closed, assigned to nobody

[2018-08-16 20:26] xandfury commented on #349
Should be fixed by latest releases: `0.5.2` and `0.6.0`.

[2018-08-16 20:26] #349 closed

[2018-08-17 06:56] vorband commented on #397
would be great if you could have a look at my comment regarding socket IP in #344, too. ;)

[2018-08-17 20:26] xandfury commented on #397
@vorband Thanks for the suggestion. Please feel free to send in a PR.

[2018-08-17 22:26] creolis commented on #399
Does this happen regularly? If yes, it would help us to see what URI is thrown at Conpot at the time of the exception. There's no helpful debug line there yet - so please could you add

`logger.debug('Trying to handle GET to resource <%s>, initiated by %s', self.path, self.client_address)`

at /protocols/http/command_responder.py:802, and start conpot in verbose mode (-v)?
It should reveal the URI

[2018-08-18 19:55] creolis commented on #397
@vorband if you could sent a PR that builds up on standa's merged code (I had no time to check in detail what went wrong yet) this would of course be appreciated :)

[2018-08-22 06:30] vorband commented on #397
I will come up with a PR as soon as I find the time.

[2018-08-22 06:33] t3chn0m4g3 commented on #397
@xandfury @creolis Can you guys come up with a fix? I want to finish dockerizing by the end of this month.

[2018-08-22 06:35] t3chn0m4g3 commented on #399
@creolis Thank you, I am on it.

[2018-08-22 07:47] t3chn0m4g3 commented on #398
Thanks, tested the changes as proposed, but unfortunately it does not work.

[code]

[2018-08-22 09:40] xandfury commented on #398
@t3chn0m4g3 For the above code
[code]
can you debug for ` kamstrup_dir` and `protocol_name`? I don't have a machine to test `conpot` atm.

Also I assume that you rebuilt conpot after making your changes :smile:

[2018-08-22 10:46] t3chn0m4g3 commented on #398
@xandfury Traceback:
[code]

Folder structure after your the proposed changes:
[code]

[2018-08-22 14:42] vorband commented on #397
the missing dest_port/ip is due to #344 only logging protocols that use session_manager. So is my solution. FTP logging, as in the example above, is not using session_manager. At the moment I am more struggling with getting you the pull request with my changes for the session manager modifications.
After this, I can try to understand how ftp is logged and add the desired info.

[2018-08-23 12:19] vorband commented on #397
ftp should now be fixed, as well as tftp in PR #400

[2018-08-23 12:38] t3chn0m4g3 commented on #397
@vorband Thanks :bowtie:
@creolis Will be testing tonight

[2018-08-24 09:18] t3chn0m4g3 commented on #397
Testing was successful see #400

[2018-08-24 19:04] creolis commented on #397
Thanks for your quick intervention André! We appreciate it and I guess Marco owes you a beer ;-) (and we do too)

[2018-08-24 19:04] #397 closed

[2018-08-29 08:19] t3chn0m4g3 commented on #399
Caught the exception again ...

conpot.log:
[code]

Exception on console:
[code]

Hope that helps 😄

[2018-08-29 19:13] creolis commented on #398
fixed in the course of #392

[2018-08-29 19:13] #398 closed

[2018-08-29 19:31] creolis commented on #399
It really does .. *sigh* .. :) thanks!

[2018-08-30 15:44] t3chn0m4g3 commented on #398
Thanks guys 😄

[2018-09-04 14:43] ntnychss opened #403 "docker permission denied"
Hi, I'm trying to run the dockerized  version of Conpot but I cant make it work.
I followed the _Via a pre-built image_ instructions.

here the error:
[https://i.imgur.com/fXyE7ec.png](https://i.imgur.com/fXyE7ec.png)

I have tried also 'Build docker image from source' but got more or less the [same](https://i.imgur.com/JgNlhue.png) kind of problem.

[2018-09-05 10:59] creolis commented on #403
The documentation is far from being accurate at the moment - sorry.
This only applies when you force conpot to run as root, which is not supported.

Please run conpot as non-privileged user. If you want to bind ports <=1024,
use authbind or set linux capabilities :)

[2018-09-06 09:32] ntnychss commented on #403
@rajeshkalluri009  I solved it by installing it in a ubuntu 14.04 LTS virtual machine.
Installed it from pip ([guide](https://conpot.readthedocs.io/en/latest/installation/ubuntu.html)).
You will face error installing it. I purged all distutils and installed module with the version required by conpot. This is an iterative process you will face consecutive errors, just be patience, solve them one by

[2018-09-06 13:48] creolis commented on #403
@rajeshkalluri009 You're sure you're not UID 0? (this also includes not using sudo btw.)

[2018-09-07 01:30] kokoGH opened #404 "use nmap to scan modbus port 502"
When I use nmap -sA -sV -p 502 to scan conpot, the CPU usage of conpot should be almost 100%

[2018-09-08 22:12] creolis commented on #399
Fixed by #402

[2018-09-08 22:12] #399 closed

[2018-09-10 05:36] creolis commented on #340
fixed in current releases

[2018-09-10 05:36] #340 closed

[2018-09-11 12:52] t3chn0m4g3 commented on #399
Awesome! Thank you guys :)

[2018-09-16 10:28] sepantakntu opened #405 "conpot installing error"
hello!
 i installed conpot ==0.6.0, after i run conpot -f --template default below error appear? how can help me to solve this problem!
Traceback (most recent call last):
  File "/usr/local/bin/conpot", line 4, in <module>
    __import__('pkg_resources').run_script('conpot==0.6.0', 'conpot')
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 750, in run_script
    self

[2018-09-17 03:07] xandfury commented on #405
You are trying to run Conpot with python2.7. You need to run it with python 3.5

[2018-09-17 06:05] sepantakntu commented on #405
Thank you.

[2018-09-17 07:31] #405 closed

[2018-09-17 09:17] mechgt commented on #405
I was facing this exact same issue, and was not able to resolve this with python 3.5, but python **3.6** worked.

Python 3.5 (on CentOS 7) was returning:
`ImportError: cannot import name 'Text'`
This was in reference to
`from typing import Optional, Union, Text, Any, List` in `filesystem.py`

... something to do with the timing of when Text was added to typing in python 3.5

[2018-09-17 13:01] ntnychss commented on #403
@creolis if you run conpot as a non-root it will trigger "_### Permission Denied_" exceptions..

[2018-09-17 14:05] creolis commented on #405
:) In general: The current release of conpot (starting with Conpot 0.6) is strictly relying on Python3.
If for one or the other reason you need to stick to Python2, the last compatible release is Conpot 0.5.2 (a.k.a: Python2 retirement release)

[2018-09-17 14:10] creolis commented on #403
May I ask you to provide a more specific output, rather than "permission denied exceptions" ? Related to filesystem calls? related to socket interaction? I can only assume that this is related to the way socket handling has changed - but you would help us to set that straight if you could post a decent log output.

Oh, btw.: with all due respekt, please try to not post screenshots. Not only are th

[2018-09-24 05:00] wlfrag opened #406 "docker permission denied not root."
so after running
Install Docker
Run docker pull honeynet/conpot
Run docker run -it -p 80:80 -p 102:102 -p 502:502 -p 161:161/udp --network=bridge honeynet/conpot:latest /bin/sh

I proceeded to run conpot -f --template default as a non-root user, I created a new user and didn't add him to the sudoers group, and I ran the command and it shows me permission denied.

https://imgur.com/a/NXooLfS

[2018-09-24 06:28] aaravkumar20 commented on #406
-Add the following line to the source : sudo nano /etc/apt/sources.list
deb http://archive.ubuntu.com/ubuntu $(lsb_release -sc) main universe multiverse restricted

-Install this dependencies:
python3-setuptools & python3-pip
-then install this package with pip3:
stix-validator & cybox & upgrade pip

-Add the following line to the source : sudo nano /etc/apt/sources.list
ppa:jonathonf/python-3.6
i

[2018-09-24 06:45] wlfrag commented on #406
hello aarav, so after i add the line to the source
"-Add the following line to the source : sudo nano /etc/apt/sources.list
deb http://archive.ubuntu.com/ubuntu $(lsb_release -sc) main universe multiverse restricted"

I need to sudo apt-get update to get the new source list?

[2018-09-24 07:27] wlfrag commented on #406
@aaravkumar20
followed ur guide from a fresh ubuntu 16.04 installation and i got this error message

https://imgur.com/a/djP3LfR

[2018-09-24 08:00] johnnymythology opened #407 "Invalid Syntax"
![image](https://user-images.githubusercontent.com/8530476/45941842-982f9680-c012-11e8-8b3e-5df991776da7.png)

I have previously tried the docker method and it did not work, experiencing the same trouble as wlfrag. I went online and tried a different method

![image](https://user-images.githubusercontent.com/8530476/45941895-d4fb8d80-c012-11e8-93bf-1c227f97d3ee.png)

I am running Ubuntu 18.04 LTS

[2018-09-24 09:10] wlfrag opened #408 "docker-compose issue"
on fresh ubuntu16
![image](https://user-images.githubusercontent.com/43529877/45944435-ba2e1680-c01c-11e8-888f-f9b8c93c20c0.png)

[2018-09-24 09:15] kummmar commented on #406
I am experiencing the same issue. We are not allowed to run docker build without sudo. When we used sudo to run the program, the program told us to not run as root and quit. We are currently stuck in a loop. No root no docker. Got root no conpot

[2018-09-24 12:28] xandfury commented on #407
1. You need to run conpot with python 3.5
2. Don't run conpot with sudo.

Install using instructions provided here: https://github.com/mushorg/conpot/blob/master/docs/source/installation/virtualenv.rst

Duplicate of #405

[2018-09-24 12:28] #407 closed

[2018-09-24 12:47] xandfury commented on #403
I just checked. It seems that the conpot installation is done with the `root` user by default - something we should change.

So the actual conpot python script is run by `root` as well and when prvis are dropped there are associated permission issues. Instead the Dockerfile should create a non-root user first - and use that user to install conpot, consequently running it.

So the way I look it, it

[2018-09-24 12:49] xandfury commented on #406
Hi there.
Thanks for reporting. This seems to be a duplicate of #403. Please join the discussion there if needed be :smile:

[2018-09-24 12:49] #406 closed

[2018-09-24 12:54] xandfury commented on #404
Hey @kokoGH. Could you add a little bit of detail to your question? Like what do you expect from Conpot? How is that different from what is advertised?

[2018-09-24 12:55] xandfury commented on #408
Should be fixed with #403

[2018-09-25 10:18] wintermute101 commented on #408
I had similar issue it was actually problem with tftp tests failing.
I fixed it by following patch:
`diff --git a/conpot/protocols/tftp/tftp_handler.py b/conpot/protocols/tftp/tftp_handler.py
index 44a6239..c52d8f9 100644
--- a/conpot/protocols/tftp/tftp_handler.py
+++ b/conpot/protocols/tftp/tftp_handler.py
@@ -60,10 +60,10 @@ class TFTPServerState(TFTPState):
             # Return same state, we

[2018-09-25 13:36] aaravkumar20 commented on #403
to solve permission denied in conpot 0.6 use this easy step way:
**ubuntu 18.04**
**-install conpot with a non-root user**

-add this source to your repository & update:
deb http://archive.ubuntu.com/ubuntu $(lsb_release -sc) main universe multiverse restricted
-install git & python3-pip & python3-setuptools & python3.6-dev
-dont forget install stix-validator & cybox
-git clone https://github.com/

[2018-09-25 14:12] wintermute101 commented on #408
@xandfury this is docker-compose build issue with tests failing I do not think this is related to #403

[2018-09-25 15:10] fergyfresh opened #409 "Can't seem to use function instead of value in template.xml with Modbus."
Alright so in a `template.xml` I'm working on I have the following scenario:

[code]

The first example I can read/write from it. In the second example I cannot read or write from it. There is nowhere in the documentation that specifically states you can't use function value types with HOLDING_REGISTERS, but I was wondering if that was the case or not.

Is the function value type only to be used w

[2018-09-26 03:37] xandfury commented on #408
Right. Can you send in a pull request that would fix this? But before that can you post the conpot logs (in text - not image) ? For future reference and for us to know the context 😄

[2018-09-26 04:17] kokoGH commented on #404
Hello @xandfury，I deploy conpot in virtualenv on Ubuntu 14TLS. And I try to scan the port of mudbus.After that，conpot consume all of my cp untill I stop it.I think it's abnormal.I want to solve this problem.

[2018-09-26 07:48] wintermute101 commented on #408
Pull request done #411

[2018-09-26 07:57] creolis commented on #408
Fixed by #411, thanks guys.

[2018-09-26 07:57] #408 closed

[2018-09-26 11:37] Pouick commented on #403
user@honey:~/conpot$ docker build -t conpot .
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.29/build?buildargs=%7B%7D&cachefrom=%5B%5D&cgroupparent=&cpuperiod=0&cpuquota=0&cpusetcpus=&cpusetmems=&cpushares=0&dockerfile=Dockerfile&labels=%7B%7D&memory=0&memswap=0&networkmode=default&rm=1&shmsize=0&

[2018-09-27 11:19] xandfury commented on #403
@wintermute101 I highly doubt that. Please go ahead 😄

[2018-09-27 16:03] wintermute101 commented on #403
@xandfury Copy that.

[2018-09-28 11:59] wintermute101 commented on #403
Hi I've been working on this for a while.
I've moved docker related stuff to sub directory and now it is in depended. Maybe move it to different repository?
I did not create a pull request as I want to discuss it and it does not work. Maybe you can take a look.  There are some permission errors when adding tftp protocol.
Code: [docker-fixes branch](https://github.com/wintermute101/conpot/tree/dock

[2018-09-28 15:35] fatihusta opened #412 "Permission denied for less than 1024 ports"
I was change template port settings and service wasn't run.
How can I change ports?

runuser=conpot
conpotversion=0.6.0
Distro:Debian9(LXC)

[code]

Every Service Error message like this
[code]

[2018-09-29 07:01] #404 closed

[2018-10-01 03:52] xandfury commented on #403
@wintermute101 Sorry for the late reply.

- I can only suggest you to debug for permissions by appending `/bin/bash` or `/bin/sh` to your docker run command. Changing users is always tricky with docker when you need to work with files. :smile:

- I am fine with having a separate directory for docker, I don't think there should be a separate repo just for docker. (Things get harder to maintain, kee

[2018-10-01 03:54] xandfury commented on #412
If you want to bind ports <=1024, use `authbind` or set linux capabilities

[2018-10-01 09:09] fatihusta commented on #412
Thanks.

[2018-10-01 09:13] #412 closed

[2018-10-01 10:30] wintermute101 commented on #403
Thanks for suggestions.  What I think this is not related to docker itself, anyway I'll debug it next week. I'm off grid for a week.

[2018-10-03 07:53] santidediego opened #413 "Could not find config file"
When I run` sudo conpot -t default` I get the error:

_Could not find config file!
Use -f option to try the test configuration__

I would like to run Conpot without using the test configuration, how should I use a configuration file? In [this doc](https://conpot.readthedocs.io/en/latest/installation/configuration.html) is written a sample config file, but no information about how to use it.

[2018-10-06 13:02] xandfury commented on #413
What is the complete command you are running? The correct command should look like `conpot -c /my_path/my_config.cfg -t default`

[2018-10-08 20:14] santidediego commented on #413
It´s fine, no worries, making the docs is not the most thrilling thing...

The problem is: the conpot is not reading the path correctly with `-c` option, it searches in a fixed location, so if you have a config file in the current directory, for example, conpot won't be able to read it. I made a pull request which I think fixes this issue.

Regarding to sudo, I use this issue to ask another questi

[2018-10-09 14:55] xandfury commented on #413
I just checked and it worked fine for me. What command are you using? Can you also post your config file? Also post the detailed logs reported by conpot.

As for the second question, If you want to bind ports <=1024, use `authbind` or set linux capabilities

[2018-10-09 15:27] xandfury commented on #403
If you run the tests, a tftp client uploads and downloads a test file. As long they pass, I doubt there is implementation related issue. Logs would be nice to see nevertheless :wink:

[2018-10-09 17:44] wintermute101 commented on #403
Yes that is strange to me also as tests do pass. After installing conpot tftp does not start. Logs with failing tftp due to permissions are above. I will try to figure it out but I will need to go deeper into tftp code.

[2018-10-10 07:09] santidediego commented on #413
I repetead the experiment and I run `conpot -c conpot.cfg -t default` and I got:
`Could not find config file!` It´s trying to get the file in:
`<path>/venv/lib/python3.6/site-packages/conpot-0.6.0-py3.6.egg/EGG-INFO/scripts/conpot` this is, in a fixed directory inside the virtualenv.

However, if you write the full path as you did: `conpot -c /my_path/my_config.cfg -t my_custom_template`, it works

[2018-10-11 07:52] wintermute101 commented on #403
It works now in docker. I used supervisor to start and control conpot and it runs process not as root but as conpot user. I think supervisor is nice choice if you want to start other processes in docker like SIEM log forwarder, STIX or MHN hpfeeds broker.

[2018-10-15 13:38] llucifer97 commented on #393
hi @xandfury  I would like to take up this issue

[2018-10-16 04:34] xandfury commented on #393
@llucifer97 That's very nice to hear :slightly_smiling_face:

I would suggest you to start reading about types and type hints as a primer. Next, go through conpot's source code and add those hints to objects - cross verify if necessary :wink: . Finally, add mypy or pydantic to tox, integrating type checking to our CI.

[This](https://stackoverflow.com/a/32558710/2873994) should get you started :wi

[2018-10-17 03:12] xandfury commented on #413
`Could not find config file!` It´s trying to get the file in:
`<path>/venv/lib/python3.6/site-packages/conpot-0.6.0-py3.6.egg/EGG-INFO/scripts/conpot` this is, in a fixed directory inside the virtualenv.

Correct! Path is relative to the conpot executable. I have no issues in making this change. Please see review at #414

[2018-10-25 10:01] xandfury commented on #413
I am closing issue this since #414 in now closed. Thanks for the effort anyway :slightly_smiling_face:

[2018-10-25 10:01] #413 closed

[2018-10-29 21:43] #403 closed

[2018-11-07 08:59] zhangxiaoyus opened #417 "No route found for IPv6 destination"

[2018-11-07 09:02] #417 closed

[2018-11-14 11:18] al14cioli opened #418 "Missing package preventing to build the docker image"
Hi,

I had to add reference to the missing depency package **libffi-dev** in Dockerfile before being able to build the docker image. If I don't do that, building fails.

[code]
Regards,
Alain

[2018-11-15 12:34] Pouick opened #419 "error with Build docker image from source"
OS : debian Stretch 9

after :

[code]

[2018-11-15 18:13] xandfury commented on #419
Maybe this is related to #418. Can you please check and confirm?

[2018-11-19 14:02] Pouick commented on #419
I do not understand what to do .. I installed the dependencies by hand but always this error

`compilation terminated.
      error: command 'gcc' failed with exit status 1

      ----------------------------------------
  Command "/usr/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/tmp/

[2018-11-21 12:56] Pouick commented on #419
it's ok
thank you !

[2018-11-21 12:57] #419 closed

[2018-11-21 13:05] Pouick opened #420 "docker run error"
**Method : Build docker image from source**
`docker run -it -p 80:8800 -p 102:10201 -p 502:5020 -p 161:16100/udp -p 47808:47808 -p 623:6230 -p 21:2121 -p 69:6969/udp -p 44818:44818 --network=bridge conpot`

_

_

[2018-11-21 16:09] pietroferretti commented on #418
Thanks, I had the same problem and that solved it.

[2018-11-21 16:09] pietroferretti commented on #420
You probably first need to build the Docker image with `docker build -t conpot .`.

From the other issue you opened (#419) I guess you didn't manage to build it successfully. Have you tried the fix suggested in the issue #418? That worked for me.

[2018-11-22 09:14] Pouick commented on #420
Hi pietroferretti
the issue 419 is now closed
finally, I managed to build the image (I did not notice any error)
only when I run the last command I get the message above

I try to build the image again in case.

thank you

[2018-11-22 09:29] Pouick commented on #420
I try to build the image again and this time, it blocks:
[code]

the first build lasted 15 minutes and seemed to work ..

[2018-11-29 05:44] #418 closed

[2018-11-29 05:46] xandfury commented on #418
Thanks! Updated the repo with **`libffi-dev'** :slightly_smiling_face:

[2018-12-05 14:52] Pouick commented on #420
I just tried again on a fresh installation (the 15th attempt) and always an error ...
Someone really managed to operate by following one of the 3 methods ??

_```
docker run -it -p 80:8800 -p 102:10201 -p 502:5020 -p 161:16100/udp -p 47808:47808/udp -p 623:6230/udp -p 21:2121 -p 69:6969/udp -p 44818:44818 --network=bridge conpot
Unable to find image 'conpot:latest' locally
docker: Error response f

[2018-12-05 15:01] glaslos commented on #420
You probably want `honeynet/conpot:latest`

[2018-12-05 15:03] pietroferretti commented on #420
I did manage to run it.
If your problem is still `Unknown flag: chown`, a quick search on google reveals that the flag is only supported on Docker CE >= 17.09. Have you tried updating your Docker installation to the latest version?
Anyway IMHO there doesn't seem to be any problem with this project's Dockerfile.

[2018-12-05 15:28] #373 closed, assigned to nobody

[2018-12-05 19:48] creolis commented on #409
-> taken care of by you in #410 :)

[2018-12-05 19:48] #409 closed

[2018-12-10 18:05] pietroferretti opened #422 "Exception loop in the FTP handler when the socket is closed prematurely"
If a FTP client disconnects immediately, the socket becomes closed and the FTP handler crashes in `handle_cmd_channel` when trying to select the socket.

Since `handle_cmd_channel` dies with ValueError, there is no way for the code to reach the path that closes the connection, and the function is called again, until the connection is closed for timeout by the  log worker.

Logs:
[code]

**Steps fo

[2018-12-10 22:43] #422 closed

[2018-12-17 06:59] kuan13 opened #424 "IEC 60870-5-104 template values"
The values in the IEC 60870-5-104 template cannot be read by the program.
what does the "16_8 bit format of the Information Object Address" mean?

[2018-12-26 22:09] gauravzqa commented on #357
Hi @xandfury i would like to work on this issue and can you help me how to get started, i am new to Open Source.

[2018-12-27 06:55] xandfury commented on #357
@gauravzqa You can start here:
https://github.com/mushorg/conpot/blob/eeabbbf1067f6c5e0b4a8dfc9314215731b447f8/bin/conpot#L72

Change this to `logger.exception`. Make sure that all tests pass before opening a pull request :slightly_smiling_face:

If you are a student, you can join [![Honeynet Slack](https://img.shields.io/badge/slack-chat-yellow.svg)](https://gsoc-slack.honeynet.org/). You can get

[2018-12-27 07:08] xandfury commented on #11
Although my experience with swig is limited, I think cross compilation is always a little hackish - and often leads to unexpected behavior. I would instead suggest using `Boost.python` to write the wrapper for the handler.
This way the python API would be seamless to work with, since we know what we are getting into :wink:
We can use automak's lib for writing the handler.

[2018-12-27 14:57] gauravzqa commented on #357
thanks @xandfury .

[2018-12-27 17:03] gauravzqa commented on #357
@xandfury what are the tests that you've mentioned above.

[2018-12-28 12:04] gauravzqa commented on #357
need some help @xandfury
i am having some problem with tox.
ERROR: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available. and then when i am installing ssl, i am getting many other errors
error1: ImportError: No module named '_ssl'
error2: Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-ViQk7c/ssl/.

[2018-12-28 17:52] xandfury commented on #357
@gauravzqa I don't think this is an issue with conpot. Were you able to install and run it? As far as the errors are concerned, Google is your friend :slightly_smiling_face:

There are dozens of SE pages that could help you with this.

[2019-01-06 04:20] xandfury commented on #377
Regarding Modbus function `0x5a`:
- [slides](https://docs.google.com/presentation/d/1K79add5Nqdlh8rBa2XrvcmSOGvPCnQE-leJSrkkKH5E/edit#slide=id.p)
- [video](https://youtu.be/A_B69Rifu1g)
- [code](https://github.com/arnaudsoullie/funwithmodbus0x5a)

[2019-01-09 10:12] #357 closed

[2019-01-09 22:01] 10rule opened #426 "Can a Conpot container listen on multiple network interfaces (eth0 and eth1)?"
(Sorry if this question is dumb.)

I am trying deploy Conpot across multiple subnets.
So far Conpot can only listen in on the first subnet.
Is this a design limitation? Or am I doing something wrong?

For example, my host computer has 4 IPs, I want a Conpot container to listen in on 2 out of those 4.

So here is my work flow.

1. Create two docker networks.
    First network bridged to 172.16.68.1

[2019-01-10 00:40] 10rule commented on #426
Nevermind. It turns out Conpot is listening on 0.0.0.0 which includes all interfaces.
I just needed to open the ports for future network IPs when creating the container.
Like such.
`sudo docker create -it -p172.16.68.12:80:8800 -p 172.16.68.12:102:10201 -p 172.16.68.12:502:5020 -p 172.16.68.12:161:16100/udp -p 172.16.68.12:47808:47808/udp -p 172.16.68.12:623:6230/udp -p 172.16.68.12:21:2121 -p 172

[2019-01-10 00:40] #426 closed

[2019-01-14 03:29] anzhen9 opened #427 "test bacnet with vts"
When I test bacnet with VTS, it told me this:
Decoding Error - PDU: <PDU None -> None : 0a.00.0c.01.20.ff.ff.00.ff.10.08>
this is the data I send:
![image](https://user-images.githubusercontent.com/23622902/51095365-324c6200-17ef-11e9-96e2-a1898907e84a.png)

[2019-01-14 06:55] aman566 commented on #393
@xandfury I can work on this issue. If no one has started then I can do. Please assign it to me .

[2019-01-14 06:59] glaslos commented on #427
The error seems to come from the bacpypes library we are using to parse the BACnet packets. Do you have time to investigate the issue? Here is the relevant code in Conpot: https://github.com/mushorg/conpot/blob/master/conpot/protocols/bacnet/bacnet_server.py#L72-L75

[2019-01-14 07:00] glaslos commented on #393
@aman566 feel free to work on this :+1:

[2019-01-14 07:34] anzhen9 commented on #427
invalid APDU type.
It happended in https://github.com/JoelBender/bacpypes/blob/61dbd5237fe4406f64755c8cd7526ce28f5eb809/py34/bacpypes/apdu.py#L321.
And I printed all the pduType and self.apduType, it liked this:
ConfirmedRequestPDU.pduType 0
UnconfirmedRequestPDU.pduType 1
SimpleAckPDU.pduType 2
ComplexAckPDU.pduType 3
SegmentAckPDU.pduType 4
ErrorPDU.pduType 5
RejectPDU.pduType 6
AbortPDU.pduType

[2019-01-14 07:37] glaslos commented on #427
So the solution would be to add the additional PDU type to bacpypes. Do you think this is something you can do?

[2019-01-14 07:43] anzhen9 commented on #427
Thank you, I'm a novice and I will try it

[2019-01-16 02:04] aman566 commented on #383
Please assign it to me @glaslos  I would like to work. As by working on it I will know more about conpot. It would a help to me.

[2019-01-16 02:46] aman566 commented on #420
docker: Error response from daemon: driver failed programming external connectivity on endpoint compassionate_engelbart (73c99186010112867d98b416e77d89174224af1f3478574815026f44fb2ade30): Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use.
Makefile:6: recipe for target 'run-docker' failed
make: *** [run-docker] Error 125

@glaslos  please help me with this issue.

[2019-01-16 06:57] creolis commented on #383
:) you don't need to be assigned - you can always start working on an issue and keep us posted about your progress in order to show that there's activity on the matter.

[2019-01-24 17:39] xandfury commented on #11
There has been promising updates on this :slightly_smiling_face: [pydnp3](https://github.com/ChargePoint/pydnp3)

[2019-01-29 16:47] Hadi-94 opened #428 "Building a docker image"
I'm facing this issue every time I run the command
`docker build -t conpot .`

It will stop at step 11/32 and shows this error:

Can I know what does it mean exactly ? and what should I do so that the conpot image can be built correctly ?

[2019-01-31 19:53] 10rule commented on #428
I am experiencing the same problem.

[2019-01-31 20:17] 10rule commented on #428
OK, just figured it out.
This build failure is caused by PEP517 that went into pip19
PEP517 caused `--no-cache-dir` to not play nicely with some scripts.

My simple fix is to edit your `Dockerfile` by like this.
`#RUN pip3 install --user --no-cache-dir -r requirements.txt`
`RUN pip3 install --user -r requirements.txt`

Another potential fix is instead of removing  `--no-cache-dir`, add `--no-use-p

[2019-02-01 12:41] Hadi-94 commented on #428
What I did was removing `--no-cache-dir` and it worked just fine. Thanks for the help @10rule !! :)

[2019-02-01 12:41] #428 closed

[2019-02-03 12:34] Hadi-94 opened #430 "Testing conpot default template"
I've installed Conpot (The default template) and set it up using "virtualenv" documentation that is available.
I want to test it to check if it is actually working and detecting attacks from a different computer on the same network. I've already tested it using nmap (for checking http and ftp ports), but I'm more interested in Modbus and S7comm protocols.
Since I'm still new at this can anyone hel

[2019-02-04 13:19] MiniPierre opened #431 "Conpot not found"
When trying to launch conpot via the `docker run -it -p 80:80 -p 102:102 -p 502:502 -p 161:161/udp --network=bridge honeynet/conpot:latest /bin/sh` command, the shell does appear but the `conpot -f --template default` command gave me the following output : `/bin/sh: conpot: not found`

[2019-02-04 15:09] xandfury commented on #431
Can you try again replacing `/bin/sh` with `/bin/bash`?

[2019-02-04 22:38] 10rule commented on #431
OK, there are actually 2 parts to your question:

1. How do I run conpot from the shell inside the container
2. How do I run conpot from docker

Answer to the first question:
Inside the container: The conpot executable is actually in
`/home/conpot/.local/lib/python3.6/site-packages/conpot-0.6.0-py3.6.egg/bin/conpot`

Likewise, the default template is actually in.
`/home/conpot/.local/lib/python3.6

[2019-02-04 22:48] 10rule commented on #430
Modbus and S7 both have nmap scripts

https://nmap.org/nsedoc/scripts/modbus-discover.html
https://nmap.org/nsedoc/scripts/s7-info.html

[2019-02-05 14:20] MiniPierre commented on #431
Thank you for your quick answer, it did work well with your Docker command. Just a quick precision, the HTTP server is running on port 8800, so the command should be `sudo docker run -it -p 80:8800 -p 102:102 -p 502:502 -p 161:161/udp --network=bridge honeynet/conpot`

[2019-02-06 19:45] creolis commented on #431
The docs are unfortunately not reflecting the current state of development. We moved to using ports > 1024 since it has two main advantages:

1st: You don't need to run conpot as root in order to bind to them. If you WANT to bind to ports < 1024, which is usually the case as soon as you're going into production, you can use several techniques in order to allow conpot to do so (setcap/CAP_NET_BIND_

[2019-02-16 07:28] Hadi-94 commented on #430
Thanks for the help !! ur suggestion was helpful @10rule

[2019-02-16 07:53] Hadi-94 opened #433 "Virtualenv and HMI"
I'm running conpot using virtualenv documentation that is available. I've understood also from the documentation that usually if I want to check the default HMI that conpot has, I should open my browser and type in My IP address. However, the HMI page doesn't show up, instead it shows me a page says "Unable to connect".
Can I know how to solve this issue ? Is it a problem because I'm running conpo

[2019-02-16 07:56] xandfury commented on #433
You need to check what port conpot’s HTTP server is running on. Then point your browser at `http://ip_address:port`

[2019-02-16 07:59] Hadi-94 commented on #433
Ahaa.. Thanks for the help

[2019-02-16 07:59] #433 closed

[2019-02-16 08:03] Hadi-94 commented on #433
Should I do the same thing if I want to open the HMI from different device? @xandfury

[2019-02-17 07:07] Hadi-94 opened #434 "Adjusting the HMI"
I have been checking online on how does an HMI for Siemens S7 looks like, and most of them looked really complicated comparing to the HMI that Conpot already has. However I still have no idea on if I want to adjust the HMI, What are the basic elements that the real one usually contains ?! I’m thinking about writing it using HTML and JS same as the basic HMI that conpot has.
If anyone has an experi

[2019-02-18 10:24] Hadi-94 opened #435 "Deploying Conpot"
I have some questions regarding Conpot Deployment .. Hopefully anyone in the community can help me out.
I've ran conpot for 1 day using virtual environment, and there was no interaction with it from strange IP addresses (attacks). keeping in mind that I didn't adjust anything in the Simulation Python files as I'm afraid to mess it up.

Does running the conpot in the virtual enviroment means that t

[2019-02-18 16:12] Hadi-94 commented on #430
There is an issue every time I run the nmap code with the script provided for s7-comm,  the outpot script doesn't look like how it should be.

First I ran the script against port 102 and i got this result:
https://imgur.com/a/t8tdhcz

Second, I ran it against port 1020 and I got this result:
https://imgur.com/a/aXpx7GI

there was no details about the s7-comm in the nmap script output. In addition

[2019-02-24 11:01] Hadi-94 opened #436 "Authbind with Conpot"
I've been trying to use Authbind tool with conpot to connect HTTP web server with port 80.

I've configured Authbind tool in the root using these set of commands:

[code]

After exiting the root, I ran the following command to make the server run on port 80:

`    authbind python "conpot/lib/python3.6/site-packages/conpot/protocols/http/web_server.py"`

The error that I'm getting is:

Is the comma

[2019-02-24 11:07] Hadi-94 commented on #430
Update on this issue:
I've found out that Conpot stopped using ports <=1024, and sometimes the port numbers were entered wrong.
However, the issue of not having the same expected results still remains, and I think if i tried to bind Conpot using authbind as it was suggested in one of the issues before it might help in getting information from S7comm protocol and Modbus Protocol.

[2019-02-24 11:07] #430 closed

[2019-02-24 17:39] creolis commented on #436
It's wrong :)

Please do not start an individual protocol module -
you start conpot as a whole :)

Please consult the readme on how to start conpot, then extend that using authbind.

[2019-02-24 17:39] #436 closed

[2019-02-25 03:22] Hadi-94 commented on #436
Hello ..
I did start conpot as a whole using virtualenv tutorial and I still couldn't figure it out .. Can I know the exact command for connecting authbind with conpot ?
your help would be appreciated ..

[2019-02-25 06:33] Hadi-94 commented on #436
I've redefined the authbind tool to give access to the non-root user for these protocols.

https://imgur.com/edit?deletehash=OFI00U6FOKnUNOf&album_id=fJW4WF1

Then I tried to run the following command `authbind --deep conpot -f -t default`
yet still conpot can't seem to be using ports <=1024
I know that I'm missing something, if anyone has an idea pls help..
@creolis @xandfury

[2019-02-26 07:30] Hadi-94 commented on #436
Never mind .. I'v already figured it out .. Thanks anyways

[2019-02-26 10:21] Hadi-94 opened #437 "Conpot Freeze while Nmap Scann"
Hello...
I've been trying to use this command to scan Conpot and get information from it:
`nmap -A -Pn -p1-1000 172.20.10.2`

The output of this scan will come back as in the photo shown bellow:

![52929407_2045163885775948_4450707105120256000_n](https://user-images.githubusercontent.com/47055090/53405310-86ec1b00-39f2-11e9-8ddb-12dae848876d.png)

The Conpot's output console will stop in the middl

[2019-02-27 01:15] xandfury commented on #436
@Hadi-94 You can always share your feedback/experience for others who stumble upon this post 🙂

[2019-02-27 10:17] creolis commented on #436
Sorry for the late replies, we had some tough days due to final GSoC preparations etc. -
but as for your final note: Please don't do that :)

As @xandfury noted ... this is like finding yourself crawling through the desert on the verge of death and stumbling upon a super complicated water tap contraption which is surrounded by skeletons and a note that reads: "never mind, I figured it out", follow

[2019-02-27 10:36] Hadi-94 commented on #436
@creolis @xandfury I was going to share it with u, I just had a long day full of lectures so I didn't have the time to write it down 😅

However, these are the steps that I took to solve this issue:

1- I've downloaded Authbind tool, and reconfigured it to use all ports <=1024.
For the ports that is < 512, u can reconfigure it as these commands in the root (repeat the same command for different por

[2019-03-01 23:32] 10rule commented on #437
Hi,
I just started using Conpot a few month ago, just trying to help here.

From what I can see, you were scanning port 1 to 1000.
Port 102 is S7 port commonly used by PLCs.
The S7Server tried to service the request.
While parsing the packet, the COTP parser threw an Exception (because it was trying to unpack data that wasn't there).
But the S7Server has no catch block to handle the exception.
So

[2019-03-01 23:59] 10rule commented on #435
This is perfectly normal. Honeypots are meant to be trip wires, they only get triggered when there is an intruder inside your network.

The default way of deploying conpot is to bridge host's network to the docker container. (That's what `--network=bridge` is for). Conpot takes on the IP of your host machine.

An easy sanity check to see conpot is running is to do a modbus scan.
`nmap --script mod

[2019-03-03 11:33] Hadi-94 commented on #435
The thing is my research focus more on how attackers interact with SCADA Systems. So what I'm trying to do is that I'm deploying Conpot with no protection or firewalls, hoping to collect some information about attackers and how do they behave when there such system that is not fully protected. I know that Conpot is a low interaction Honeypot and its interaction is quite basic. What I'm hoping for

[2019-03-03 13:45] Hadi-94 commented on #437
Hey ..
I've tried your advice of replacing the line from
`raise ParseException('s7comm', 'malformed packet header structure')`
to
`return`
Here is Conpot's log while the scan is being performed:

[Conpot (2).log](https://github.com/mushorg/conpot/files/2923105/Conpot.2.log)

It didn't work, and Conpot still freezes. Moreover, there are some new errors that appeared, which I think is due to the fac

[2019-03-08 21:45] 10rule commented on #435
Never done this myself, just brainstorming here. You might want to host your conpot online. Then register a bait website that connect back to it. This simulates an industrial control system that was unwittingly connected to the internet. For the bait web page, copy a simple HMI interface. It shouldn't be too hard since HMI looks like they were designed in the 90s.

By default, conpot logs to 2 pla

[2019-03-09 06:25] Hadi-94 commented on #435
Alright .. this is really helpful . . @10rule Thanks for your advice 😁

[2019-03-09 06:25] #435 closed

[2019-03-09 06:27] Hadi-94 commented on #437
@xandfury @creolis Any advice on this issue ?!

[2019-03-11 01:18] xandfury commented on #437
The exception has to be handled in the protocol s7 protocol implementation itself. :slightly_smiling_face:

[2019-03-11 01:28] Hadi-94 commented on #437
@xandfury Are u sure that this is an issue of an S7 protocol ?!
When I directed the scan to port 102 only, Conpot didn't freeze at all. However, when I directed the scan towards port 502 (Modbus protocol), Conpot Freezes and doesn't detect attacks or listen to ports anymore.

[2019-03-11 07:02] 10rule commented on #437
Sorry for the delay, had a busy week.

I just had a look at `Conpot (2).log`.

Here is line 89 to 92:

A quick summery of this code (since I am assuming you are not too familiar with python),
First, we take the incoming packet, call TPKT parse on that and get back tpkt packet
Second we take the tpkt packet, call COPT parse() on that and get back a cotp packet
Third, we examine the type field of th

[2019-03-15 04:39] Hadi-94 opened #438 "Virtualization tool"
What type of a virtualization tool does conpot use ?!
If it doesn’t use any, what type of a tool should I use to count and analyze the results with ?!

[2019-03-15 06:05] xandfury commented on #438
Conpot doesn't support any virtualization tools out of the box. I would recommend to checkout `T-pot` that comes with `conpot` pre-installed. It offers a really nice [kibana dashboard](https://github.com/dtag-dev-sec/tpotce#kibana) :slightly_smiling_face:

[2019-03-15 06:05] #438 closed

[2019-03-15 06:32] Hadi-94 commented on #438
Does the copy of conpot that they have can be adjusted as the one here ?! Meaning that can I change the HMI interface and the basic configurations that conpot holds ?!

[2019-03-16 07:52] Hadi-94 commented on #437
Hey 10Rule ..

This is my first time that I'm working an open source project written in a professional way (I'm still  an undergraduate student with a limited experience in coding), and I'm lost since there are some stuff that is new to me.

However, regarding the issue ...
I've understood your explanation regarding COTP packet and what happens to it in s7_server.py file. I've tried to do your sug

[2019-03-16 07:59] Hadi-94 commented on #437
This is true and I've noticed this several times while conducting my tests using nmap, Some times there will be issues saying that there are some `struct.error` or `malformed packet header structure`, which i think it is effected by the nmap scripts that sometimes aren't well constructed.

[2019-03-16 08:09] Hadi-94 commented on #435
I don't know how usually HMIs looks like, I've been trying to look online and copy one, but mine looked really basic and not that interactive.
If u have a resource/website that might help me out regarding this, It'll be much appreciated.

[2019-03-16 16:42] xandfury commented on #438
Yes. You should be able to. Contact the devs there

[2019-03-17 02:23] Hadi-94 opened #439 "connecting conpot to an online HMI"
I have my HMI hosted online using AWS (S3 serviec) .. How do I make Conpot connect back to it ?! what file should I adjust ?! Is it web_server.py file in http protocol folder ?! or is there a specific tool that i should use ?!
I know that I should put this before docker deployment .. but I'm not sure which file/ tool should I use

[2019-03-17 02:24] Hadi-94 commented on #438
alright ... Thanks

[2019-03-20 12:39] Hadi-94 commented on #439
@xandfury @creolis if you guys have an idea pls help .. thanks in advance

[2019-03-20 13:03] prashantvidja opened #440 "getting error during enip port scanning"
Hello,

I have deploy conpot docker image. But when I scanning 44818 port of enip using nmap
using below coomand.

`nmap -p 44818 -A -v -Pn  [MY_IP]`

I am getting below exception.

`
Failed with exception:
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/lmntrixdecoy/protocols/enip/enip_server.py", line 163, in handle_tcp
  File "/usr/local/lib/python3.6/dist-pack

[2019-03-20 13:03] prashantvidja opened #441 "Gurdian"

[2019-03-21 05:13] PiyushDeshmukh commented on #427
I am also facing the same issue.

I shall let you know to the point I have debugged this, but still no clue on how to resolve the issue.

According to [Bacnet Wiki](http://www.bacnetwiki.com/wiki/index.php?title=PDU_Type) (and also I have seen in wireshark dissector as well), PDU types 1 through 7 are general ones and are supported by bacpypes.

I also received the self.apduType as 8. But this is

[2019-03-21 12:03] emaldahasi opened #442 "Run conpot"
I have this problem,, can you guide me to solve it ..
I installed python from this link https://conpot.readthedocs.io/en/latest/installation/ubuntu.html
and used Ubuntu 16.04

$ sudo conpot --template [default]
Traceback (most recent call last):
  File "/usr/local/bin/conpot", line 4, in <module>
    __import__('pkg_resources').run_script('conpot==0.6.0', 'conpot')
  File "/home/waleed/.local/lib/

[2019-03-21 16:19] xandfury commented on #442
Docs are not up to date. You are trying to tun conpot on python 2.7 while it would work only on python 3.5+. [This guide should get you started](https://conpot.readthedocs.io/en/latest/installation/ubuntu.html)

[2019-03-21 16:19] #442 closed

[2019-03-22 10:29] prashantvidja commented on #441
Hello,

One thing I have found that.
When i am start scanning then One connection established after that it is not disconnected even if i stop scanning. (kill nmap scanner)
That's why I think it is not possible to connect again.
I am pasting log here please check it and help me out from this issue.

Thanks & Regards

[2019-03-23 08:30] prashantvidja opened #443 "IPMI not generating alert in json file."
Hi,

All Protocol generate alert in json file but ipmi protocol not generating alert in json file but it is generating alert in conpot log.
For that i have check code and I found that ipmi is not using conpot/core/SessionManager, It is using its own FakesessionManager.
anybody can help me to generate log in json file?

Thanks.

[2019-03-26 09:09] Hadi-94 commented on #439
after further research .. hosting conpot on an EC2 instance on AWS was a good step for me since it has the ability to help in hosting the full conpot code with an access to the html overthe internet from everywhere.
while S3 services is only for static website, meaning that they don't have a back-end code.

[2019-03-26 09:09] #439 closed

[2019-03-26 09:28] zhangxiaoyus opened #444 "s7comm request It's not there."
除了http以外的其他协议request都是空的，请问这是我配置的问题还是本身就这样

[2019-03-26 09:50] creolis commented on #444
You have to enable the respective protocols in your template first.
Please stick to a language (and character set) that is understood by the majority of GitHub users in order to make these tickets more useful for others, otherwise I'm going to answer in my native language next time :-P

[2019-03-26 10:30] #434 closed

[2019-03-28 07:49] zhangxiaoyus commented on #444
Sorry, thank you for your reminder.
I started the default template, but all the request fields except HTTP are null. How to configure this? I don't understand how to use this for the first time.
![1553758927(1)](https://user-images.githubusercontent.com/35909270/55139190-1c083e00-5170-11e9-99c9-4b347f269924.png)

[2019-03-28 09:43] Hadi-94 opened #445 "S7comm port error while nmap scanning"
Hey ..
I'm scanning s7comm port with this nmap scan

`nmap --script s7-info.nse -p 102 host.ip`

and I'm getting this error on conpot:

This error has appeared recently as it was working fine before, I'm not sure why and I need an urgent help ..

Thanks in advance

[2019-03-28 11:42] Hadi-94 commented on #445
In line 68, when there is a new session , the line of code should be:

`session = conpot_core.get_session('s7comm', address[0], address[1])`

Adding  ` sock.getsockname()[0], sock.getsockname()[1]` will make an issue while creating a session, and will cause this error.

[2019-03-28 11:42] #445 closed

[2019-04-15 08:50] emaldahasi opened #448 "run conpot"
Greeting,,
there still problem once run conpot , I tried to update the version of python from 2.7.12 to 3 using the link of site
(https://conpot.readthedocs.io/en/latest/installation/ubuntu.html),
its updated (I means I have now two folders 1- for python 2.7.12 and there are two folders inside it (site and dist) 2- for python 3.5 and there are one folder inside it (dist)
but if I wrote the command

[2019-04-16 12:51] emaldahasi opened #449 "changing the version of python"
I tried to change the version of python using A simple safe way would be to use an alias from this link (https://askubuntu.com/questions/320996/how-to-make-python-program-command-execute-python-3 )

waleed@waleed-VirtualBox:/$ alias python=python3
waleed@waleed-VirtualBox:/$ python --version
Python 3.5.2
waleed@waleed-VirtualBox:/$ python3 --version
Python 3.5.2
waleed@waleed-VirtualBox:/$ python

[2019-04-17 14:05] santidediego opened #450 "HTTPS support"
Is there any support for SSL over HTTP in HTTP template?

[2019-04-18 01:54] xandfury commented on #450
No direct support. But you can always use some kind of a reverse proxy 🙂

[2019-04-18 01:54] #450 closed

[2019-04-19 22:59] emaldahasi opened #451 "Run conpot using docker"
Greeting

<img width="1209" alt="‏لقطة الشاشة ١٤٤٠-٠٨-١٥ في ١ ٥٦ ٥٣ ص" src="https://user-images.githubusercontent.com/48258393/56448407-85b2dc80-6317-11e9-938f-587b6ec15857.png">

Is there any problem?

[2019-04-25 10:53] simonsigre opened #452 "Exception caught DissectException: proto:s7comm reason:malformed variable header structure"
When testing the `s7` using a `S7-1200 PLC Control` commands to issue a `stop` conpot faults with error;

[code]

The datastream sent was;
[code]

[2019-05-02 12:27] dsshobha opened #453 "unable to move the logs to syslog"
[syslog]
enabled = True
device = /dev/log
host = localhost
port = 514
facility = local0
socket = udp       ; udp (sends to host:port), dev (sends to device)

this is the syslog configuration,but i'm not getting the logs in syslog

[2019-05-15 11:19] mannbavara opened #454 "Improve documentation on Conpot Honeypot"
Which type of attack can be done on conpot honeypot? How are logs generated for specific attack?
What is structure of

[2019-05-15 12:48] creolis commented on #454
I know the state of documentation here on conpot is bad,
but is it that bad that you could not finish the sentence? ;-)

[2019-05-18 13:24] M-VdM opened #455 "Running conpot 0.6.0 natively on Raspberry Pi - PA"
Hi,

With a lot of _trial-and-error_, I managed to install the latest **conpot 0.6.0** on a **Raspberry Pi 3** _(Linux raspberrypi 4.14.98-v7+ #1200 SMP Tue Feb 12 20:27:48 GMT 2019 armv7l GNU/Linux /Python 3.5.3 / pip3 19.1.1 / ...)_
Manually installing those python packages from requirements.txt - a few at the time - eventually did the trick.
Particularly cffi & cryptography proved tough to get

[2019-05-20 05:59] xandfury commented on #455
Sorry about the confusion.
`conpot -f --template default` should work :slightly_smiling_face:

[2019-05-20 18:44] mannbavara commented on #454
@creolis What is structure of logs generated? How to export the logs to .json file?

[2019-05-21 11:14] Vingaard commented on #454
You do need to change the configuration file (-c switch) e.g conpon.cfg to;
[json]
enabled = True

[2019-05-26 17:06] erickonavarro opened #456 "Stream log file from CONPOT to a remote server?"
I want to be able to stream the log events when running CONPOT to a remote server. What is the easiest way to do this?

I'm currently working on a project that involves a Honeypot which is generating events on a .log file. I want to send these events to a remote server. What is the easiest way to do this?

I've been doing some research and tried to do it with rsyslog using imfile but It's not work

[2019-05-30 07:18] xandfury commented on #456
Glad to hear things worked out for you :slightly_smiling_face:

[2019-05-30 07:18] #456 closed

[2019-05-30 07:19] xandfury commented on #448
You need to run conpot in Python 3.5+. Python 2.7 is not supported anymore

[2019-05-30 07:19] #448 closed

[2019-05-30 13:44] creolis commented on #456
Please note that

`InputFileSaverity` will not work :) -> `InputFileSeverity`

[2019-06-10 15:28] samrreynolds4 opened #457 "docker-compose v1.22.0 conpot build fails"
Hello,

I was trying to build conpot using docker-compose and it looks like the tests are failing:
[code]

Docker version: 18.09.6, build 481bc77156
docker-compose version: 1.22.0, build f46880fe

[2019-07-05 19:08] jeffdougherty opened #458 "Unable to build from source"
Summary: I am unable to build and run conpot from source on my Ubuntu 18.04.01 machine.  (See bottom for detailed version info).  I can run conpot by pulling from honeynet/conpot, but trying to build locally either with the `docker` or `docker-compose` methods from the README fails due to failing two of the built-in tests.  It's always the same two:

conpot/tests/test_enip_server.py::TestENIPServe

[2019-07-07 18:10] jnzhuang opened #459 "Modbus server "Illegal data address" exception"
I tried to use conpot as a modbus slave, and I used libmodbus to generate a serial of modbus requests sent to conpot. Unfortunately, each the response packets contains an Exception of “Illegal data address”. (As an example, please take a look at the snapshot of attached pcap file, comprising only one request and one response in modbus protocol). I tried to look up the answer online, and found this

[2019-07-08 03:16] jnzhuang commented on #458
I also encountered these two failures, and what I did was just to comment out the line "RUN py.test -v", and it can be installed and run. As long as you do not need ENIP, you can just circumvent the issue. But  I also yearn professional solutions to these two failures.

[2019-07-08 07:25] xandfury commented on #459
Could you share the details from the XML template? I am interested in looking at the slave id etc.

[2019-07-08 15:09] jnzhuang commented on #459
Thank you very much. Please refer to the attached file. Actually it is just the original default modbus.xml file with only one modification that I changed mode “serial” to “tcp”. My pcap file is also attached.

I tried to read your code yesterday, and the code is written nicely. I found that the exception is raised by self._write_single_coil, which is a function in modbus-tk. Just for your referen

[2019-07-08 15:13] creolis commented on #459
Hey Jianing,

please do not send the attachment via eMail but post the content here on Github :)

[2019-07-08 15:16] jnzhuang commented on #459
Oh, oh. I am so sorry. I will post it on GitHub.

[2019-07-08 15:18] jnzhuang commented on #459
Thank you very much for your attention. Below is the xml file I used. I remember I also changed port number to 502.

===================== modbus.xml ==========================
<modbus enabled="True" host="0.0.0.0" port="502">
    <device_info>
        <VendorName>Siemens</VendorName>
        <ProductCode>SIMATIC</ProductCode>
        <MajorMinorRevision>S7-200</MajorMinorRevision>
    </device_in

[2019-07-08 15:21] jnzhuang commented on #459
Thank you very much for your attention. The file modbus.xml is attached. I remember also that I changed the port number to 502.
[modbus.txt](https://github.com/mushorg/conpot/files/3369067/modbus.txt)

[2019-07-08 16:36] jeffdougherty commented on #458
@jnzhuang Have you tried doing your own local development work, and if so have your changes been included when you build locally?  I notice that during the `docker build` step it pulls an image from Github, so I'm wondering if my changes would even be included.  Any insight?

[2019-07-08 16:44] jnzhuang commented on #458
Actually I do not quite catch your question. But if you want to know if your local changes to xml file take effect in the docker, my experience tells me no. To solve this, I have installed conpot on a virtual machine (ubuntu OS) without docker.

[2019-07-08 18:57] jnzhuang commented on #459
In my request_pdu, the data_address field parsed by _write_single_coil is 304. How could I modify xml file accordingly? @xandfury @creolis

[2019-07-08 20:18] jnzhuang commented on #459
Oh, I found it.
In conpot/templates/default/template.xml
Just to change range(0,128) to range(0,x) where x is something larger than 304 will be fine.
I focused too much in modbus.xml.

[2019-07-08 20:18] #459 closed

[2019-07-08 20:49] jeffdougherty commented on #458
@jnzhuang Can you share what your steps were for that?  It's what I've been trying to do and I've been completely unable to get anywhere.

[2019-07-08 21:08] jnzhuang commented on #458
Sure.
(1) "git clone" the code to your virtual ubuntu-OS machine (not necessarily in /opt folder)
(2) install python3 if you have not (do use python3, never use python 2)
(3) refer to https://conpot.readthedocs.io/en/latest/installation/ubuntu.html#installation, edit source.list, install dependencies.
(4) install python dependencies required. They can be found in the requirement.txt file in conpot

[2019-07-08 21:40] jeffdougherty commented on #458
@jnzhuang You are my new hero.  Finally got it to build and run!

For anyone else who sees this issue: I ran into permissions problems with conpot's temporary FS, and with creating a socket for SNMP (161/UDP).  For the first, I solved it by running with `--temp_dir /tmp` so it's not trying to make its temporary filesystem in the Python egg.  For the second, I used `authbind`, a utility that works

[2019-07-08 21:42] xandfury commented on #455
I hope you issue has been resolved :slightly_smiling_face:

[2019-07-08 21:42] #455 closed

[2019-07-08 21:43] xandfury commented on #451
This looks fine, what behaviour do you expect?

[2019-07-08 21:46] xandfury commented on #449
`alias python=python3` is definitely the wrong way to approach this. You should be using `virtualenv` for this. Please follow the following guide for installation:
https://conpot.readthedocs.io/en/latest/installation/virtualenv.html

[2019-07-08 21:46] #449 closed

[2019-07-08 21:46] jnzhuang commented on #458
@jeffdougherty Glad that it works for you too. Yes, I also use authbind. Good point.

[2019-07-08 21:47] #431 closed

[2019-07-08 21:48] xandfury commented on #443
Could you please share what exactly did you do? For us to replicate the issue :slightly_smiling_face:

[2019-07-08 21:59] xandfury commented on #458
@jeffdougherty @jnzhuang I do not think something like `chmod +777` is a good idea when running a honeypot.
Please try fresh install using this guide: https://conpot.readthedocs.io/en/latest/installation/virtualenv.html. Conpot can be installed via pip. No `sudo`/`chmod`/`chgrp`/`chown` required. :slightly_smiling_face:

[2019-07-09 04:05] jnzhuang opened #460 "How to config conpot for a proper respond for modbus request (Function Code=7)?"
Modbus request (Function code=7) is "read exception".
Is there a way to configure conpot for a proper respond (no exception status code in response packet) by modifying xml file? Or do I have to write python code to override that from modbus-tk?
Thank you.

[2019-07-09 10:26] creolis commented on #451
Explosions! Fireworks! ;)

[2019-07-10 00:02] #460 closed

[2019-07-16 10:55] creolis commented on #458
![image](https://user-images.githubusercontent.com/1753505/61289148-f2c7f800-a7c8-11e9-9566-9d6b4e1f2015.png)

[2019-07-17 00:15] jeffdougherty commented on #458
@xandfury @creolis Your points are well taken.  A couple notes:

1. Most of the permission problems were solved by using --temp_dir=/tmp, so conpot wasn't trying to make its temporary FS in a place where that kind of activity wasn't intended.

2. As I recall, I did have to loosen some file permissions during install.  However, I also kept notes of what I changed and what the original owner and per

[2019-07-26 12:48] tXambe opened #461 "error when execute docker run"
Hello,

When execute:

docker run -it -p 80:8800 -p 102:10201 -p 502:5020 -p 161:16100/udp -p 47808:47808/udp -p 623:6230/udp -p 21:2121 -p 69:6969/udp -p 44818:44818 --network=bridge conpot

I got this error:

docker: Error response from daemon: pull access denied for conpot, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.

Can anyone h

[2019-07-28 16:12] xandfury commented on #461
You need to pull the image before running it. Try:
https://github.com/mushorg/conpot#via-a-pre-built-image

[2019-07-29 11:59] tXambe commented on #461
Hello,

I follow this steps but I got other error:

    Install Docker
    Clone this repo with git clone https://github.com/mushorg/conpot.git and cd conpot/docker
    Run docker build -t conpot . ( when finish this command )

   -- Docs: https://docs.pytest.org/en/latest/warnings.html
    ======== 6 failed, 156 passed, 5 skipped, 11 warnings in 179.92 seconds ========
   The command '/bin/sh -c

[2019-07-29 11:59] #461 closed

[2019-07-31 08:56] tXambe commented on #461
Hello,
I follow the steps of link, but don't run.

sudo docker pull honeynet/conpot
[sudo] password for admlc:
Using default tag: latest
latest: Pulling from honeynet/conpot
Digest:
sha256:cd93e88d9e44b020db691fc4c75cb29e76b5e90ddbc408aca26e6c78c5646976
Status: Image is up to date for honeynet/conpot:latest
docker.io/honeynet/conpot:latest

When I run " sudo docker run -it -p 80:80 -p 102:102 -p 5

[2019-07-31 11:28] xandfury commented on #461
You need to run `conpot` with python3 :slightly_smiling_face:

You should try installing using this guide: https://conpot.readthedocs.io/en/latest/installation/install.html

We are in the process of updating the docs. Would love some feedback :wink:

[2019-08-06 11:01] tXambe commented on #461
Hello,

I run fresh installation of conpot with pyton3 but when I run conpot I have this error.

Invalid arguments supplied. Please check that you pass both template and config arguments before running Conpot

A greeting

[2019-08-13 19:01] raphkasa opened #467 "how to find/create the log file?"
I'm developing a PLC honeypot by using conpot.  I'm very much new to this.
successfully installed conpot and working fine but couldn't able to find the log file. Could you please help me from where i can able to find it. I'm thinking to link into splunk

[2019-08-14 07:44] xandfury commented on #467
You should be able to find the logfile (default: `conpot.log`) at the `CWD` from where you start conpot. You can specify a custom name/location for the logfile using the `--logfile` option when starting conpot.

[2019-08-14 07:44] #467 closed

[2019-08-15 23:58] raphkasa commented on #355
I tried with above choices but no luck. might be i'm doing it in wrong way. Could you please help me:
Attached the screenshot of error
<img width="1498" alt="Screenshot 2019-08-16 at 00 57 49" src="https://user-images.githubusercontent.com/52086186/63134331-e4841c00-bfc0-11e9-8489-79bc8f0e38e8.png">

[2019-09-04 08:45] prashantvidja commented on #443
Hello,

After set JSON log True in testing.cfg I have started conpot with the default template.
But when I am trying to scan ipmi with below command.

`nmap -sU --script ipmi-version -p 623 MY_HOST_IP`

But I am not getting JSON log in the file but for other services I get log.
I am getting below output in conpot console output.

[code]

Please check once the enable JSON log and check.

Thanks.

[2019-09-18 11:05] prashantvidja commented on #11
Any progress?
I am also planning to add dnp3 support in conpot.

[2019-10-09 08:06] Norup123 opened #468 "Conpot keeps restarting"
It worked for a while, and then all of the sudden it just started breaking constantly
conpot.log looks like this:
![image](https://user-images.githubusercontent.com/54578187/66462917-55552b00-ea7c-11e9-8051-24ce02cb97aa.png)
![image](https://user-images.githubusercontent.com/54578187/66462975-6ef67280-ea7c-11e9-820b-f3823c82b336.png)

its been deployed with MHN

[2019-10-09 08:09] creolis commented on #468
Hey! Is there any way to get a better view at your logs?

First of all, screenshots are really inconvenient since they are an accessibility nightmare and they can't be indexed and searched -> but more importantly in your case is that all important messages are truncated, so we have virtually no information to start with..

[2019-10-09 08:28] Norup123 commented on #468
``
[conpot.log](https://github.com/mushorg/conpot/files/3706294/conpot.log)

[2019-10-09 10:03] creolis commented on #468
Oh it's fine, now we can actually read what's going on :)

`2019-10-09 10:11:51,828 Stopping because <Greenlet at 0x7fa02f969890: <bound method HTTPServer.start of <conpot.protocols.http.web_server.HTTPServer object at 0x7fa02f92e110>>('0.0.0.0', 80)> died: [Errno 98] Address already in use`

Did you try to resolve this?

[2019-10-09 10:07] Norup123 commented on #468
Not sure what it means. Is port 80 busy with something else?

[2019-10-09 10:41] creolis commented on #468
;-) Well, that was an easy one.
btw.: if you want to find out which process grabbed port 80,
try

`sudo netstat -anp | grep LISTEN | grep -v LISTENING | grep 80 | awk '{print $7}'`

(root permissions are used to resolve the PID)

[2019-10-09 10:41] #468 closed

[2019-10-30 09:19] Mr-later opened #469 "fs.errors.ResourceReadOnly: resource 'ftp' is read only"
please help me ,Here is the error message and configuration：

~/.local/lib/python3.6/site-packages/conpot-0.6.0-py3.6.egg/bin $ python3 conpot -c ../testing1.cfg --template
 default
WARNING:scapy.runtime:No route found for IPv6 destination :: (no default route?)

                       _
   ___ ___ ___ ___ ___| |_
  |  _| . |   | . | . |  _|
  |___|___|_|_|  _|___|_|
              |_|

  Version 0

[2019-10-31 03:20] Mr-later commented on #469
I find this ，Is MySQL not supported?
![image](https://user-images.githubusercontent.com/24469848/67916133-b4b3e000-fbcf-11e9-981c-6f33cbd9e4fc.png)

[2019-11-01 08:10] Mr-later commented on #469
If you want to save to MySQL
You should modify this file：mysql_log.py,use pymysql  Because Python 3 doesn't support MySqldb
Saving to the database is not recommended because it may cause database information disclosure

------
Now I have a new question，How can I customize the log saving address according to the format of one file a day。The source code is like this, how should I change it。like /var

[2019-11-02 12:17] Mr-later commented on #469
I fix it myself .thank you

[2019-11-02 12:17] #469 closed

[2019-11-04 15:20] creolis commented on #469
![image](https://user-images.githubusercontent.com/1753505/68132481-1309f700-ff1f-11e9-9835-f1db3db4b948.png)

[2019-11-28 03:40] handsome113530 commented on #403
yingjun@yingjun-virtual-machine:/opt/conpot$ sudo conpot
WARNING:scapy.loading:Cannot read wireshark manuf database
WARNING:scapy.runtime:No route found for IPv6 destination :: (no default route?)

                       _
   ___ ___ ___ ___ ___| |_
  |  _| . |   | . | . |  _|
  |___|___|_|_|  _|___|_|
              |_|

  Version 0.6.0
  MushMush Foundation

CRITICAL:root:Can't start conpot with

[2019-11-28 03:42] handsome113530 commented on #403
yingjun@yingjun-virtual-machine:/opt/conpot$ sudo conpot
WARNING:scapy.loading:Cannot read wireshark manuf database
WARNING:scapy.runtime:No route found for IPv6 destination :: (no default route?)

                       _
   ___ ___ ___ ___ ___| |_
  |  _| . |   | . | . |  _|
  |___|___|_|_|  _|___|_|
              |_|

  Version 0.6.0
  MushMush Foundation

CRITICAL:root:Can't start conpot with

[2020-01-18 12:34] palif commented on #457
2 of these test have failed in the building of the docker container and that is why the docker was not able to run the container.

Sometimes the test could be outdated/old and needs to be upgraded due. Therefore, a solution could be to comment out the line that runs the test in the Dockerfile (probably in line 24; "RUN py.test -v").

Hopefully that will work.

[2020-01-22 15:49] cr3wcu7 commented on #431
Good afternoon. Faced the problem above, need help.

[code]

[2020-01-22 16:05] cr3wcu7 opened #478 "does not work! HELP PLZ. ubuntu1~18.04.1"
Installed docker at https://docs.docker.com/install/linux/docker-ce/ubuntu/

Run: `docker pull honeynet/conpot` -OK

1) Run: `docker run -it -p 80:80 -p 102:102 -p 502:502 -p 161:161/udp --network=bridge honeynet/conpot:latest /bin/sh`

2) `~ $ conpot -f --template default`
/bin/sh: conpot: not found

prints no found....ok

1.1) Run: `docker run -it -p 80:80 -p 102:102 -p 502:502 -p 161:161/udp --

[2020-01-22 18:05] creolis commented on #478
... please mind the default HTTP listening port, according to the log output you attached

[2020-01-22 18:05] #478 closed

[2020-01-23 03:09] cr3wcu7 commented on #478
I paid attention to it, the result is the same, im used.
I used the following:  sudo docker run -it -p 80:8800 -p 102:10201 -p
502:5020 -p 161:16100/udp --network=bridge honeynet/conpot
Also did not give results.

Help me pliz

ср, 22 янв. 2020 г. в 23:05, creolis <notifications@github.com>:

[2020-01-24 07:34] xandfury commented on #478
@cr3wcu7 Can you share the output of `sudo docker ps`? Also `sudo netstat -antp | grep 80`

[2020-02-20 14:00] KKAB-FK opened #480 "Logging to MySQL, not working"
I have a Conpot fully setup to look as close to a real PLC as possible ie. nearly finished :)
According to a previous statement https://github.com/mushorg/conpot/issues/469#issuecomment-548200494 the logging to a MySQL database is no longer supported?

What is the solution to this?, What do i need to do in order to be able to log to a MySQL database?

BR.
Felix

[2020-03-11 08:07] Rajeshinfosec opened #481 "Unable to run IPIM"
Hi, i am trying to run the conpot with IPIM template. it is showing below error. Can you please have a look at the below error. could you please guide me.

WARNING:root:--force option specified. Using testing configuration
2020-03-11 13:31:00,371 --force option specified. Using testing configuration
2020-03-11 13:31:00,372 Starting Conpot using template: /home/testing/conpot/lib/python3.6/site-pac

[2020-03-26 18:25] JesseBowling commented on #440
I'd also like to know if this is something that should be fixed. In an nearly identical scenario I'm seeing these errors. I'm actually trying to figure out why connections to this port don't result in messages being send to the hpfeeds logging mechanism; no messages are sent for this port almost all of the logging for these connections is filled with tracebacks.

[2020-03-27 06:16] prashantvidja commented on #440
Hi,
I have fixed the issue by making some changes.
Please check below enip_server.py file.
[enip_server.zip](https://github.com/mushorg/conpot/files/4391831/enip_server.zip)

[2020-03-27 09:05] xandfury commented on #481
For binding port 623 you need sudo permissions. Since we do not recommend running conpot as root user, you can either:
- change port 623 to something > 1024
- use authbind etc. if you really care about the port.

[2020-04-01 12:01] Noggerman opened #482 "bug in IEC104_server.py"
Hey, I found a bug in [IEC104_server.py](https://github.com/mushorg/conpot/blob/master/conpot/protocols/IEC104/IEC104_server.py).
When confronted with an input of only one byte, the server gets stuck in the while statement at line 58.
[code]
The permanent loop results in a cpu overload and it could be exploited for denial-of-service attacks.

The same bug occurs, when the server is fed an input wh

[2020-04-02 08:20] Flyour commented on #11
Six years on, we're still in demand for DNP3, and the old branch is no longer usable.

[2020-04-02 08:22] glaslos commented on #11
You think you can help in any way?

[2020-04-05 14:45] adepasquale commented on #440
@prashantvidja so you basically added a `session`?

Please make a pull request instead of uploading a zip file

[2020-04-05 16:22] #440 closed

[2020-04-11 16:14] xandfury commented on #482
@Noggerman Which template are you running? Check here:
https://github.com/mushorg/conpot/blob/b2836c848f6998eaf41597931116559f96350456/conpot/protocols/IEC104/IEC104_server.py#L48-L49

A timeout should be raised if the key `T_3` is set on the template.

[2020-04-14 09:00] Noggerman commented on #482
I'm running the template "IEC104" with the testing configuration (`conpot -f -t IEC104`). A timeout was never raised. The key is being set in line 363 of [template.xml](https://github.com/mushorg/conpot/blob/master/conpot/templates/IEC104/template.xml). It should trigger after 20 seconds, but it doesn't.

[2020-04-14 13:14] handsome113530 commented on #238
hello，I  install conpot as required,but  can not open localhost, and namp is normally
![image](https://user-images.githubusercontent.com/57380370/79228882-c1ce3e00-7e94-11ea-8cd0-61fd3722e2f7.png)
![image](https://user-images.githubusercontent.com/57380370/79228958-da3e5880-7e94-11ea-8901-142a0147c450.png)
![image](https://user-images.githubusercontent.com/57380370/79228985-e4f8ed80-7e94-11ea-928e

[2020-04-14 14:10] xandfury commented on #482
Thanks for the information. In that case, it needs to be investigated :slightly_smiling_face:

[2020-04-15 03:05] handsome113530 opened #484 "can not open http:// localhost"
hello，I install conpot as required,but can not open localhost, and namp is normally
![image](https://user-images.githubusercontent.com/57380370/79294482-dea45900-7f08-11ea-8bf8-3475d554a6bd.png)
![image](https://user-images.githubusercontent.com/57380370/79294510-ef54cf00-7f08-11ea-8661-c88215d4f882.png)
![image](https://user-images.githubusercontent.com/57380370/79294527-fa0f6400-7f08-11ea-8125-b

[2020-04-30 11:52] Sehrish-Shafeeq opened #485 "Conpot STIX logging error"
I want to create stix of conpot logs. To do so, I have enabled `taxi` in the `testing.cfg`. But enabling taxi generated following errors in the conpot.

`/usr/local/lib/python3.6/dist-packages/stix/utils/deprecated.py:48: UserWarning: The use of this field has been deprecated. Received 'str' object.
  warnings.warn(msg)
/usr/local/lib/python3.6/dist-packages/stix/utils/deprecated.py:48: UserWarnin

[2020-05-09 17:37] srenfo opened #486 "Inconsistencies regarding Python version"
Conpot is currently all over the place with regards to its Python version:

1. [Travis and tox](https://github.com/mushorg/conpot/commit/b2836c848f6998eaf41597931116559f96350456) were recently bumped to Python 3.7.
1. [setup.py](https://github.com/mushorg/conpot/blob/master/setup.py#L8) specifies Python 3.6 in two places.
1. [The Dockerfile](https://github.com/mushorg/conpot/blob/master/docker/Doc

[2020-05-09 17:55] srenfo commented on #486
Addendum to clarify why this is all interconnected: Right now Travis only tests Python 3.7. If a Python 3.6-incompatible change were to be committed, Travis would not catch it. The Docker-based deployments would break but that would go unnoticed until someone complains. The Docker stuff is not tested as far as I can see.

TBH, the more technologies are involved the more complex this is to get righ

[2020-05-10 20:53] srenfo opened #491 "Wonky coverage reports"
There appears to be something wrong with the coverage setup for PRs. Decreased coverage is reported for unrelated files. Affected PRs are at minimum #488, #489 and #490.

For example, it is incomprehensible to me how #489 should have caused coverage changes in 6 files, in particular since none of those 6 files were even remotely modified by this PR.

[2020-05-12 05:52] xandfury commented on #486
Hi @srenfo As you might've guessed we currently only support version 3.6. Although we are aiming to transition to py3.7 soon. This is the reason why we are running tests with py3.7. Although not officially supported - conpot should run fine on 3.5 as well.

Although you are right about the python badge - it should update when we do a release.

[2020-05-12 05:53] xandfury commented on #491
Feel free to investigate this.

[2020-05-12 19:11] adityasriv22 opened #492 "Ethernet IP template customisation not working"
The default enip template has this as part of device identification
<enip enabled="True" host="0.0.0.0" port="44818">
    <device_info>
        <VendorId>1</VendorId>
        <ProductName>1756-L61/B LOGIX5561</ProductName>
        <DeviceType>14</DeviceType>
        <SerialNumber>7079450</SerialNumber>
        <ProductRevision>2562</ProductRevision>
        <ProductCode>90</ProductCode>
    </devi

[2020-05-12 19:45] srenfo commented on #486
Part of my point was that you can test all versions simultaneously if you set up tox that way. Hence PR #488.

But fair enough regarding a transition. Do you want to close this issue or do you want it as a reminder for when the time comes?

[2020-05-12 23:01] srenfo opened #494 "Code style is not enforced"
The code has plenty of PEP 8 violations. That's not surprising given its size and its many authors.

For example, _even ignoring line length_, `pycodestyle` finds 300 violations on the current `master`:

[code]

There are plenty of tools to combat this, including `pycodestyle`/`flake8`, `pylint`,  or `black`.

**Suggestion:** pick one and include it in the test suite.

The biggest issues is that t

[2020-05-13 05:28] xandfury commented on #494
I really like black. Although we can just integrate something like codacy into our pipeline. That would also cover static analysis.

[2020-05-13 05:33] xandfury commented on #484
Check with your docker IP please. Also make sure that packets are reachable from your host to the container. You might wanna run it with something like: `--network_mode=host` as a docker run param

[2020-05-15 01:15] hAbd0u commented on #431
@cr3wcu7 Try this command, it has the correct ports:
[code]

[2020-06-10 22:07] lorwhal52 opened #496 "Where to find event logs?"
Hi, sorry for the silly question but I'm new with honeypots, I have conpot running and I was wondering how can I know if someone is "attacking" me? And how can I see informations about these attacks?

[2020-06-30 03:57] Flyour opened #497 "may be a error in IEC104 server"
https://github.com/mushorg/conpot/blob/ff7e786ecc9d4a015a27147fe4355f5cd7532db9/conpot/protocols/IEC104/IEC104_server.py#L111

[code]

we use err[0], buf we determine whether err.args are tuples.
So I got the following error:

[code]

[2020-07-05 12:58] glaslos commented on #497
Hey @Flyour do you want to send a PR to fix this issue?

[2020-07-05 13:05] glaslos commented on #496
Hi @lorwhal52 there should be a file called `conpot.log` with the events logged. There should be also output on the console once Conpot is running. You can configure the log file location by passing the `--logfile` argument.

[2020-07-05 13:05] #496 closed

[2020-07-05 20:47] glaslos commented on #494
Created a GitHub Action with black, let me know what you think.

[2020-07-05 20:56] glaslos opened #500 "Refactor bin/kamstrup_prober.py"
Refactor the `bin/kamstrup_prober.py` to use a `__main__` and everything should be in functions.

[2020-07-05 22:32] glaslos commented on #494
I run `black` fixing the styling issues. PR is here #501

[2020-07-17 02:15] opliyal3 opened #502 "Conpot can't start"
OS:
ubuntu 18.04
python3.6
I use pip install conpot, and i wanna started it

use commend: conpot, they give me some error
Can't start conpot with root. Please ref user docs for more info.

use commend: conpot -f --template default,
2020-07-17 10:13:29,103 Running conpot with root. Running conpot with root isn't recommended.
2020-07-17 10:13:29,104 Privileges dropped, running as "nobody:nogroup"
WA

[2020-07-17 17:55] srenfo commented on #494
That's really cool.

You could add `black --check conpot/ bin/` to `tox.ini` as well for local testing, but that would do the checks twice. I don't know if it's worthwhile. :shrug:

[2020-07-17 17:55] #494 closed

[2020-07-20 12:14] srenfo opened #503 "Missing documentation for local execution of pytest/tox"
There is no explicit documentation on how to run the test suite.

As for requirements, at the very least `ipmitool` needs to be installed on Debian/derivatives, in addition to the other requirements. Currently, that fact is only implicitly documented in `travis.yml` and `Dockerfile`. `ipmitool` is not required at runtime and is therefore (appropriately?) missing from [install.rst](https://github.c

[2020-07-21 14:36] glaslos commented on #503
How about extending https://conpot.readthedocs.io/en/latest/development/guidelines.html ?
Maybe add more deep links to the README?

[2020-07-21 15:13] Xsenonn opened #504 "Conpot K8S"
## Expected Behavior

Kubernetes should start a few pods containing Conpot instance.
Conpot should start and put logs on mounted volume.
## Current Behavior

Kubernetes creates Deployment, but Conpot Pods crash giving error below.
![Kubernetes-conpot-error-1](https://user-images.githubusercontent.com/17640891/88071636-5fac6580-cb74-11ea-8842-be5dd18b70f7.png)
All volumes for logs are mounting prop

[2020-07-27 07:19] utku461 opened #505 "Conpot - Attack Scenario"
Hey guys,

I wanted to test the functionality of my new deployed honeypot Conpot. Therefore I wanted to ask you guys, which attacks could i try to test conpot, like for example which attacks are the most common used against conpot?

greetings

Utku

[2020-08-11 06:10] fgod opened #506 "Changing mac address require sudo permissions"
When i try to edit config file to change the mac address, this warning show up.Then i try to run conpot with sudo it says "Running conpot with root isn't recommended."
So how can i change the mac address and run conpot without root?

[2020-08-13 15:57] lemorn opened #507 "Error in log and snap7 can't receive avaliable messages from conpot"
Hello! I met a problem when I ran conpot in default template. When I run conpot on my cloud server(OS is Ubuntu and the conpoot version is 0.6.0), a error appeared:
![图片](https://user-images.githubusercontent.com/53805865/90155929-7a15df80-ddbe-11ea-837b-d89cf9edf9f5.png)
and my snap7 can't receive avaliable messages about this "S7-PLC".
![图片](https://user-images.githubusercontent.com/53805865/901

[2020-08-13 15:59] t3chn0m4g3 opened #508 "BacnetServer breaks with error"
I am getting the following error when trying to start the `default` template:
[code]

Everything works fine up to and including commit 7a77329cd99cee9c37ee20e2f05a48952d8eece9.

[2020-08-13 16:29] t3chn0m4g3 opened #509 "OID missing"
For IEC104 I am getting the following warning:
[code]
I am using the following MIB database:
[code]
Do you have any suggestions?

[2020-08-16 07:16] Vingaard commented on #505
Hello,
I would suggest standard nmap stuff -perhaps combined with the S7 NSE script like
nmap --script s7-info.nse -p 102 <IP_of-Honeypott>

[2020-08-16 07:22] Vingaard commented on #506
Hi there - my suggestion would be to look into the visudo command - to allow non privileged user to "run as root"
google e.g "visudo sudo non privileged user" for further details

[2020-08-26 11:45] tomac opened #511 "Error in modbus server"
[code]

[2020-08-28 12:07] srenfo commented on #509
You're seeing this because this [used to be a debug-level message rather than a warning](https://github.com/mushorg/conpot/commit/c0319e98e3fa8b6ce90ed9efc63de78ee2162cf8#diff-a4bb36aa9be0fe1cd8e4ef87403a5861L142-R141) until recently.

The fix is to remove `ifOutUNcastPkts` from the template, but read on if you want to keep it.

When @pudii added the IEC104 template, their IF-MIB (or maybe the dev

[2020-10-05 09:19] #454 closed

[2020-10-14 04:19] gokul-lucifer commented on #502
Hi @opliyal3
you have to release the permission at  /root/conpot/lib/python3.6/ you can use **sudo chmod -R 777 ./** on that directory
then **run conpot -f --template default**
note: you shoud not run conpot  using **sudo**
This will surely work

[2020-10-19 02:36] gokul-lucifer opened #515 "Default template-#Query"
Hi
The default template will simulate  **Siemens S7-200 CPU** with help of all  **.xml** in **/template/default/** directory,
If i want to simulate any other plc  vendor whether its  enough to change those xml files?

[2020-10-19 19:02] glaslos commented on #515
Depends :) it might be enough but it really depends on what you are trying to emulate.

[2020-10-19 19:04] glaslos commented on #511
Did you get this error when you did a request to Conpot or did you see it in the wild? If you are doing the request, the client didn't send a payload. If this is in the wild, same reason. We could safe-guard against it.

[2020-10-21 05:20] #515 closed

[2020-10-25 11:21] #497 closed

[2020-10-25 21:08] BusinessFawn commented on #500
Took a crack at this one.

[2020-10-27 20:45] glaslos commented on #508
@t3chn0m4g3 can you try the latest master?

[2020-10-27 21:19] glaslos commented on #507
1) what requests are you sending causing the error?
2) have a look into the conpot/templates folder. It should give you an idea how to emulate devices
3) check the conpot/templates folder and the files inside. You can also use @docker-compose@ to run the container.

[2020-10-27 21:30] glaslos commented on #504
It seems to be a permissions issue as you can see on line 5 of the screenshot. I'm closing the issue as it should be filed with T-Pot, cc @t3chn0m4g3

[2020-10-27 21:30] #504 closed

[2020-10-28 11:43] t3chn0m4g3 commented on #504
@glaslos Works perfectly fine in T-Pot 😃 Seems this is / was a custom build.

[2020-10-28 12:40] t3chn0m4g3 commented on #508
@glaslos Thank you, works perfectly fine now 😄

[2020-10-28 12:40] #508 closed

[2020-11-02 05:03] gokul-lucifer opened #519 "Dockerfile error"
Hi,
I'm trying to build a docker image with your dockerfile, while installing dependency **mysqlclient==2.0.1**  in requirement.txt throws error as,

[code]

[2020-11-02 20:21] srenfo opened #520 "Conpot should not depend on external service"
The SNMP protocol should not use a hardcoded server to fetch MIBs. In fact, downloads at runtime should probably be avoided altogether.

The offending lines are:

https://github.com/mushorg/conpot/blob/ff09e009d10d953aa7dcff2c06b7c890e6ffd4b7/conpot/protocols/snmp/command_responder.py#L62-L64

This has caused issues in the past (#516, possibly #510) when snmplabs.com went down (https://github.com/

[2020-11-02 21:46] srenfo opened #521 "Dockerfile should build current code"
Despite a very misleading comment, the Dockerfile will always build the public `master` rather than the code in the current working copy:

https://github.com/mushorg/conpot/blob/ff09e009d10d953aa7dcff2c06b7c890e6ffd4b7/docker/Dockerfile#L6-L9

If Docker is the recommended way to run Conpot then it should be possible to do so during development.

[2020-11-02 22:15] srenfo commented on #521
After an (admittedly quick) attempt at fixing this I'm not sure anyone actually uses the Dockerfile in production. It appears broken for the current code even beyond #519.

If the Docker approach is abandoned I suggest it is deleted rather than fixing this issue. If it is not I highly suggest it is incorporated into the CI pipeline (cf. #486).

Though again, I only had a quick go at this, so the e

[2020-11-03 00:03] glaslos commented on #521
No, I can confirm the Dockerfile is borked. I'm working on a new one. I'll create a draft PR tomorrow. I'm a bit stuck or just need a 2nd pair of eyes...

[2020-11-03 00:07] glaslos commented on #521
See here: https://github.com/mushorg/conpot/pull/522

[2020-11-04 01:22] glaslos opened #523 "Replace pycrypto with cryptography"
Pycrypto is deprecated and also lacks a wheel. Replace with https://cryptography.io/en/latest/hazmat/primitives/symmetric-encryption.html

[2020-11-04 07:45] Han-zb commented on #507
1. "snap7 can't receive avaliable messages", this is probably because the conpot is emulating a s7-200 PLC,  different series of plc needs different  connection codes when sending s7comm, tpkt and cotp, you can have a try using the codes below:
[code]

2. the conpot is running in the docker, the ports 5020, 10201, 8800 are the docker container ports. And when you first create a container to run co

[2020-11-04 08:02] Han-zb opened #524 "s7 read and write"
conpot didn't implement read and write and other methods in the s7 protocol, but i want to  communicate with conpot using s7 protocal.
can anyone give me some tips on how to implement these methods? for example how to realize the db blocks, and what other code i need to add into the conpot?  i'm wondering if the snap7 library would help.
thanks a lot!

[2020-11-04 20:12] glaslos commented on #486
@xandfury how about dropping all other versions than 3.8?

[2020-11-09 22:06] glaslos opened #527 "Travis run on Push and PR"
On every commit to a PR Travis runs the tests on the PR itself and on the master branch with the PR merged (only if it auto-merges). I would be in favor of dropping the latter. We might end up with the merge into master failing but I would take that risk in favor of running less jobs, saving Travis minutes and not having to wait. Opinions?

[2020-11-09 22:08] glaslos commented on #457
Should be fixed with #522

[2020-11-09 22:08] #457 closed

[2020-11-09 22:09] glaslos commented on #519
Will be fixed in #522

[2020-11-09 22:09] #519 closed

[2020-11-09 22:10] glaslos commented on #458
This will be fixed with #522

[2020-11-09 22:10] #458 closed

[2020-11-09 22:10] glaslos commented on #451
LGTM and the warning should be gone.

[2020-11-09 22:10] #451 closed

[2020-11-10 16:11] glaslos commented on #486
@srenfo do you have a version preference or is consolidation on any version sufficient?

[2020-11-10 16:14] xandfury commented on #486
Yep. Agreed. We can drop versions below `3.8`

[2020-11-10 16:23] xandfury opened #528 "Create conpot binaries"
We should start generating and distributing conpot binaries with each release. We can use `pyinstaller` which can generate static binaries. Github actions would be perfect for this. Since it would create platform dependant binaries.

We should start with at least binaries on OSX and Debian :slightly_smiling_face:

[2020-11-11 14:16] AlvinKuruvilla commented on #500
This issue should be closed

[2020-11-11 14:22] AlvinKuruvilla commented on #523
I want to take a stab at this do you think you could list the files that use pycrypto? Just so it be easier for me and any other people who want to assist

[2020-11-11 14:39] #500 closed

[2020-11-11 14:50] AlvinKuruvilla commented on #523
Thanks, I will take a look

[2020-11-11 16:51] AlvinKuruvilla commented on #523
@glaslos I'm having an issue with the `decrypt()` function in pycrypto and I wanted to see if you had any suggestions

So in the code currently this is how a new AES cipher is made:
`decrypter = AES.new(self.aeskey, AES.MODE_CBC, iv)`

I believe I have matched that functionality with:
`backend = default_backend()`
`cipher = Cipher(algorithms.AES(self.aeskey), modes.CBC(iv), backend=backend)`
Which

[2020-11-11 19:03] srenfo commented on #486
My original issue was with the inconsistent handling of Python versions in the repo. IIRC it had caused some local issue at the time, but I don't recall what it was.

I think we're making this issue more difficult than it is. There is only **one** fundamental question and two (or two and a half) pieces of additional configuration and documentation that derive from the answer:

1. What is the minim

[2020-11-13 10:01] srenfo commented on #528
I like to use [pipx](https://github.com/pipxproject/pipx) to similar effect.

Dependencies get installed in an isolated environment and a "binary" magically appears in your PATH.

[2020-11-13 10:58] glaslos commented on #523
@AlvinKuruvilla did you try the example? https://cryptography.io/en/latest/hazmat/primitives/symmetric-encryption.html#cryptography.hazmat.primitives.ciphers.Cipher

[2020-11-13 11:02] glaslos commented on #528
@srenfo I assume @xandfury wants to improve ease of distribution

[2020-11-13 16:00] #521 closed

[2020-11-13 16:03] glaslos opened #531 "Improving communication"
Hey, I'd like to improve communication within the project a bit more. Give me a

- :flying_disc: if you are for discord
- :sled: if you are for slack

Comment on the issue if you have better suggestions.

[2020-11-13 16:07] glaslos commented on #520
We could also drop `get_ext_ip`, I don't recall exactly why needed this in the first place :thinking:

[2020-11-13 17:23] srenfo commented on #520
git blame led me to #40 (there's a commit linked in the issue). :sunglasses:

I'm all for removal if it's not needed. In the code it's only used in the `LogWorker`. It's being added to every emitted event. Maybe someone who currently runs Conpot in production (@t3chn0m4g3?) can chime in as to its usefulness?

We can always do a [Scream Test](http://v-wiki.net/the-scream-test/), i. e. remove it and

[2020-11-13 18:03] glaslos opened #533 "RFC: Dropping support for changing MAC address"
There has been a number of issues with this feature: #506 #280 #234
It is a OS specific feature and we only support one OS (potentially not all flavors of that OS)
We could drop more complexity of something that should be done from the host or in the container/VM configuration.

[2020-11-13 20:25] glaslos commented on #520
Yeah, this was from back in the day when we assumed people would setup sensors and contribute to the hpfeeds network :)

[2020-11-15 13:49] glaslos opened #534 "Replacing XML for templates"
For #525 I had to write some XML which was rather unpleasant... I'm suggesting to replace our use of XML for defining the templates with something more human readable, suggestions welcome.
I would definitely like to maintain the ability to verify a template with a schema. Whatever we decide to replace XML with, doesn't need to support a schema. but we can [verify the JSON](https://pypi.org/project

[2020-11-15 13:51] glaslos commented on #527
I disabled the testing of the merged PR.

[2020-11-15 13:51] #527 closed

[2020-11-15 14:28] glaslos commented on #520
I don't think @t3chn0m4g3 is using MySQL, he usually collects data using hpfeeds or structured logs IIRC

[2020-11-15 14:39] t3chn0m4g3 commented on #520
@glaslos Correct, not using MySQL. WRT `get_ext_ip` this is probably interesting for folks who run Conpot in a docker container to log the external `dest_ip`.

[2020-11-16 08:42] zainalawaludin opened #535 "config with hpfeeds"
where location config file if i want to send data to hpfeeds? FYI i install conpot with docker pull honeynet/conpot. Thanks

[2020-11-16 10:27] srenfo commented on #531
:flying_disc:

[2020-11-16 12:10] srenfo commented on #534
I would steer clear of JSON [1][2] and YAML [3], except maybe [StrictYAML](https://github.com/crdoconnor/strictyaml) [4]. Googling for "JSON configuration" had two articles advising against it in the first four results for me. You can find plenty about YAML issues and gotchas as well. I have had minor (JSON) to medium (YAML) issues using them as configuration myself.

On the other hand, with [PEP

[2020-11-16 12:33] srenfo opened #536 "Flatten template directory structure?"
For simplifications beyond #534 the template directories could be flattened a bit.

Currently:

[code]

Suggestion: Move the protocol XMLs up by one level. Keep the subdirectories for protocols that want auxiliary files.

[code]

Pros: Easier to navigate and thus easier to modify and to keep track of.

Cons: It may look odd to have both an `http.xml` and an `http` directory. Also, `template.xml` i

[2020-11-16 14:43] glaslos commented on #536
How about stuffing all protocols into a flat `protocol` folder with `http` as suggested? Kind of a middle ground?

[2020-11-16 14:56] srenfo opened #537 "Description of default template no longer accurate"
The current help text of the `default` template is outdated and wrong:

[code]

For reference:

[code]

(`ssl` is not a protocol)

This does not strike me as an S7-200 any more. IMO we could/should

- [ ] Rewrite the description
- [ ] Check the other templates for outdated descriptions
- [ ] Derive the "Protocols" section from the filesystem rather than try to keep filesystem and XML in sync
- [ ]

[2020-11-16 14:56] glaslos commented on #535
When you run the container Conpot will tell you which configuration was chosen (close to the top of the output). You can then override this config with `docker run -v your_config.cfg:/LOCATION_OF_THE_CFG...` replace `your_config.cfg` with the modified config you want to use and `LOCATION_OF_THE_CFG...` what you see in the containers output from where it get's the config. Could be:

`docker run -it

[2020-11-16 14:59] glaslos opened #538 "The docker container should use a specific config"
Currently we run the container with `-f` forcing to use the testing config. This is rather problematic...
Create a new `docker.cfg` with sane defaults and modify the container to use this configuration.
Add documentation on how one can use `docker run -v config.cfg:config.cfg` to modify the containers configuration of Conpot.

[2020-11-16 15:02] glaslos commented on #537
Haha, I was about to create a new ticket for the template description :joy:
how about renaming `default` to `sample`? IIRC that was the intention, to show a basic configuration for all the protocols available.

[2020-11-16 15:28] glaslos commented on #534
Yeah, I share your experience. There are options which are more structure (e.g. HCL) but I'm also leaning towards something which is easy to understand and familiar. I keep this issue around for a bit longer before making a decision. Maybe @t3chn0m4g3 or @xandfury have some input as well.

[2020-11-17 07:23] zainalawaludin commented on #535
hi @glaslos can u share code of config how send data from conpot to hpfeeds? because i have create config file with activated hpfriends but doesn't work :

[hpfriends]
enabled = True
host = 117.53.44.90
port = 10000
ident = isifconpot
secret = password1234
channels = ["conpot.events", ]

[2020-11-18 01:27] #535 closed

[2020-11-20 11:05] srenfo commented on #537
Sure. Changing the `Desc:` text to match should be non-controversial then if that was the original intention anyway. :smiley_cat:

Is there any value in restoring an S7-200 template? I don't know how close to reality that template was to begin with or how much demand there might be.

[2020-11-20 11:13] srenfo commented on #536
Do you mean their XMLs or their auxiliary data?

Either way this is not a big deal, but we were talking about simplifying things anyway :see_no_evil:

[2020-11-21 10:46] lukacsnikolett opened #539 "Non of the quick installation methods work"
The documentation mentions 3 ways to install conpot but non of them works. Building it is not possible either way, the 7. step of the Dockerfile fails. The pre-build image starts, but when I run conpot it says 'conpot not found'.
How can I start this thing? Please update the docs with a method that is actually useful and isn't wasting my time.

[2020-11-21 12:42] glaslos commented on #539
This tone is not appreciated. We work on Conpot in our free time and make it available for free.

[2020-11-21 12:49] glaslos commented on #539
I just build the container from the latest Dockerfile. It worked for me. My only guess is that you or a dependency had a network issue during the installation of the dependencies (step 7). If you would provide more details on how it fails, I could give you more help.

[2020-11-21 12:55] glaslos commented on #539
The pre-build conpot can be run with `/home/conpot/.local/bin/conpot -f --template default`

[2020-11-21 13:18] glaslos commented on #536
This was my suggestion. It would keep the visibility for the template.xml
[code]

[2020-11-22 23:52] glaslos opened #540 "Refactor bin/conpot"
* Would be nice if it can be a file conpot.py with Python extension. setup.py needs to be updated to make this possible.
* The file should only do flags, startup message and initializing/running Conpot.
* Everything template should be in a separate module.
* Everything starting protocols should be in a separate module.
* Everything logging should be in separate module.
* Everything moved into a se

[2020-11-23 20:31] glaslos commented on #480
Hi Felix,
Did you find a way around it? MySQL was discontinued during the python3 migration and we are about to completely remove it :) If you really need MySQL support, I'd suggest using the event stream and writing your own MySQL writer.

[2020-11-23 20:32] glaslos commented on #453
Did you confirm you can receive a syslog on port 514? Any error messages?

[2020-11-23 20:33] glaslos commented on #359
What format do you expect? `$protocol.$transport.$msg` ?

[2020-11-27 06:22] SubhasisMukh opened #541 "Conpot in docker-compose does not work with oschameleon"
I have been using Conpot,  for quite a while now. There is also a tool that is used to change the fingerprint of a machine by fooling nmap probes. It is called [Oschameleon](https://github.com/mushorg/oschameleon). Oschameleon flushes iptables in the machine it is being run. Now, when I run Conpot by using docker-compose along with Oschameleon in the same machine, one of them (either Conpot or Osc

[2020-11-27 17:27] jjjan commented on #359
yeah may be good

[2020-12-06 12:11] glaslos commented on #541
Can you specify what you mean with "one of them [...] does not work"?
Did you verify your assumption regarding the iptables rules?
Seems like this is a weakness of OSChameleon assuming nobody else is using iptables. This could be solved in OSChameleon by only flushing its own rules instead of doing a full flush. I haven't been working on OSChameleon for a long time, so you might have to figure it

[2020-12-06 12:11] #539 closed

[2020-12-22 16:47] KKAB-FK commented on #480
Hi Lukas,
Sorry for the late response!

Yeah i saw that to :(
I don't necessarily need MySQL support, a Syslog would work just as good hopefully, unfortunately i haven't got that to work either :(, hence why i opted for MySQL.
I'll give the Syslog a work once more ;). Btw. is it verified that Syslog will work?

Seasons Greetings from Sweden :)
//Felix

[2021-01-10 18:19] NishantPuri99 commented on #540
Hi, Can I try this out?

[2021-01-10 18:21] NishantPuri99 commented on #538
Hi, Can I try this one? Could you please provide me a direction for it?

[2021-01-10 18:22] NishantPuri99 commented on #523
I have a fair knowledge of Python, may I try this one out?

[2021-01-10 23:34] glaslos commented on #540
Of course, no need to ask :)

[2021-01-10 23:36] glaslos commented on #538
Can you explain what you have done so far and where you are stuck? Is there something unclear from the ticket?

[2021-01-10 23:39] glaslos commented on #523
Sure, go aheard.

[2021-01-11 05:06] NishantPuri99 commented on #523
Thanks @glaslos I'll get working with this in a few days

[2021-01-11 05:07] NishantPuri99 commented on #538
I just started out with this issue. I'm currently trying #523 and #540 . I'll try this out as soon as I've done the other two. Thank you

[2021-01-22 20:24] cancantian opened #543 "little bug in kamstrup usage simulator"
def _get_energy_in_lowres(self):
        return self.energy_in / 1000

    def _get_energy_out_lowres(self):
        return self.energy_out / 1000

In Python 3 the / operator is a floating point division, // for integer division.
this will cause typeError in message.py
low_endian_value_packed.append(register_value & 0xFF)

[2021-01-30 21:58] srenfo commented on #540
Ideally there would also be tests where possible. Don't know if you want to add this to the requirements.

I realize that testing `main()` is notoriously difficult, but with a split in separate modules (or at least functions) this should be much easier.

[2021-02-01 09:49] #531 closed

[2021-02-18 12:05] bhanu123437 opened #550 "Help with a liquid tank project"
hello can anyone help me  i want to make an water tank level project in conpot and i dont know how to integrate the python code with conpot and how to show different level of tank in that and to show that level  i saw the video on youtube but i am unable to do that  link of that video :https://www.youtube.com/watch?v=1txnyN_3_zk

[2021-02-18 15:43] glaslos commented on #550
Which protocol do you want to use? The [Guardian AST](https://github.com/mushorg/conpot/tree/master/conpot/templates/guardian_ast) might be a good starting point for you.
Creating a HMI is outside of the scope of this project. We might be able to give hints on how to connect a HMI.

[2021-02-18 15:44] #550 closed

[2021-02-22 11:18] cyberitot79 opened #552 "Problem scanning Conpot default template for S7comm protocol"
Hello,

I wanted to ask for a problem I'm having using Conpot. I've been trying to use the honeypot to simulate PLCs devices using Modbus and S7 protocols. But I'm having some problems with S7 protocol, even with the default templates, not with the ones I modified, so I'm opening this issue for the case you could help me.

I've read other previous issues, and I've read so much time the code trying

[2021-02-23 21:36] ssabetan commented on #453
Below is the affected line that stops syslog from functioning correctly. In your cfg file, replace:

`socket = udp        ; udp (sends to host:port), dev (sends to device))`

with

`socket = udp`

In syslog.py, the comparison is `str(logsocket).lower() == 'udp':`. The entire line from the configuration (including comments) are being passed to syslog.py.

[2021-03-01 08:43] WZcabral opened #553 "No matching global declaration error in custom template"
I modified Conpot's default template.xml file to mimic a PowerLogic meter. However, I get this error while trying to run it. Any help is most welcome.

[code]

[2021-03-01 08:49] glaslos commented on #553
@WZcabral it would be great if you could paste the text from the error instead of providing an image. This makes it possible for others and search engines to find your described issue in the future.
Your configuration is not matching the [schema](https://github.com/mushorg/conpot/blob/master/conpot/tests/template_schemas/core.xsd). You should be able to validate it using the linked schema.
If you

[2021-03-01 09:29] glaslos commented on #552
Hi @cyberitot79 , do you see any output in Conpot when you do the scan?

[2021-03-01 09:30] glaslos commented on #543
@cancantian nice catch! Do you want to create a pull request to fix the issue?

[2021-03-01 09:40] glaslos commented on #553
@WZcabral provided the template in private. It seems you can solve your issues by removing the outer `conpot_template`. Your template should look like:
[code]

[2021-03-01 11:06] WZcabral commented on #553
Thanks, @glaslos! I did just that however, now I am getting a new error which is:

[code]
So, I deleted the entire protocol section in the template and edited the protocols separately within their own files which seemed to fix the issues.

[2021-03-01 11:20] #553 closed

[2021-03-02 09:01] cyberitot79 commented on #552
Hi!

I know it's at least connecting to the port as it seems to create Conpot output. Next picture shows what it logs when I do the scan:
![image](https://user-images.githubusercontent.com/79450562/109624237-43c36600-7b3e-11eb-93c1-0769220a088f.png)

[2021-03-05 14:26] mintos5 opened #554 "Json logging is creating empty request and response"
Hi, I am using your honeypot from T-pot platform: https://github.com/telekom-security/tpotce and it is working really well.
I just found a small bug connected with logging to JSON files.
Fields **request** and **response** have a lot of time a value of type **bytes** which is not properly decoded to JSON. This can be easily fixed by adding instructions on how to decode bytes to string in function

[2021-03-15 07:38] jerryleon007 opened #555 "The docker container doesn't run on arm64/v8"
The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested

[2021-03-16 00:28] zainalawaludin opened #556 "service conpot down after being attack like ddos"
hi i have problem with my conpot, if there are attack like  Ddos attack, my conpot cannot access from browser, and finally i must restart docker conpot to resolve this problem. below capture from attacker
![image](https://user-images.githubusercontent.com/5126339/111238163-1cce5f00-8629-11eb-9819-8068210b11c5.png)
any idea for this problem? thanks

[2021-04-13 15:54] soso288 commented on #524
Hi were you able to implement something? If so would you mind sharing your results with me? :)

[2021-04-15 02:25] 18520165 commented on #454
Hello, i have some problem about the JSON log.

Hello, i have some problem about json log. when i change:
[json]
enable = true
and i start conpot again, it was a PermissionError like this:
![image](https://user-images.githubusercontent.com/62385938/114805009-6f3ba080-9dcc-11eb-8a8a-f8116253aa36.png)
So how can i solve this problem, thank you.

[2021-04-16 11:06] soso288 opened #557 "Implementing a custom web interface"
I want conpot to be more realistic and to provide a higher level of interaction. Therefore I tried implementing my own webpage and put it under .../site-packages/conpot/templates/s7-300/http/htdocs/index.html.
When I open the page in my browser it can't be loaded and I get this error in conpot:
![Unbenannt](https://user-images.githubusercontent.com/45794803/115015677-53132e80-9eb4-11eb-80d1-102258

[2021-04-16 11:19] glaslos commented on #557
Hi, please provide the error message as text, it makes it searchable and more accessible.
It seems to be an encoding issue in the html file. Either try to find the issue (character in position 594) or modify the Conpot to ignore encoding errors.

[2021-04-16 11:24] glaslos commented on #556
Hi, please provide the log as text instead of an image. It makes it searchable and more accessible.
I don't think we can do much more in this case. The SNMP server is rejecting the requests but even that requires resources which seem to get exhausted. We could potentially be faster at discarding the requests but I don't think we will win this game. Do you have any chance to prevent this before it

[2021-04-16 11:26] glaslos commented on #555
This is not supported. I assume we could make it work with some adjustments to the container as Conpot works on a RaspberryPi.

[2021-04-16 11:27] glaslos commented on #554
Hey, would you mind providing a PR with your fix?

[2021-04-16 11:29] glaslos commented on #552
Please provide text instead of images to make it searchable and more accessible.
I'm not too familiar with SNMP, did you check if we support the PDU type 7?

[2021-04-17 08:49] soso288 commented on #507
@Han-zb I don't really understand where to put your code. I tried putting it in init.py but I got a connection refused error.

Also can you tell me how to correctly modify the s7comm.xml file, so that I get similar output when usind plcscan?

223.171.35.149:102 S7comm (src_tsap=0x100, dst_tsap=0x102)
  Module                   : 6ES7 312-1AE14-0AB0  v.0.7    	(36455337203331322d31414531342d3041423

[2021-04-18 13:18] soso288 commented on #557
Thank you I was able to solve the problem. I have another two questions:

1. How can I modify the s7comm.xml file so that I can view the module and component information with plcscan? Plcscan always completes without displaying anything.
2. How can I modify the modbus.xml so that plcscan gives other output than slave device failure when scanning the honeypot?

Thanks for your help!

[2021-04-19 15:04] soso288 opened #559 "Scanning for s7 protocol with PLCscan"
I tried scanning conpot for s7 (with the default template), but I always get [Errno 104] Connection reset by peer.
Whenever I edit the s7comm.xml file it gives me the output "wrong TPKT format".

I would expect something like this:

127.0.0.1:102 S7comm (src_tsap=0x100, dst_tsap=0x102)
   Module                   : 6ES7 151-8AB01-0AB0  v.0.2    	(36455337203135312d38414230312d304142302000c00002000

[2021-04-23 09:53] soso288 commented on #552
I have the same problem. After looking at the source code I couldn't find a solution as the information is received by PLCscan (found out during debugging), but not displayed. I think it has got to do with incorrect packing or unpacking of the data. Where you able to solve the problem?

[2021-04-23 10:51] #559 closed

[2021-04-23 15:44] bestrocker221 commented on #437
as of today, the behavior is still the same at the latest commit. Any news on this?
thank you

[2021-05-06 10:46] #557 closed

[2021-05-06 11:05] soso288 commented on #509
@t3chn0m4g3 how exactly did you integrate the MIB into conpot? I tried, but I wasn't able to do it at all.

[2021-05-06 11:11] t3chn0m4g3 commented on #509
@soso288 I did it, so you do not have to. You can see this in the docker folder for [T-Pot](https://github.com/telekom-security/tpotce).

[2021-05-06 11:25] soso288 commented on #509
Thanks for your fast answer. I think I did it the same way (1. download IF-MIB 2. extend the template 3. start conpot with -m "MIB-directory" parameter) but the MIBBrowser I'm using is only showing the default MIB and "snmpInPkts, snmpOutPkts, snmpInBadVersions..." with value=0 after that. What could be the problem?

[2021-05-06 11:27] t3chn0m4g3 commented on #509
The reason was given in the comment of @srenfo.

[2021-05-07 11:46] soso288 commented on #509
Thank you I was able to fix it

[2021-07-20 20:27] georgeb4 opened #560 "Index Error"
Using macOS Big Sur (version 11.4), have Python 3.9.6. I cloned the repository and ran "python3 setup.py build", then "python3 setup.py install", but I got a permission denied error, I so tried running "sudo python3 setup.py install", which did not result in an error. When I try running "conpot" or "conpot --help" directly into terminal, I get an IndexError:

[my computer] ~ % conpot --help
[code]

[2021-08-03 06:03] prashantvidja opened #561 "Getting error while testing modbus"
**Describe the bug**
When I try to test Modbus getting the below error.

**To Reproduce**
Steps to reproduce the behavior:
1. Test the Modbus connection with the below script.
[code]
2. you can find errors in the console.

**Expected behavior**
It should work without any exception.

**Desktop (please complete the following information):**
 - OS: Linux
 - Version Ubuntu 18.04

**Additional context*

[2021-11-03 11:53] Rajeswara-Muthyala commented on #261
@yurushao @TanyaTie I still see the issue on the latest version. It appears to me that conpot code needs an change here.

WARNING:conpot.protocols.bacnet.bacnet_server:DecodingError - PDU: <PDU None -> None : 0a.00.11.01.04.00.05.01.0c.0c.02.3f.ff.ff.19.4b>
2021-11-03 10:46:44,151 DecodingError - PDU: <PDU None -> None : 0a.00.11.01.04.00.05.01.0c.0c.02.3f.ff.ff.19.4b>

The above error is with lat

[2021-11-04 06:53] Rajeswara-Muthyala commented on #427
@PiyushDeshmukh were you able to fix this? I think conpot should check for 0x81 and decode BACnet vlc and NPDUs headers.

[2021-12-08 18:33] CypherpunkSamurai commented on #523
Hello, I wanted to help contribute to this project and I happen to look upon this issue.

I will try replacing pycrypto with cryptography, also can we use (should I try using) pycryptodome instead as a second option?

[2022-01-03 21:50] bestrocker221 opened #564 "Conpot stops functioning after nmap scans"
Conpot does not work anymore after nmap scanning. Both through the container and not.
The process keeps running, but the ports do not react anymore and the logging is stopped.

This unfortunately makes the honeypot pretty much useless since it cannot withstand a basic nmap scan.

**To Reproduce**

1. `docker-compose up`
2. `nmap -sV -v 127.0.0.1`
3. see few logs and maybe the scan terminates.
4. s

[2022-01-04 09:59] Vingaard commented on #564
Interesting - a quick question. what happens if you scan the Conpot from anything else than 127.0.0..1 (localhost)
like nmap scan:
nmap -sV -v {inset conpot_ip}

[2022-01-04 15:32] bestrocker221 commented on #564
Same exact behavior.

On Tue, Jan 4, 2022, 10:59 Vingaard ***@***.***> wrote:

[2022-01-25 12:54] bestrocker221 commented on #564
Anybody confirming the same behaviour or found an alternative way to solve it?

[2022-02-07 07:55] K0zero opened #565 "can not run conpot"
ubuntu16.04 python3.6
i use pip install the conpot instead of docker
but when i use conpot  the error came
[code]
i have watched others' issues but their question were different of mine
Script 'scripts/conpot' not found in metadata at '/home/zky/.local/lib/python3.6/site-packages/conpot-0.6.0.dist-info'

[2022-02-19 15:44] bestrocker221 commented on #564
Hi again.
How are you supposed to use conpot if it can't withstand the most basic nmap scan without crashing and freezing?
Am I missing something?

Tried again on a fresh Debian 11 VM, with normal installation and default template.

1. `conpot -c /home/user/prod1.cgf --template default`
2. from the host: `nmap CONPOT-VM-IP -sV`
3. conpot logging freezes and the process must be restarted. When ctrl

[2022-02-20 09:49] glaslos commented on #565
Can you provide the exact commands you use?
I just tried successfully with:
[code]

[2022-02-20 10:29] glaslos commented on #564
I've just checked out the latest code from GitHub, run `docker-compose` up and then `nmap -sV -v 127.0.0.1` twice without issues. CPU usage was pretty much at 100% during the nmap scan. Scan took about 150 seconds.

[2022-02-20 11:10] glaslos commented on #561
Hey, I have pushed a fix for the error you encountered.
In order to use pymodmus, you have to provide a slave ID: `client.write_coil(1, True, unit=0x01)`

[2022-02-20 11:12] glaslos commented on #560
Unfortunately I can not reproduce this in my Linux machine. The only thing I can recommend is running conpot in a docker container. Conpot under MacOS is not officially supported.

[2022-02-20 11:12] #560 closed

[2022-02-20 11:13] glaslos commented on #556
Closing due to inactivity.

[2022-02-20 11:13] #556 closed

[2022-02-20 11:14] glaslos commented on #555
Closing due to inactivity.

[2022-02-20 11:14] #555 closed

[2022-02-20 11:14] glaslos commented on #554
@mintos5 I've merged your fix. Could you confirm your issue is resolved?

[2022-02-20 13:48] glaslos commented on #523
@CypherpunkSamurai have you had a chance to give this a try?

[2022-02-20 13:49] glaslos commented on #540
@NishantPuri99 have you had any success?

[2022-02-20 14:00] glaslos opened #567 "conpot/tests/test_ftp.py::TestFTPServer::test_nlist is flaky"
Don't attach images of terminals but provide the text.

**Describe the bug**
conpot/tests/test_ftp.py::TestFTPServer::test_nlist fails randomly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests until they fail

**Expected behavior**
Test should pass

[2022-02-21 03:55] prashantvidja commented on #561
Hey @glaslos

Thanks for the update.
Will test it out.

[2022-02-21 21:33] bestrocker221 commented on #564
Strange, I tried both the docker-compose and through the virtualenv, on fresh new Debian and Arch systems and I got the explained issue.

I found many places in the code where the issue makes sense, the lack of sockets closing and error handling during loops. Gonna make a PR when finished. Now it seems to deterministically work

[2022-02-22 06:19] K0zero commented on #565
yes，i only used the command -- pip3 install conpot
by the way,  i did not use the root.

[2022-03-03 07:38] mintos5 commented on #554
Thanks for merging the fix. I can confirm that the issue is resolved.

[2022-03-03 07:38] #554 closed

[2022-03-09 14:26] t3chn0m4g3 commented on #564
@glaslos

Built `conpot` from latest master and can now confirm that problems with `iec104` are **fixed**, while `guardian_ast` repeatedly shows 100% CPU usage after `nmap`.
![image](https://user-images.githubusercontent.com/4318452/157459964-c4c5cd5e-edd5-451c-8de4-1c178116ef01.png)

It is reproducible with `nmap -p 10001 -sV -v 127.0.0.1`.

Console log:
[code]

JSON log:
[code]

Happy to provide

[2022-03-09 14:43] bestrocker221 commented on #564
In my latest local version all the protocols in the default template works correctly after multiple `-sV` scans. I just need to find a proper way to make a PR since I am making modifications directly in my virtualenv dev environment.

[2022-03-09 14:47] t3chn0m4g3 commented on #564
@bestrocker221 Interesting, `default` shows no sign of 100% CPU usage (after `nmap` is finished) on my end with latest master.

[2022-03-11 15:37] t3chn0m4g3 commented on #564
Behavior is the same with Py 3.7/3.8/3.9.

Dirty, but works fine if `docker-compose` uses `restart=always`:
[code]

- `-p 1` Monitors PID 1 only and kills process if process CPU usage is > 90%.

Keeping 🤞  for a solution, though 😄

[2022-03-13 18:45] bestrocker221 commented on #564
@t3chn0m4g3 Hi, the solution might work but is just a workaround that does not actually fix the code behind it.

I left conpot with default template running for a week and it eventually stopped functioning, now I checked and it was using 100% CPU, but since it is one single process I can't distinguish without a debugger what is going on.. need more testing.

Restarting the process as you say can w

[2022-03-15 11:53] hack3rman opened #570 "SNMP Engine "This element is not expected.""
**Describe the bug**
According to the [documentation](https://conpot.readthedocs.io/en/latest/usage/customization.html#snmp) there should be an engine option for random integers and increments. This does not seem to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the lines in `snmp.xml`
[code]
2. Restart conpot
3. See error
[code]

[2022-03-15 12:00] hack3rman opened #571 "int/string in snmp.xml value "Assert error""
Don't attach images of terminals but provide the text.

**Describe the bug**
According to the [documentation](https://conpot.readthedocs.io/en/latest/usage/customization.html#snmp) you can assign values directly in the template. However I receive an assertion error and the only way is to define the value as variable in the template.

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. R

[2022-03-30 09:02] t3chn0m4g3 commented on #564
@glaslos @xandfury Can you reproduce? Can I provide logs to help solving this?

[2022-04-23 12:12] bestrocker221 opened #572 "Bacnet not working properly"
Default template, when scanning with nmap bacnet-info (for example) in debug mode, it throws an error saying its unable to read vendor ID.
Seems like bacnet connections just start, then end.

**To Reproduce**
Steps to reproduce the behavior:
1. Run conpot default template
2. `sudo nmap --script bacnet-info -sU -p 47808 127.0.0.1 -d`

**Expected behavior**
_Something_ like this
[code]
**Result**
[c

[2022-04-24 14:07] bestrocker221 opened #573 "FTP not working, commands are async and random responses are returned"
Hi, when connecting via FTP towards the default conpot configuration, commands and response are randomly returned.

**To Reproduce**
1. conpot default template
2. ftp <IP> 2121
3. `ls` multiple times

**Expected behavior**
[code]

Received:
[code]

**Desktop (please complete the following information):**
 - OS: Debian 11
 - kernel 5.16

[2022-07-09 16:13] bestrocker221 opened #574 "Default template, nmap modbus port ModbusInvalidMbapError-"
**Describe the bug**
A clear and concise description of what the bug is.
When doing an nmap scan towards conpot, nmap does not even recognize the modbus protocol because nothing get returned to it.

**To Reproduce**
`nmap -sC -sV -p 502 localhost`

Log
`2022-07-09 18:00:06,565 Modbus ModbusInvalidMbapError:  Response length is 11592 while receiving 8 bytes. `

Problem seems in `handle_request` in

[2022-09-30 22:47] southwestflavorz commented on #537
Is there a repo of common templates folks are using? I'm a student who's testing honeypot interactions for analysis, and I would love to include additional ICS devices beyond the S7-200 that serves as the "default"

[2022-11-29 12:48] Ptysiol opened #575 "Conpot filtered ports"
I am having trouble while testing the honeypot by nmap. When using the command nmap -A -Pn -p1-1000
shows that all ports are filtered and none of them show up. But when I'm using command nmap -A -Pn -p102  there is something like this
![image](https://user-images.githubusercontent.com/119413887/204533238-30df5b14-adb7-484e-9e3c-4bdb507de243.png)
![image](https://user-images.githubusercontent.com/1