[2013-03-26 17:43] glaslos opened #1 "Test recon tools"
There are various tools available to identify IC systems. We should run them against conpot and create a recon tool profile for better handling in the future.
This could also be integrated as a test to verify if we are responding according to the modbus specification.
Infracritical NMAP scripts: http://www.infracritical.com/?p=4909

[2013-03-28 17:34] glaslos opened #2 "ICS/SCADA scraper"
Tool to clone an ICS with modbus interface to mimic real systems.

[2013-03-28 17:38] glaslos opened #3 "ICS profile support"
Provide support for various system profiles. The scraper #2 should export results as a profile.

[2013-03-31 20:50] glaslos opened #6 "Support for basic random'ish profile"
Based on some rough settings the ICS server should be able to create a profile. Probably should investigate how a generic ICS looks like...

[2013-03-31 20:58] glaslos opened #7 "Variable profile values"
All the values shouldn't be static. For the generated profiles one should be able to define ranges and rates of change. For the cloned real ICS profiles, we want to auto generate this from a diff.

[2013-04-07 13:32] johnnykv opened #8 "Investigate if it is possible to generate conpot profiles from STEP 7 projects."
If we can extract values from STEP7 projects, we can create realistic modbus profiles without scraping actual hardware.

(I am looking into this at the moment)

[2013-04-07 23:45] #7 closed, assigned to nobody

[2013-04-09 08:11] glaslos opened #9 "Investigate SNMP support"
SNMP is a protocol used to get device/service health/statistics running on udp/161. http://pysnmp.sourceforge.net/ seems to be a reasonable choice. http://snmpsim.sourceforge.net/intro.html explains how to create a SNMP agent.

[2013-04-09 15:49] johnnykv opened #10 "Create http/HMI surface"
Create HMI using HTML.
- Simpel onepage HTML with JS, ActiveX or Java. (Siemens seems to favor ActiveX)
  - Shows gauges
  - Manipulation of controls
  - Need to look ICSish
- Use modbus backend for storing/retrieving values.

[2013-04-11 13:32] glaslos opened #11 "DNP3 support"
**Skills required:** Python, basic C++, dissecting network traffic.
*\* Time estimation:*\* We assume this to be a three months project.
**Short Description:** Improve Conpot’s current very minimal support for the DNP3 protocol. Goal is to provide a server capable of basic DNP3 communication.

**Description:**
Conpot provides a variety of common protocols: Modbus, S7Comm, SNMP, HTTP and Kamstrup.

[2013-04-12 10:21] #9 closed, assigned to glaslos

[2013-04-12 16:28] johnnykv opened #12 "Write MIB for the default template"
and how to import it and start snmp server...

[2013-04-12 23:49] #12 closed, assigned to johnnykv

[2013-04-13 10:36] glaslos opened #13 "Investigate support for IEC 60870"
Converting this to Python should do the trick: https://github.com/vlet/iec104/blob/master/lib/Net/IEC104.pm

[2013-04-13 10:37] #3 closed, assigned to glaslos

[2013-04-13 10:45] johnnykv opened #14 "Log MODBUS/SNMPv1/v2 requests"

[2013-04-13 10:46] johnnykv opened #15 "Make SNMP v1 work"
For some reason i could not get SNMP v1 working. See
https://github.com/glastopf/conpot/blob/master/modules/snmp_command_responder.py#L84-L85

[2013-04-13 18:18] #15 closed, assigned to nobody

[2013-04-17 07:52] glaslos opened #16 "Add start time to session data"
IMO we should also have to start time in the session_data object as we are queueing the data and the events only hold the elapsed time.
What do you think?

[code]

[2013-04-17 09:07] #16 closed, assigned to nobody

[2013-04-19 11:07] glaslos opened #17 "basic unit tests"
Tests should cover basic modbus and snmp communication.

[2013-04-19 11:07] glaslos opened #18 "Continuous integration"
Add support for travis.

[2013-04-19 11:08] glaslos opened #19 "PyPi package"
We should provide a package on pypi for easy installation.

[2013-04-19 11:09] glaslos opened #20 "Basic documentation"
The basic documentations should cover installation, usage, customization and how to create profiles for modbus and snmp.

[2013-04-20 12:13] #20 closed, assigned to nobody

[2013-04-20 12:39] #18 closed, assigned to nobody

[2013-04-23 14:36] #17 closed, assigned to nobody

[2013-04-23 14:40] glaslos opened #21 "Ports to use for tests"
Not quite sure if we should use ports in "userspace" for the tests so we don't have to run as root. On the other hand we should run the tests as they are run by the user. What do you think? https://travis-ci.org/glastopf/conpot/builds/6569494

[2013-04-23 14:48] #21 closed, assigned to johnnykv

[2013-04-23 15:31] glaslos opened #22 "Serial port converters"
Serial port converters discussed by HD Moore [blog](https://community.rapid7.com/community/metasploit/blog/2013/04/23/serial-offenders-widespread-flaws-in-serial-port-servers), [slides](https://speakerdeck.com/hdm/serial-offenders).

They usually expose SNMP/Modbus/[ADDP](http://www.digi.com/wiki/developer/index.php/Advanced_Device_Discovery_Protocol_%28ADDP%29) on ports:
- Lantronix: 2001-2032, 3

[2013-04-23 15:33] glaslos opened #23 "Custom profile documentation for Modbus and SNMP"
Describe how to create a custom profile for modbus and SNMP.

[2013-04-23 17:12] glaslos opened #24 "SNMP v3 logging"
As discussed in #14 move into a different task.

[2013-04-23 17:15] glaslos opened #25 "Test cases for modbus/snmp/hpfriends logging"
Cover the logging capabilities.

[2013-04-23 17:16] #14 closed, assigned to johnnykv

[2013-04-23 17:17] glaslos opened #26 "Default hpfriends config"
Enable hpfriends by default. Required for #25

[2013-04-23 17:53] #26 closed, assigned to glaslos

[2013-04-24 11:54] glaslos opened #27 "SNMP set commands not logged"
Seems like we are not logging set commands.

[2013-04-24 11:54] glaslos opened #28 "Test case for snmp set commands"

[2013-04-24 12:01] #25 closed, assigned to glaslos

[2013-04-24 13:26] #23 closed, assigned to glaslos

[2013-04-24 13:27] glaslos opened #29 "Extend custom profile documentation"
The section was introduced in #23 but needs extension and proof reading.

[2013-04-24 13:31] glaslos opened #30 "Add test for making the documentation"
[code]

Should return at least a `index.html` in docs/build/html

[2013-04-29 15:11] glaslos opened #31 "Create egg from modbus-tk zip"
The egg would allow us to install modbus-tk using distribute.
Any opinions on forking modbus-tk to github?

[2013-04-29 18:46] #31 closed, assigned to nobody

[2013-04-30 12:05] glaslos opened #32 "AIS support"
We should be able to act as a ship: https://community.rapid7.com/community/infosec/blog/2013/04/29/spying-on-the-seven-seas-with-ais

[2013-05-08 19:10] glaslos opened #33 "MissingKeyError"
[code]

[2013-05-08 21:39] #33 closed, assigned to nobody

[2013-05-09 13:53] johnnykv opened #34 "ensure clean exit on KeyboardInterrupt"
If SIGINT is thrown it does not get handled properly.

[code]

[2013-05-09 14:23] #34 closed, assigned to nobody

[2013-05-10 06:28] glaslos opened #35 "Load custom config"
In case a config is defined using an argument (--config) we are not loading it.

[2013-05-10 08:16] #35 closed, assigned to nobody

[2013-05-11 18:48] #19 closed, assigned to nobody

[2013-05-11 19:01] johnnykv opened #36 "Log SNMP response with the corresponding request"
Currently SNMP request/reply pairs are transmitted in separate log messages. This needs to be fixed so that they are logged together.
Code reference:
https://github.com/glastopf/conpot/blob/master/conpot/snmp/snmp_command_responder.py#L74

[2013-05-13 15:02] glaslos opened #37 "Add FAQ to the doc"
A short FAQ. Starting with data sharing.

[2013-05-13 15:03] glaslos opened #38 "HPFeeds subscribe client"
A client and instructions on how to use it.

[2013-05-13 21:04] glaslos opened #39 "Fix modbus-tk and hpfeeds dependency"
They are in the setup.py but don't get properly picked up by pip (or distribute?)

[2013-05-13 21:18] #39 closed, assigned to nobody

[2013-05-13 21:40] johnnykv opened #40 "Log honeypot IP or Geoloc"
It would be useful if we could get the IP of the honeypot when reporting with hpfeeds. Some folks might object to this (which would be understandable) so a alternative could be to only transmit the geolocation.
It might look like this in conpot.cfg:

[code]

[2013-05-16 16:58] johnnykv opened #41 "Reverse engineer S7-1200 iPhone app"
Siemens has made an [iPhone application](https://itunes.apple.com/us/app/simatic-s7-1200/id547218432?mt=8) which can be used to control S7-1200 PLC's.
It would be interesting to find out which protocol it uses - and possibly implement this protocol in Conpot.

[2013-05-16 17:37] johnnykv opened #42 "Create HMI HTML surface"
Create HMI using HTML.
- Simpel onepage HTML with JS.
  - Shows gauges
  - Manipulation of controls
  - Need to look ICSish
- Use modbus backend for storing/retrieving values.

[2013-05-17 07:45] #42 closed, assigned to nobody

[2013-05-21 22:12] #37 closed, assigned to nobody

[2013-05-21 22:24] #6 closed, assigned to nobody

[2013-05-22 08:24] glaslos opened #43 "Update installation instructions"
The instructions are a bit outdated.

[2013-05-22 09:40] #43 closed, assigned to nobody

[2013-05-22 10:12] glaslos opened #44 "Update doc version on "build""
The doc version should be the same as the current version. This could be integrated into https://github.com/glastopf/conpot/blob/master/docs/update-site.sh

[2013-05-22 14:47] glaslos opened #45 "Fix SNMP client walk command"
I introduced a walk command 30eff43755ad2e4e3e7bc12ac165b38988ff4b60 which obviously is not just simply working. Not sure if it's me not using it properly, bad implementation or issues in pySNMP.

[2013-05-23 21:48] johnnykv opened #46 "Support for loading of MIBS"

[2013-05-24 05:47] #24 closed, assigned to nobody

[2013-05-24 08:24] glaslos opened #47 "Documentation for custom MIBs"
Custom MIB support (#46) got implemented by Johnny (768b77de87623347b9a59154890299f713bab518) and needs documentation.
- How to create custom MIBs
- How to load a custom MIB

[2013-05-24 19:12] johnnykv opened #48 "Functionality to take raw MIB files."
Currently users has to pre-compile MIB files with build-pysnmp-mib to .py files usable by pysnmp (see #46).

[2013-05-24 22:40] #36 closed, assigned to nobody

[2013-05-24 23:22] #28 closed, assigned to nobody

[2013-05-24 23:23] #27 closed, assigned to nobody

[2013-05-25 11:41] #47 closed, assigned to nobody

[2013-05-25 18:01] #44 closed, assigned to nobody

[2013-05-25 18:34] glaslos opened #49 "0.2.0 release"

[2013-05-25 20:16] #49 closed, assigned to johnnykv

[2013-05-30 21:54] johnnykv opened #50 "SIGSEGV on Debian/Raspberry Pi"
Apparently there are issues running Conpot on the Raspberry Pi (Debian GNU/Linux 7.0).
@nsmfoo could you please provide the output of `pip freeze` and your libevent version?

Console output:

[code]

Strace:

[code]

[2013-05-31 23:27] #50 closed, assigned to nobody

[2013-06-02 08:05] #46 closed, assigned to nobody

[2013-06-06 00:29] creolis opened #54 "SNMP(v1) writes fail due to MIB lookup"
I did not fully sort out what goes wrong,
but I encountered the following problem:

Trying to set a snmp value that has been previously registered via
XML template, produces the following error:

[code]

Curiously, while this implies that this OID could not be found,
it is indeed aware of the parameters associated to this object
when I try to set a wrong object type ( string instead of integer ):

[2013-06-06 15:19] #54 closed, assigned to nobody

[2013-06-07 23:16] glaslos opened #55 "Add support for BACnet"
BACnet should be an interesting protocol to add:
http://bacpypes.sourceforge.net/index.html
https://bacpypes.svn.sourceforge.net/svnroot/bacpypes/trunk/

[2013-06-13 21:39] glaslos opened #56 "TypeError in LogWorker"
[code]

[code]

[2013-06-13 21:57] #56 closed, assigned to nobody

[2013-06-23 20:28] glaslos opened #58 "Configurable interface between the HTTP server and Conpot"
Right now the HTTP server gets a hard coded OID from SNMP. In order to develop your own HMI one would have to modify the HTTP server code. In order to avoid and hard coded interface one should be able to define OIDs and their results name that gets passed to the template engine. Roughly like this:

[code]

So in order to create a custom HMI one has to create the template (HTML) and the mapping (JS

[2013-06-23 21:16] #30 closed, assigned to nobody

[2013-07-02 21:10] glaslos opened #60 "Generic database support"
We should provide a generic (SQLAlchemy?) database interface to provide a more flexible way to store events.

[2013-07-04 19:27] #8 closed, assigned to johnnykv

[2013-07-08 14:35] glaslos opened #61 "Investigate support for IPMI"
Some background: https://community.rapid7.com/community/metasploit/blog/2013/07/02/a-penetration-testers-guide-to-ipmi

BMCs:
* Telnet
* SSH
* IPMI network protocol on port 623 (UDP and sometimes TCP)

IPMI: https://github.com/stackforge/pyghmi

[2013-07-08 14:52] glaslos opened #62 "Optional protocols"
In order to make conpot more accessible, we should make all protocols optional. for example we should have a "enabled" option in the configuration. On conpot start-up we should also check if we can import the protocol libraries and skip the protocol if we fail.

[2013-07-21 14:54] creolis opened #64 "S7 ( port 102 ) support"
Hej,

I just wanted to inform you that I'm working on a rudimentary S7 dissector
so that conpot will be able to respond to a number of events used for
information gathering ( like e.g. plcscan does ).

Right now, the initial COTP + S7 handshakes seem to be fine,
I'm putting some effort on some S7 functions now .. :)

[2013-07-21 17:52] creolis opened #65 "AWL/STL/PLC simulator support"
**Skills required:** Python, programming PLCs (AWL, STL), network programming
**Short Description:** Add support for a AWL/STL/PLC simulator. Goals is to run AWL/STL programs in Conpot and allow communication with the PLC emulator.
**Description:**
Conpot supports the protocols a common PLC is providing but not the functionality of a PLC. This means besides some randomized values and linear increm

[2013-07-23 13:15] glaslos opened #66 "conpot.org"
conpot.org currently points to https://github.com/glastopf/conpot but I'd like to actually use it. Here are some feature suggestions:
- Project description + features
- Samples of collected data so people can see what we collect.
- Similar to the honeymap, show some live stats. This should be very anonymized, something like: timestamp:type (e.g. 2013-13-37 SMTP request)
- Fetch some stats from the

[2013-07-27 11:28] creolis opened #67 "Tarpit: artificial delay for all services"
Simulating real-world hardware, we should consider to add configurable tarpits so that simulations respond as slow as the real hardware would do since conpot would perform far better than devices that are indeed trying to keep up with their realtime control tasks and provide other processes like snmp agents with a few cpu cycles every now and then.

I would propose a configuration parameter for ea

[2013-08-22 07:47] glaslos opened #70 "Inter-Control Center Communications Protocol (ICCP)"
Protocol for inter master station communication: http://en.wikipedia.org/wiki/IEC_60870-6
Should be interesting for emulating a smaller subpart of a bigger network connected by ICCP.
I wasn't able to find any open source implementation. Implementation seems to vary a lot. Wasn't able to find the standard definition (for free).

[2013-08-26 01:19] creolis opened #73 "Drop privileges after initialization"
In order to open ports < 1024, we are depending on root permissions or users that use authbind etc.

I think that if started as root, conpot should try to drop privileges as soon as privilege-dependent tasks have been finished. I'm not sure if I missed something in my considerations that might prevent us from doing so .. any objections?

[2013-08-26 08:08] #67 closed, assigned to nobody

[2013-08-26 20:33] #38 closed, assigned to nobody

[2013-08-28 11:33] creolis opened #75 "Mitigate redirected DoS attacks for UDP services"
UDP based services may suffer from redirection attacks,
combined with SNMP this offers the possibility to abuse conpot for traffic amplification attacks.

To fix ( or at least mitigate ) this, we should introduce a limit on requests per source IP.
Tarpitting is not a solution.

**Note from glaslos:**
We could also keep track on the rate of responses send to a specific IP address. IMO we don't real

[2013-08-28 11:50] creolis opened #76 "Inter-MIB dependencies"
Some MIBs seem to depend on others.
**Example:** If you're using _IF-MIB_, you also need _IANAifType-MIB_.

These dependencies are specified in the IMPORTS section, right at the beginning of a MIB,
for example, this is the IMPORTS section from IF-MIB:

IF-MIB DEFINITIONS ::= BEGIN

IMPORTS
    MODULE-IDENTITY, OBJECT-TYPE, Counter32, Gauge32, Counter64,
    Integer32, TimeTicks, mib-2,
    NOTIFIC

[2013-08-29 16:56] #76 closed, assigned to johnnykv

[2013-08-29 18:42] #73 closed, assigned to nobody

[2013-08-29 18:43] #48 closed, assigned to johnnykv

[2013-09-01 19:22] creolis opened #79 "HTTP - CHUNKED transfer encoding"
... this is a reminder for myself:

Content-length encoding is fine,
but chunked encoding is used on many PLCs - so this should be implemented soon :)

[2013-09-02 20:40] #10 closed, assigned to nobody

[2013-09-12 08:08] #40 closed, assigned to johnnykv

[2013-09-23 09:01] #75 closed, assigned to nobody

[2013-09-23 19:36] #58 closed, assigned to nobody

[2013-09-26 15:37] glaslos opened #82 "OPC UA protocol"
OPC UA seems interesting as it allows file transfer: http://en.wikipedia.org/wiki/OPC_Unified_Architecture

http://opycua.sourceforge.net/tutorial/hello.html
http://sourceforge.net/p/opycua/code/ci/default/tree/

[2013-10-03 12:55] johnnykv opened #84 "pysnmp 4.2.5 breaks conpot"
They changed some stuff in pysnmp 4.2.5 which breaks conpot. See [this output](https://travis-ci.org/glastopf/conpot/builds/12087521) from travis when running the test cases with 4.2.5.
As a temporary fix temporary 722069f9b639d773f16ecb975d6d8346433940ae sets pysnmp==4.2.4 in requirements.txt.

[2013-10-09 07:27] #84 closed, assigned to nobody

[2013-10-15 14:53] glaslos opened #86 "Releases from GitHub"
This looks neat: http://docs.pythonpackages.com/en/latest/github-service.html

[2013-10-29 22:33] #79 closed, assigned to nobody

[2013-10-29 22:38] creolis opened #93 "HTTP: add support for argument-addressed content"
Not all HTTP interfaces feature one page per filename,
some, e.g. S7-1200, use GET / POST arguments - we need to support
this.

I'll write the necessary code to achieve that..

[2013-11-05 15:08] lwlodwgf opened #95 "AttributeError: MibBuilder instance has no attribute 'getMibSources'"
I have conpot 0.2.2 installed with all dependencies, including python-pysnmp4.  When attempting to run conpot, I receive the following error:

[code]

Conpot does not execute after this error.  Any ideas?

[2013-11-11 20:00] glaslos opened #98 "s7comm exception from plcscan"
@johnnykv I'm able to reproduce this exception when running plcscan against conpot:

[code]

Not sure if this is a Conpot or plcscan problem.

[2013-11-12 00:35] glaslos opened #101 "Proper UID handling in MODBUS"
As we found out in #1 we are currently not handling the UID properly. One way to go would be to set a serial and TCP mode in the Modbus settings. This way we can handle the slaves accordingly. In TCP we should reply on any UID or limit to 0 and 255. In serial mode we should handle 0 as broadcast and limit UID to 247: http://www.modbus.org/docs/Modbus_Messaging_Implementation_Guide_V1_0b.pdf

[2013-11-12 00:44] glaslos opened #102 "Investigate support for a network simulator"
It would be nice if Conpot was able to simulate his own little network:

Here are some examples I found: https://github.com/TheTincho/nemu

[2013-11-12 21:45] #29 closed, assigned to johnnykv

[2013-11-12 22:26] creolis opened #103 "Streamline configuration and templates"
I would propose a change to our current way of dealing with configuration and templates.

As of now we're providing a configuration file which is there to turn a service on or off. At the same time, we're providing a central XML file that contains template-related information. If we're going to provide "complete" templates in future, this should be restructured.

My proposal:

We keep the configur

[2013-11-20 19:52] johnnykv opened #106 "Easier integration with SIEM, IDS and the like."
In order to make Conpot more attractive as a Computer Network Defence (CND) asset we should make it easier to integrate Conpot into SIEM systems.
In order to facilitate this integration i propose that we extend Conpot with capabilities to report in a standardised format for Cyber (gotta love the word!) observables.
My initial and inconclusive findings regarding relevant frameworks includes:
- [Cyb

[2013-11-22 07:37] zam89 opened #107 "Error when try to run Conpot"
Hi everyone,

I've install conpot on Ubuntu Server 12.04 64-bit. I follow the guide from https://github.com/glastopf/conpot/blob/master/docs/source/installation/ubuntu.rst

The installation seems has no error. But when I try to run the conpot, it shows this kind of error:

conpot@conpot-box:~$ sudo conpot

[code]

[code]

Can someone guide me if I heading to right path? Or I missing something?

Th

[2013-11-22 09:21] #107 closed, assigned to nobody

[2013-11-27 12:59] glaslos opened #108 "Migrate to gevent 1.0"
Gevent 1.0 is finally out \o/ gevent.org/whatsnew_1_0.html
Migration should be pretty painless.

[2013-11-29 22:39] creolis opened #109 "pysnmp-mib-wrapper is sensitive to working directory"
After installing conpot (tested on Ubuntu 13.04), it acts sensitive to the current directory.

Spawning it from root:

[code]

will end in pysnmp-mib-wrapper searching for MIBs until it runs against a wall like, e.g., this:

[code]

This behavior does not change it I pass the raw mib path along with the invocation.
Maybe we should either look for MIBs on fixed places or at least change our working

[2013-12-01 00:48] andy99998 opened #110 "TypeError When starting up 'backlog'"
Hi,

I get an error when going to startup, is this something I have configured incorrectly?

TypeError: **init**() got an unexpected keyword argument 'backlog'

Cheers,

Andy

[2013-12-05 07:16] #108 closed, assigned to nobody

[2013-12-09 01:29] #106 closed, assigned to nobody

[2013-12-09 15:28] johnnykv opened #113 "Payload for STIX package"
We should include protocol payload in STIX packages. My current plan is to embed two STIX objects inside our STIX incident:
- One object (STIX custom object) describing the the relevant log lines from ConPot (the ones we currently log with the python logging module).
- One object (STIX artifact) that contains the raw unparsed attacker request and our response.

[2013-12-12 10:47] #110 closed, assigned to nobody

[2013-12-13 11:34] glaslos opened #114 "Change MAC address"
Various vendors have their assigned MAC address prefix: http://standards.ieee.org/develop/regauth/oui/oui.txt
NMAP for example uses them to identify the device. We should provide support to set the MAC address in the configuration file. Something similar to: https://github.com/diogomonica/py-MACtool/blob/master/MACtool.py

[2013-12-13 21:58] #113 closed, assigned to nobody

[2014-04-01 18:32] johnnykv opened #119 "Fix SNMP and Modbus test cases for the new architecture"

[2014-04-04 19:12] #119 closed, assigned to johnnykv

[2014-04-04 19:15] johnnykv opened #120 "Migrate S7Comm to the new architecture"

[2014-04-04 19:15] johnnykv opened #121 "Migrate HTTP to the new architecture"

[2014-04-04 19:23] johnnykv opened #122 "TAXII test case fails"
I suspect this is because of the recent STIX 1.1 release:

[code]

[2014-04-05 19:43] johnnykv opened #123 "Create test cases for S7Comm"

[2014-04-05 20:48] #120 closed, assigned to johnnykv

[2014-04-06 19:19] #64 closed, assigned to johnnykv

[2014-04-14 14:43] johnnykv opened #124 "Implement EZ protocol"
Seems to be well supported in multiple smart meters.
ftp://ftp.omega.com/public/AutomationGroup/products/EZ%20Text%20Panels/EZPROTOCOL.pdf

[2014-04-16 12:45] #122 closed, assigned to johnnykv

[2014-04-16 12:49] ghost opened #125 "Conpot not initialising"
I am working on conpot as a part of my project work for the semester.
I am coming across some errors when I try to run conpot.
This is the error:

Traceback (most recent call last):
  File "/usr/local/bin/conpot", line 144, in <module>
    main()
  File "/usr/local/bin/conpot", line 120, in main
    snmp_server = SNMPServer(snmp_host, snmp_port, args.template, log_queue, args.mibpath)
  File "/usr

[2014-04-18 13:55] johnnykv opened #126 "setup.py installs the original modbus-tk instead of our fork"
When installing in a clean env (python setup.py install), it seems that the original modbus-tk is installed instead of our own fork.

On a related note, since distribute_setup has been discontinued we should ditch it and go for ez_setup instead.

[2014-04-18 13:57] johnnykv opened #127 "Enable landscape for the repo"
https://landscape.io/

[2014-04-18 18:00] #125 closed, assigned to nobody

[2014-04-19 21:07] #121 closed, assigned to creolis

[2014-04-19 21:07] #103 closed, assigned to nobody

[2014-04-20 08:34] #127 closed, assigned to johnnykv

[2014-04-22 09:46] glaslos opened #129 "Clear log queues in tests"
This will fail if there is already a log entry in the queue: https://github.com/glastopf/conpot/blob/master/conpot/tests/test_modbus_server.py#L105

[2014-04-22 15:04] #129 closed, assigned to nobody

[2014-04-24 05:39] johnnykv opened #130 "Exception while doing snmpwalk"
Doing a `snmpwalk -Os -c public -v 1 localhost system` on a system with the default configuration gives the following exception:

`2014-04-24 07:37:09,101 SNMPv1 response to ('127.0.0.1', 50004): 1.3.6.1.2.1.11.1.0 9
2014-04-24 07:37:09,690 Privileges dropped, running as nobody/nogroup.
Traceback (most recent call last):
  File "/Users/jkv/virtualenv/conpot/lib/python2.7/site-packages/gevent/green

[2014-04-24 21:26] #130 closed, assigned to nobody

[2014-04-25 10:59] #93 closed, assigned to nobody

[2014-04-25 13:56] johnnykv opened #132 "create profile for smart meter."
This involves:
- Getting my hand on a smart meter.
- Implement whatever protocol it supports that works over ethernet.
  - Candidates are: EZ(#124), bacnet(#55), modbus (already implemented)
- Writing and testing the actual conpot profile.

[2014-04-26 19:48] #98 closed, assigned to glaslos

[2014-05-01 14:56] #123 closed, assigned to glaslos

[2014-05-06 10:19] glaslos opened #133 "Investigate openics"
Industrial Control Systems Protocol Decoders: https://github.com/openics/openics

[2014-05-07 19:00] johnnykv opened #134 "Investigate using Snap7 for S7 communications"
Python wrapper: https://github.com/gijzelaerr/python-snap7

[2014-05-14 17:16] ghost opened #136 "Unstable behaviour"
I have been experiencing some problems with conpot. It initialises just perfectly sometimes and the next time it just gives some error. And again it will initialise properly. You never know for sure if it will initiate properly or run into some error. I am trying to get head around the code that goes into conpot but was unable to find any definite answer. Also note that there isn't any service run

[2014-05-24 11:23] #136 closed, assigned to nobody

[2014-05-24 11:25] johnnykv opened #137 "SSL support for proxy"

[2014-05-25 18:54] #137 closed, assigned to johnnykv

[2014-05-25 19:06] johnnykv opened #138 "Test is STIX python bindings has matured."
Currently we are using a jinja template approach when we create STIX reports. If the python STIX bindings has matured enough we should generate the STIX report through these.

[2014-06-02 12:10] ghost opened #139 "Testing conpot"
@johnnykv @glaslos @creolis I have been digging into conpot for quiet some time now. Could you suggest me some testing vectors to be done. I did some basic snmpwalks, nmaps. would you help me get more out of conpot. Something which probably could show the plc interacting or something..? some basic testing stuff. Thanks!

[2014-06-02 12:10] ghost opened #140 "Testing conpot"
@johnnykv @glaslos @creolis I have been digging into conpot for quiet some time now. Could you suggest me some testing vectors to be done. I did some basic snmpwalks, nmaps. would you help me get more out of conpot. Something which probably could show the plc interacting or something..? some basic testing stuff. Thanks!

[2014-06-06 18:18] #95 closed, assigned to nobody

[2014-06-06 19:34] #126 closed, assigned to nobody

[2014-06-10 16:14] #140 closed, assigned to nobody

[2014-06-10 16:14] #139 closed, assigned to nobody

[2014-06-10 16:15] #66 closed, assigned to glaslos

[2014-06-29 15:26] sid-abu opened #141 "Installing IEC 60870-5 Protocols"
Hello,

 I have been testing conpot and would like to add IEC 60870-5-104 protocol instead of modbus and test conpot again for my Masters dissertation. I have looked at the default.xml file and understand that the protocols are stored in
/usr/local/lib/python2.7/dist-packages/Conpot-0.2.2-py2.7.egg/conpot/protocols

I have downloaded the IEC 60870-5 protocol that is submitted here as an enhancemen

[2014-06-30 13:02] zam89 opened #142 "Conpot not logging to sqlite"
Hi,

I've managed to install conpot on Ubuntu 12.04. I run with argument:

[code]

I also enable the sqlite:

[code]

But I cannot file the conpot.db. Did I missed any step?
Thanks.

[2014-06-30 15:28] #142 closed, assigned to nobody

[2014-07-03 11:50] Regiscarv opened #143 "Conpot causes "SLAVE_DEVICE_FAILURE" when scanned by PLCSCAN"
I'm testing Conpot and when It's scanned by PLCSCAN or SHODAN, it causes this response "SLAVE_DEVICE_FAILURE".
Is this an issue in Modbus?
I want to write a name of a  real slave, for example " POWERMETER"...

[2014-07-04 05:43] johnnykv opened #144 "Migrate to to setuptools"
The installer should be migrated to setup_tools.  Currently we are using distributed which is legacy.

If someone got time to do this, they can peek at beeswarm where i did the same thing some months ago: https://github.com/honeynet/beeswarm/blob/master/setup.py .

[2014-07-04 14:53] johnnykv opened #145 "setup.py still install the wrong modbus version!"
It still installs the original modbus.

To reproduce:

[code]

and conpot crashes with the all too known modbus exception:
`
AttributeError: 'module' object has no attribute 'DEVICE_INFO'
`

[2014-07-09 08:00] #143 closed, assigned to nobody

[2014-07-27 23:32] johnnykv opened #147 "Implement Kamstrup managment protocol"
This is the simple telnet based managment protocol running on port 50100 on kamstrup meters. It provides a simple command based interface where the operator can change various system settings. Sample session:

[code]

[2014-07-27 23:34] johnnykv opened #148 "Support more command for the kamstrup meter protocol"
Currently we only support the GetRegister command, there are a few other interesting commands that i would like the honeypot to support.
(work in progress...)

[2014-07-27 23:36] johnnykv opened #149 "Investigate and introduce artifical delays for kamstrup"
A real kamstrup meter has some kind of delay between responses that varies somewhere between 20ms-150ms. This needs to be measured on the real meter and implemented as  artificial delays.
Also, it seems that the meter drops connection if asking for too many non-existing registers - this also needs to be implemented in conpot.

[2014-07-28 15:32] johnnykv opened #150 "Power usage for meter honeypot"
We need module which takes care of realistic power usage, ie. update register counters.

[2014-07-30 09:37] katkad opened #151 "log file from conpot parameter"
hello,

i used to start conpot like
conpot params >> logs/output.log 2>&1 &

now conpot logs to ./conpot.log

i'd like to specify file to log in a parameter

[2014-07-30 11:37] #151 closed, assigned to nobody

[2014-07-30 11:55] johnnykv opened #152 "www path/root should be moved to template"
Currently we specify www path/root using argparse, this should be moved to the S7 template since it is protocol specific.

[2014-08-03 14:39] PaulSec opened #154 "Unable to install conpot (pip)"
Hi,

Following the doc, to install the stable version, I used `pip install conpot`
and it results in "No distributions at all found for hpfeeds".

[code]

[2014-08-05 17:01] #154 closed, assigned to nobody

[2014-08-05 17:01] johnnykv opened #156 "Document kamstrup xml configuration"

[2014-08-05 17:05] glaslos opened #157 "Document databus"
This core feature should be documented to ease the on-boarding process for new developers.

[2014-08-05 17:05] johnnykv opened #158 "Add option to include databus dump in stix report"

[2014-08-05 17:06] johnnykv opened #159 "Automate releasing to pypi"

[2014-08-06 19:26] glaslos opened #162 "Add functional test for setup and run"
Since we soon will have automated releasing it would be nice if we could have a few test cases that verify then the package can be installed - and that Conpot can be started in it's default configuration without crashing. - Johnny

[2014-08-06 19:43] #145 closed, assigned to glaslos

[2014-08-06 19:44] #144 closed, assigned to glaslos

[2014-08-06 19:46] glaslos opened #163 "Separate STIX and TAXII config"
Right now STIX config is in TAXII which is rather confusing.

[2014-08-06 21:44] #138 closed, assigned to nobody

[2014-08-08 12:57] glaslos opened #165 "Look at sonar data for ICS service fingerprints"
https://scans.io/study/sonar.cio

[2014-08-08 13:34] #162 closed, assigned to nobody

[2014-08-11 18:21] #159 closed, assigned to nobody

[2014-08-13 20:40] glaslos opened #169 "Use Digital Bond Redpoint to scan Conpot"
https://github.com/digitalbond/Redpoint

[2014-09-02 19:41] hugo-glez opened #170 "when creating the .egg file, the folder templates/www/ is not added."
I installed conpot copying the produced .egg file to a new machine, but the templates/www folder was not created.

[2014-09-05 10:06] xditx32 opened #171 "Problems running conpot ?"
Traceback (most recent call last):
  File "/usr/local/bin/conpot", line 5, in <module>
    **import**('pkg_resources').run_script('Conpot==0.3.0', 'conpot')
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 534, in run_script
    if dist.key in self.by_key:
  File "build/bdist.linux-x86_64/egg/pkg_resources.py", line 1438, in run_script
    manager.extraction_error()  # report a user-fr

[2014-09-05 14:33] #171 closed, assigned to nobody

[2014-09-12 08:40] xditx32 opened #172 "Problem create database in mysql"
def **init**(self, db_path="logs/conpot.db"):
        self._MySQL_db(db_path)
        self.conn = MySQLdb.connect(db_path)
        self._create_db()

def _create_db(self);
   cursor=self.conn.cursor()
   cursor.execute("""CREATE TABLE IF NOT EXISTS events
    (
   id INTEGER PRIMARY KEY AUTOINCREMENT,
                session TEXT,
                timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

[2014-09-17 13:04] #172 closed, assigned to nobody

[2014-09-18 14:32] creolis opened #174 "Creating a standardized template directory specification"
This addresses our configuration mess, all together with #152 and #109.

I propose the following file system structure for templates (example listing: see below).

We place a folder into the root templates directory - the name of the folder is the name
of the template: This is our template root.

The template root contains a generic template.xml which holds "common" configurations used by all prot

[2014-09-24 23:41] #147 closed, assigned to adepasquale

[2014-09-24 23:42] #150 closed, assigned to johnnykv

[2014-09-24 23:46] johnnykv opened #175 "Implement active parts of the kamstrup managment protocol"
Certain parts of the management protocol allows the attacker to configure the meter to start outbound connection, currently we accept changes to facilitate this - but does not actually initiate the outbound connections.
We should make it a configurable options to allow outbound connections.
Outbound connections needed for:
- Kamstrup remote sockets (not actually sure what this means...)
- DNS serv

[2014-09-26 16:02] #132 closed, assigned to johnnykv

[2014-09-26 16:03] #148 closed, assigned to johnnykv

[2014-09-26 16:03] johnnykv opened #176 "Implement Kamstrup GetRegister command."

[2014-09-26 16:04] johnnykv opened #177 "Implement Kamstrup login command."

[2014-09-26 16:05] #86 closed, assigned to nobody

[2014-09-26 23:34] creolis opened #178 "Upgrade setup.py? ..include templates to package.."
Too drunk 8-)

Johnny -> this is a reminder for trying to update setup.py to allow
us to use recursive package includes like in beeswarm :)

[2014-09-27 22:49] #178 closed, assigned to johnnykv

[2014-10-01 23:43] glaslos opened #179 "Investigate EtherNet/TCP"
Something like this: https://github.com/pjkundert/cpppo

[2014-10-08 18:27] alexksak opened #181 "No registers?"
Sorry for what is probably a dumb question and I'm not sure it's the right place to ask but I didn't think there'd be an active conpot community anywhere else.

I'm coding a simple SCADA enumerator for one of my undergrad projects. I have access to a Tofino demo setup at uni but I can rarely use it as the lab is generally taken and then shut after 5pm. So I've set up conpot hoping to be able to us

[2014-10-10 21:27] #174 closed, assigned to creolis

[2014-10-10 21:27] #152 closed, assigned to nobody

[2014-10-10 21:43] #170 closed, assigned to nobody

[2014-10-12 21:27] johnnykv opened #182 "Common protocol interface"
We need a strict interface to initialise protocols, this is to avoid all of the _if/else_ for each protocol during conpot startup. Initial work has been done in 9d4d5804198ee285f83397ad9e5f7139bbeac2c6 and will continue on the _protocol_interface branch_.

[2014-10-13 21:30] creolis opened #183 "DataBus Remote Procedure Calls"
Wanna connect two or more Conpots together to act like they are depending on each other?

Then you need DataBus Remote Procedure Calls (Patent Pending).
A branch has been created.

Basically I am thinking of a small lightweight protocol that enables conpot instances to interact and simulate interconnected deployments. Examples are:
- Synchronize Event IDs throughout "paired" instances
- Read indiv

[2014-10-16 07:03] glaslos opened #184 "Test Profinet scan tools"
There are a couple of tools we should try against Conpot: https://github.com/HSASec/ProFuzz and https://github.com/atimorin/PoC2013/tree/master/profinet

[2014-10-20 09:59] phreaklets opened #186 "Conpot takes up 100% CPU under very light load after Modbus response"
I have noticed that conpot occasionally takes 100% CPU after replying to a Modbus query. After a restart the problem goes away. There was nothing of significance in the logs, unfortunately.

[2014-10-23 17:28] johnnykv opened #188 "Handle protocol greenlet exceptions"
Currently, if a protocol greenlet goes down Contpo continues to operate without that protocol. We should handle this differently, either restart the protocol or bring the entire system down.

[2014-11-13 12:00] #186 closed, assigned to nobody

[2014-12-20 09:49] #109 closed, assigned to nobody

[2014-12-20 12:50] johnnykv opened #192 "proxy ssl test fails"
Seems like sslwrap was removed from python 2.7.9.
http://bugs.python.org/issue22438

[code]

[2014-12-20 13:26] #192 closed, assigned to nobody

[2014-12-23 06:37] xditx32 opened #193 "I have a question"
Sorry, Could explain
The logging section conpot, Remote part there :
('172.xx.xx.xxx', 60886) = IP.
I ask 60886 ?

it is what sort of a port or other ?

"I asked for an explanation"
Thanks's

[2014-12-23 06:51] #193 closed, assigned to nobody

[2014-12-27 03:17] achillean opened #194 "HTTP protocol using invalid path"
It appears that for the default template the HTML documents are located in **default/http/htdocs**, but the code looks in **default/htdocs**. To fix that issue, please update the code in **conpot/protocols/http/command_responder.py** on lines 396 and 400:

https://github.com/glastopf/conpot/blob/master/conpot/protocols/http/command_responder.py#L396

[2015-01-03 09:03] johnnykv commented on #188
Actually, after the 0.4.0 release i think we should rewrite the documentation all together.

[2015-01-03 09:03] #188 closed

[2015-01-03 18:38] creolis commented on #194
fixed by 8b5a2731d590eaafee1c7b29bc1b4d882d410c3f

[2015-01-03 18:38] #194 closed

[2015-01-06 13:59] glaslos opened #195 "Create SolarLog-Client Template"
As demonstrated by SCADAStrangelove: http://events.ccc.de/congress/2014/Fahrplan/events/6010.html

[2015-01-06 14:05] glaslos opened #196 "Create Sunny WebBox Template"
As demonstrated by SCADAStrangelove: http://events.ccc.de/congress/2014/Fahrplan/events/6010.html

[2015-01-06 14:07] glaslos opened #197 "Create Nordex NC2 Template"
As demonstrated by SCADAStrangelove: http://events.ccc.de/congress/2014/Fahrplan/events/6010.html

[2015-01-07 17:12] glaslos commented on #197
http://www.nordex-online.com/fileadmin/MEDIA/Sonstiges/Nordex_Control_2_EN.pdf

[2015-01-07 17:14] glaslos commented on #196
http://www.sma-america.com/products/monitoring-control/sunny-webbox.html

[2015-01-07 19:15] achillean commented on #197
A few live examples:
https://www.shodan.io/search?query=jetty+2000+200+bytes

[2015-01-08 10:08] glaslos commented on #181
@alexksak I'm going to close this issue. Please add a comment here anyway if you have the time to investigate.

[2015-01-08 10:08] #181 closed

[2015-01-08 10:09] glaslos commented on #141
Basic proxy is working and I implemented some protocol parsing.

[2015-01-09 12:15] glaslos commented on #61
The old python-ipmi seems to be here now: https://github.com/stackforge/pyghmi

[2015-01-13 14:46] glaslos opened #198 "Investigate using wireshark to dissect protocols"
Wireshark has powerful dissectors for many of the protocols of interest to us.
There are a couple of libraries to interface with wireshark: https://github.com/KimiNewt/pyshark and https://github.com/lukaslueg/wirepy

[2015-01-13 14:48] adepasquale commented on #198
Cool, so there's no even need to wrap the C code directly?

[2015-01-13 14:51] glaslos commented on #198
If you can feed them the proper data from inside Conpot I assume your assumption is true :)

[2015-01-20 22:01] alexksak commented on #181
@glaslos, @johnnykv
my apologies for the long delay, exams + holiday away from cpu

I've just tested this now and can indeed confirm the issue is resolved.

I look forward to working with conpot this semester :)

[2015-01-21 16:58] glaslos commented on #141
This might be worth a look: http://www.codeforge.com/article/236816

[2015-01-21 18:35] creolis opened #200 "fakeroute-like behaviour for better deception"
very os-dependent indeed and by nature not available for TCP-based traceroutes, but fakeroute support would allow us to virtually be "everywhere" (not on ip-based geo lookups though).

Moxie wrote something like this in C:
http://www.thoughtcrime.org/software/fakeroute

Not sure if this could be a feature to incorporate, next to OS-fooling..

[2015-01-21 18:36] creolis commented on #200
200 \o/

[2015-01-21 19:03] glaslos commented on #200
Heh, sounds nice. If we manage to make it completely optional, this should be easy to add.

[2015-02-11 11:18] katkad commented on #55
hello, should we focus more on implementation of bacnet protocol, like in your bacnet branch, or on inserting bacnet into conpot, so it can be launched on start like other protocols ?

[2015-02-12 08:31] glaslos commented on #55
We have `bacnet` and `bacnet_old` with some initial work. Both of them are lacking behind master quite a lot so I'd use them only as reference. The integration into Conpot is rather simple, I'd focus on implementing a BACnet server able to communicate with a client. As soon as this is working we can help you integrating it into the Conpot system (databus, server, logging...)

[2015-03-04 10:58] glaslos opened #202 "Getting started with Conpot"
![gsoc](https://camo.githubusercontent.com/af07e11ef7919541483047d9a46b0cc1532a4e64/68747470733a2f2f7777772e686f6e65796e65742e6f72672f73697465732f64656661756c742f66696c65732f62616e6e65722d67736f63323031365f322e706e67)

Conpot is participating under the umbrella of the Honeynet project in the Google Summer of Code 2016. We have three exciting project proposals and are open for other ideas as well.

[2015-03-04 11:01] johnnykv commented on #202
:+1:

[2015-03-04 11:16] katkad commented on #202
:sparkles:

[2015-03-04 12:54] creolis commented on #202
Big :)

[2015-03-05 21:31] adarshdinesh commented on #114
Please review the Code : Change MAC address #114

[2015-03-17 15:06] glaslos opened #208 "Add support for GOOSE"
Wikipedia: http://en.wikipedia.org/wiki/Generic_Substation_Events
Wireshark: https://wiki.wireshark.org/Protocols/IEC61850GOOSEGSE

[2015-03-17 17:50] adarshdinesh opened #209 "MODBUS implementation not working correctly"
Conpot uses python modbus implementation 'modbus-tk' to imitate the modbus TCP server. There is a tool modscan (https://code.google.com/p/modscan/) which was published in DefCon used for scanning MODBUS servers. This tool failed to detect our modbus server running in port 502. Please check the output

modscan output : http://pastebin.com/kjPwqbV4
conpot log: http://pastebin.com/hMq4eii1

[2015-03-18 21:58] adarshdinesh commented on #209
But at the same time, plcscan detects it if we use it with --brute-uid. That is, the slave identifier(1 byte value in TCP MODBUS frame) is bruteforced to find the devices.
![conpot2](https://cloud.githubusercontent.com/assets/3956104/6720303/cee5d7dc-cde7-11e4-8753-3e41255d4c0d.png)

[2015-03-18 22:32] adarshdinesh commented on #209
I examined the modscan.py code and understood how they managed to find the modbus. They set a Function code in each request and check if the response also has the same Function code (7th Byte). The tool is not detecting our server because out server isn't sending the Function code back.
https://github.com/adarshdinesh/modscan/blob/master/modscan.py#L156
This can be a trap .. What if the actual mod

[2015-03-18 22:44] adarshdinesh commented on #209
./modscan.py -d --function=0 127.0.0.1
returned  [0, 0, 0, 0, 0, 3, 246, 128, 4]
7th byte is Function code 128

./modscan.py -d --function=2 127.0.0.1
[0, 0, 0, 0, 0, 3, 246, 130, 4]
7th byte is 130

I have no idea why our modbus implementation add a 128 and send the Function code back. Only because of that reason modscan says its not a real modbus implementation

[2015-03-18 23:01] adarshdinesh commented on #209
http://www.simplymodbus.ca/exceptions.htm
It's an Error Response : "The first sign of an exception response is that the function code is shown in the echo with its highest bit set". So the modscan scanner tool is checking if the response is an exception or not and if its an exception then it will say that its not a modbus server.
And our conpot log also says it was an exception.

2015-03-19 04:11:

[2015-03-18 23:06] adarshdinesh commented on #209
We will make modscan believe that it's a real modbus TCP server by resetting the MSB bit of function code. May be we can do it from the proxy script.

[2015-03-19 12:29] glaslos commented on #209
Have you checked why we are sending a error code?
You can also have a look at the modbus version which we are using: https://github.com/glastopf/modbus-tk

[2015-03-19 16:02] adarshdinesh commented on #209
https://github.com/glastopf/modbus-tk/blob/master/modbus_tk/modbus.py#L357
This is the line where its happening I think.  Checking

[2015-03-21 16:34] adarshdinesh opened #211 "Remove Interpolation overhead from logging scripts"
There are a lot of unwanted interpolations done in the conpot logging scripts. This should be removed.

sandbox@sandbox:~/conpot$ grep -r ".format(" | grep "logg" > lines

http://pastebin.com/pxb3gff0

[2015-03-21 21:18] adarshdinesh commented on #211
It looks like somebody should manually do it  for some of the lines. I just wrote a small script to automate and rewrite the line with right script, but the script failed in some cases.
Example : build/lib.linux-x86_64-2.7/conpot/protocols/snmp/snmp_server.py:184:        logger.info('SNMP server started on: {0}'.format((host, self.get_port())))
Where the function is directly called from the logger

[2015-03-22 09:39] glaslos commented on #211
Just create a pull request for the changes ;)

[2015-03-23 14:14] infracritical opened #212 "How do I customize a new template"
Am trying to create another template for the honeypot.  Have duplicated the /opt/conpot/templates/default directory to /opt/conpot/templates/new_template.

Upon attempting to execute: sudo conpot --template new_template &

I get the error message: "Template not found"

I've tried to utilize the existing 'default' template.xml file, and customized the entries within it to get rid of the "Technodome

[2015-03-23 16:57] infracritical opened #213 "Alternative manufacturers?"
Anyone working on other manufacturers?  Just curious...everyone seems to want to use ONLY Siemens SIMATIC devices.  Is there any other effort -- outside of maybe Digital Bond -- working on manufacturers, say Rockwell or Schneider Electric?

[2015-03-23 16:58] infracritical opened #214 "Alternative protocols?"
Am looking at testing DNP3 as well.  Anyone doing any active development for this protocol?

[2015-03-23 17:00] adepasquale commented on #214
https://github.com/glastopf/conpot/issues/11

[2015-03-23 17:53] infracritical commented on #214
OK...I'm a doof.  Got an email on this issue that was previously discussed.  Am closing this issue...thx.

[2015-03-23 17:53] #214 closed

[2015-03-23 22:00] Vingaard commented on #169
sudo nmap -p 102 --script s7-enumerate -sV <the_ip_X.Y.Z>  on conpot version 0.4.0 gives:

Starting Nmap 6.40 ( http://nmap.org ) at 2015-03-23 22:55 CET
Nmap scan report for X.Y.Z
Host is up (0.10s latency).
PORT    STATE SERVICE    VERSION
102/tcp open  tcpwrapped
| s7-enumerate:
|   Version: 0.0
|   System Name: Technodrome
|   Module Type: Siemens, SIMATIC, S7-200
|   Serial Number: 88111222
|

[2015-03-24 00:11] adarshdinesh commented on #211
https://github.com/adarshdinesh/conpot/commit/f695ac81d94b083eff7bb23c02a1ab3a9a38146f
Please check it.

[2015-03-24 00:17] adarshdinesh commented on #211
https://github.com/adarshdinesh/fixinterpolation

12 need manual work :(
-log-
File conpot/protocols/s7comm/s7_server.py line number [111]
File conpot/protocols/kamstrup/meter_protocol/messages.py line number [65]
File conpot/protocols/modbus/modbus_server.py line number [49]
File conpot/protocols/kamstrup/meter_protocol/command_responder.py line number [49]
File conpot/protocols/snmp/snmp_server.

[2015-03-24 06:13] adarshdinesh commented on #211
71 problems fixed :) Repository health increased 90%. Please merge changes.

[2015-03-24 09:23] glaslos commented on #11
This is helpful during development: http://www.automatak.com/opendnp3/decoder/

[2015-03-24 09:44] glaslos commented on #211
Waiting for a separate pull request. Great work!

[2015-03-24 10:10] adarshdinesh opened #215 "Unnoticed Bug in s7_server.py"
This bug was there in the code for a long time. This came out when I remove the unwanted interpolations from logging scripts : https://github.com/glastopf/conpot/blob/master/conpot/protocols/s7comm/s7_server.py#L116

[2015-03-24 11:19] adepasquale opened #216 "MAC address for Kamstrup Management?"
Re: https://github.com/glastopf/conpot/pull/205#issuecomment-85451776

Kamstrup management protocol displays [a custom MAC address](https://github.com/glastopf/conpot/blob/6a9bce30ad4289b8a8651f62b62e18cc1b835069/conpot/templates/kamstrup_382/template.xml#L424-L426). We need to consider whether using [the value in conpot.cfg](https://github.com/glastopf/conpot/blob/6b1e080f686ab8466349576b29c689cb

[2015-03-24 11:35] adarshdinesh commented on #215
Nothing much. An unnoticed bug and an extra line.

[2015-03-24 12:02] glaslos commented on #169
Cool, thanks, closing this for now.

[2015-03-24 12:02] glaslos commented on #215
Pull request?

[2015-03-24 12:22] adarshdinesh commented on #215
https://github.com/glastopf/conpot/pull/217

[2015-03-24 13:29] glaslos opened #218 "Investigate supporting KNXnet/IP"
Maybe using this: https://github.com/2franix/pyknx ?

[2015-03-24 13:30] glaslos opened #219 "Investigate supporting HART IP"
Using this: https://github.com/Darkkey/hartinsecurity ?

[2015-03-24 13:57] adarshdinesh commented on #215
https://github.com/glastopf/conpot/pull/220

[2015-03-24 14:41] glaslos commented on #213
Digital Bond is working on Conpot profiles?
Creating new profiles is a rather complex task. Most of the time we don't have access to real hardware which is required to model the template.
We also struggle finding a solution to provide HMI templates without violating vendor copyrights.

[2015-03-24 14:46] infracritical commented on #213
Digital Bond uses a variant of 'honeywall' and/or 'honeyd'; however, they may use 'conpot' -- need to ask Digital Bond re: question.

[2015-03-24 14:55] infracritical commented on #213
Also, have access to several devices, as well as other researchers that we work closely with.  Am thinking of a few vendors, starting with Rockwell Automation/Allen-Bradley and Schneider-Electric/Telemecanique/MODICON.  Have good relationships with both vendors; will ask.

[2015-03-24 14:58] glaslos commented on #213
Great! Let me know if you need additional help. We are also reachable on #conpot@freenode. Closing this for now.

[2015-03-24 14:58] #213 closed

[2015-03-24 20:57] adarshdinesh commented on #211
63 problems Fixed. The file s7_server.py is untouched as we are working on a bug in that file on the same lines. Pull Req : https://github.com/glastopf/conpot/pull/222

conpot/protocols/s7comm/s7_server.py:58
conpot/protocols/s7comm/s7_server.py:67
conpot/protocols/s7comm/s7_server.py:111
conpot/protocols/s7comm/s7_server.py:172
conpot/protocols/s7comm/s7_server.py:177
conpot/protocols/s7comm/s7_s

[2015-03-24 21:43] adarshdinesh commented on #215
Pull Req : https://github.com/glastopf/conpot/pull/223
This issue is fixed :) Please merge it so that we can do the remainging Interpolation removal from the s7_comm.py file.

[2015-03-24 22:47] infracritical commented on #212
Found the bloody files for 'production'.  It's located under here:

/usr/local/lib/python2.7/dist-packages/Conpot-0.4.0-py2.7.egg/conpot/templates

...and NOT here:

/opt/conpot/conpot/templates

In the immortal words of Homer Simpson....DOH!!!!  Closing...

[2015-03-25 10:40] adarshdinesh commented on #215
@glaslos : Please check this : https://github.com/glastopf/conpot/pull/224

[2015-03-25 11:07] glaslos commented on #215
Fixed in #224

[2015-03-25 11:07] #215 closed

[2015-03-25 11:07] glaslos commented on #211
Fixed in #222

[2015-03-25 11:07] #211 closed

[2015-03-25 14:18] katkad commented on #212
you can also add template to /opt/conpot/conpot/templates but then you have to install conpot once more (python setup.py install). templates will copy as well to /usr/local/lib/python2.7/dist-packages/Conpot-0.4.0-py2.7.egg/conpot/templates

[2015-03-25 18:20] infracritical commented on #212
Kind of figured that much out already (see previous comment from me)...thanks.

Closing request...

[2015-03-25 18:20] #212 closed

[2015-03-26 10:18] harisphnx opened #225 "SSLError: [Errno 336265218] _ssl.c:355: error:140B0002:SSL (Error while connecting to proxy server)"
I installed the conpot server, and ran it with the proxy template. But when trying to connect to the SSL proxy proxy server. The connection gets refused, after that a number of times i get this error message..
[code]
I read a bit on the internet, it seems that a number of ssl related issues are mapped to this common exception, so it might be difficult to pin point the reason.
At one place, i read

[2015-03-26 10:23] harisphnx commented on #225
I installed the conpot server, and ran it with the proxy template. But when trying to connect to the Kamstrup Channel A proxy server. The connection gets refused, after that a number of times i get this error message..

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gevent-1.0.1-py2.7-linux-x86_64.egg/gevent/greenlet.py", line 327, in run
    result = self._run(*

[2015-03-27 01:07] mav3rick1990 opened #226 "Website Creation with login feature in combination with conpot"
Hi,

I am doing a semester project in which I am trying to implement conpot and also create a webserver hosting some webpages for the attacker to believe they have hit something. This website will host certain miscellaneous data and simulated PLC from conpot.

I understand that conpot runs its own apache server and I am able to upload web docs to htdocs folder as well. This displays my initial log

[2015-03-27 01:30] creolis commented on #226
You can proxy your requests through conpot.
Try this: Run your apache on port 8080, bind it to localhost. Then configure conpot to proxy all requests that are not fulfilled by conpot itself, by applying the PROXY config directive to the STATUS-404 configuration directive. Point the proxy directive to localhost:8080.

Boom -> you're there :)

[2015-03-27 15:42] AGIsmail opened #227 "Kamstrup Servers - Missing Attribute"
The stop attribute is missing from kamstrup_server.py and kamstrup_management_server.py.
The missing attribute triggers an error when a 'KeyboardInterrupt' is detected while Conpot is running.

[2015-03-27 15:59] AGIsmail commented on #227
Resolved. Issuing pull request.

[2015-03-30 09:09] adepasquale commented on #1
How about testing these IDS rules too?
http://www.digitalbond.com/tools/quickdraw/dnp3-rules/
http://www.digitalbond.com/tools/quickdraw/modbus-tcp-rules/

[2015-03-30 21:40] infracritical opened #230 "CentOS Support?"
Want to know if anything OTHER THAN Ubuntu is supported.  Will this work with RHEL or CentOS?

[2015-03-30 21:41] infracritical commented on #163
Even the creators of STIX and TAXII don't understand their own protocol!  ;)

[2015-03-30 21:46] glaslos commented on #230
I think it works even with Windows ;-)

[2015-03-30 22:51] infracritical commented on #230
Nice.  OK, then...time to try it out...will advise based on my results.  Thanks!

[2015-03-31 01:13] infracritical commented on #230
Nope...have to compile most of this from source...lovely, just lovely...

[2015-03-31 01:15] infracritical commented on #125
If these steps are followed -- with one minor item -- install "python-mysqldb", otherwise, none of this will work...

[2015-03-31 01:16] infracritical commented on #125
Also...tested this on 12.04.4...works; 12.05...works; 14.04...works; 14.10...works.

[2015-03-31 01:17] infracritical commented on #125
It would be *very* nice to see if similar steps would work with RHEL/CentOS.  The reason for asking is that not all environments allow Ubuntu/Debian-based LINUX versions.  Sometimes, RHEL/CentOS is the only answer because of support and licensing.  So...with that being said, are there *any* steps for installing 'conpot' onto a Red Hat(e) based environment?

[2015-03-31 10:55] katkad commented on #125
hello @infracritical if you have experience with it, I think you can write https://github.com/glastopf/conpot/tree/master/docs/source/installation for Centos, and make Pull Request for it
maybe just noone tried it before, so there is no docs

[2015-03-31 11:02] glaslos commented on #125
You can probably skip the MySQL package as it is optional for logging but there is no way around the SNMP, gevent and XML related packages. All other dependencies should be managed by pip which is platform independent (more or less). We would really appreciate any pull requests :) If you run into trouble I can fire up a VM and give it a try.

[2015-03-31 18:15] infracritical commented on #209
Working with the ICS/SCADA community, the 'modscan' tool is riddled with bugs.  I know the author very well, and we have had numerous discussions about his tool.

For those who want to perform a MODBUS scan, I would suggest using Digital Bond's NMAP NSE script as part of their Project Redpoint.

The NSE script may be found here:

https://github.com/digitalbond/Redpoint/blob/master/modicon-info.nse

[2015-03-31 18:16] infracritical commented on #209
DOH!  Forgot the URL to the mailing list...

http://www.scadasec.com

[2015-03-31 18:19] infracritical commented on #209
One last thing...

Although the NMAP NSE script was written primarily for the Schneider-Electric/Telemechanique/MODICON devices, it *should* work 'generically' on *any* MODBUS device.

Food for thought... ;)

[2015-04-01 12:39] glaslos commented on #209
Like here: https://github.com/glastopf/conpot/issues/169 ? ;)

[2015-04-01 12:40] glaslos commented on #169
Test modbus https://github.com/digitalbond/Redpoint/blob/master/modicon-info.nse too.

[2015-04-01 19:54] Vingaard commented on #169
Hello, tested on same box/version:
nmap -p 502 --script modicon-info -sV

Starting Nmap 6.40 ( http://nmap.org ) at 2015-04-01 21:50 CEST
Nmap scan report for 192.168.1.141
Host is up (0.0017s latency).
PORT    STATE SERVICE    VERSION
502/tcp open  tcpwrapped

However output gives: (IP changed to X.X.X.X):

2015-04-01 19:50:54,851 New connection from X.X.X.X:50691. (d0a15bc6-c982-4187-a592-a4f94f

[2015-04-03 08:39] Vingaard commented on #209
Please see update on https://github.com/glastopf/conpot/issues/169

[2015-04-03 09:04] infracritical commented on #169
Will test modicon NSE script this weekend.  This might have been updated since I last worked using this as a test example.  Am going to see if there are any NSE scripts that are better suited in lieu of Project Redpoint's MODICON validation script.  More to come...

[2015-04-07 10:02] glaslos commented on #227
Pull request merged.

[2015-04-07 10:02] #227 closed

[2015-04-09 15:32] KostasChar opened #231 "A simple question about kamstrup"
Hi i am doing a project about honeypots in my college and i installed conpot.I was interested in smart grid security and i installed kamstrup as well.I also used nmap to see if it was working properly.And the result was port 1025/tcp open and service NFS-or-IIS.
My question is how a potential attacker can understand that it is a smart meter and not something ordinary.Even the -O  flag didn't show

[2015-04-09 16:04] czardoz commented on #231
1. Potential attackers will also try to send some packets to the open port, which will respond as a smart meter, allowing them to "discover" it.

2. Some of them might have public IPs.

[2015-04-09 18:15] KostasChar commented on #231
Thanks mate!keep up the good work!

[2015-04-10 06:05] czardoz commented on #231
A few links to help:

* https://www.youtube.com/watch?v=8QwpcM0L3x0
* http://conpot.org/
* http://www.honeynet.org/node/1047

[2015-04-10 10:16] AGIsmail opened #232 "DNP3_Proxy - Install Doc. Update"
Hi,

Thought I'd add a couple of additional steps to < conpot/docs/source/components/protocols/dnp3.rst >.
Might be helpful to some.

=-Qu
1) Fetch DNP3 2.0.x branch from https://github.com/automatak/dnp3 i.e. git clone https://github.com/automatak/dnp3.git
2) Install the prerequisites: http://dnp3.github.io/doc/2.0.x/building/prerequisites.html
3) Get ASIO from here: http://think-async.com/ and i

[2015-04-10 11:00] glaslos commented on #232
You should send this in as a pull request! Looks good!

[2015-04-10 11:11] AGIsmail commented on #232
Glad you like it :)
Pull request issued: #233.

[2015-04-13 13:49] glaslos commented on #226
Closing for now, assuming this is answered.

[2015-04-13 13:49] #226 closed

[2015-04-13 13:51] glaslos commented on #231
@KostasChar we are currently working on solving the nmap -O issue: https://github.com/glastopf/oschameleon

Closing the issue for now, assuming all questions answered.

[2015-04-13 13:51] #231 closed

[2015-04-13 15:52] infracritical opened #234 "MAC masquerading not working"
I am attempting to masquerade the MAC address to the primary NIC where the device registers as something else.

If I perform the following commands initially:

ifdown eth0
ifconfig eth0 hw ether 00:11:22:33:44:55 (example here, not real MAC)
ifup eth0

It doesn't allow the 'conpot' instance to come up.  OR...if it does, the web server doesn't appear to come up.

if I perform the same commands AFTE

[2015-04-14 08:24] glaslos commented on #234
Have you tried this: https://github.com/glastopf/conpot/blob/master/conpot/conpot.cfg#L49 ?

[2015-04-14 12:26] infracritical commented on #234
That depends...

if it is on a 32-bit server, then it's simply the HTTP service, and the remaining services (MODBUS, SNMP, S7COMM) continuing running.

If it is on a 64-bit server, then the entire environment is 'flakey', and I get mixed results, sometimes only the HTTP services, other times, ALL services -- become unresponsive.

Thoughts?

[2015-04-14 12:27] glaslos commented on #234
This is all in a VM?

[2015-04-14 12:57] infracritical commented on #234
Yes and no.

The test is being conducted on *both* a virtualized environment AS WELL as a dedicated server.  see previous comments about results.  I get similar 'flakey' results on both.

[2015-04-14 13:04] glaslos commented on #234
Ah, sorry, I missed your post scriptum.
I'll try to reproduce your issues tonight. Changing the MAC address is a core feature we want to have for Conpot, so I consider this to be rather critical.

[2015-04-14 13:05] glaslos commented on #230
Did you manage to run Conpot on CentOS?

[2015-04-14 13:08] infracritical commented on #234
Thanks.  Did you want me to log the process?  I could easily provide raw output for dissemination here.

[2015-04-14 13:15] infracritical commented on #230
No.  CentOS uses an older version of Python to perform updates for the operating system, primary for it's *yum* and *rpm* update processes.  if I try and update Python to 2.7.x, it boloxes the update process, breaking it.  This has been an area of consternation with CentOS and Fedora developers.

I simply gave up, but am thinking of re-doing the effort again.

If I made a stable CentOS environment

[2015-04-14 13:26] infracritical commented on #230
I've re-opened this issue, as I think it important enough to work out a solution for Red Hat (RHEL, CentOS, Fedora) environments, as these architectures are used quite heaviliy within production environments here within the U.S.

[2015-04-14 13:29] Spindel commented on #230
I'd suggest using scl and https://www.softwarecollections.org/en/ to run
python 2.7 on CentOS 6. A slightly modified Init script to set up the
environment is needed though
On 14 Apr 2015 3:26 pm, "Infracritical" <notifications@github.com> wrote:

[2015-04-14 13:32] adepasquale commented on #230
Sorry for my lack of knowledge about CentOS, but is it a viable option to use a virtualenv?

[2015-04-14 13:32] infracritical commented on #230
Nice.  However, I noticed *one* glitch: the version of Python is Version 3.3.  Isn't 'conpot' tested *only* for Version 2.7.x?  If memory serves me right, Version 3.3 is the current development version and may not be stable enough for this effort.  I would rather use a more stable release to base any development on a Red Hat architecture (RHEL, CentOS, Fedora).

[2015-04-14 13:33] glaslos commented on #234
Anything you are able to share might help :)

[2015-04-14 13:34] infracritical commented on #234
Absolutely!  I'll see what I can do this evening, and post my results here.  ;)

[2015-04-14 13:39] glaslos commented on #230
CentOS is definitely a platform we want to support.
Conpot is only tested for Python 2.7
Python 3.x is not an option for now as many 3rd party libraries we are using are still on 2.x
Compatibility with Python 2.6 might be an option.
Installing Python 2.7 side-by-side with Python 2.6 on CentOS might be an option too: https://github.com/h2oai/h2o/wiki/Installing-python-2.7-on-centos-6.3.-Follow-this

[2015-04-14 13:40] infracritical commented on #230
I experienced this several times in the past when attempting to implement several Python solutions that used Version 2.7.  I think it best if I create a 'sandbox' environment for this effort.

[2015-04-14 13:41] Spindel commented on #230
https://www.softwarecollections.org/en/scls/rhscl/python27/ gives a good side by side.

[2015-04-14 13:42] infracritical commented on #230
Fair enough.  Good place to start...thank you.

[2015-04-14 14:28] creolis commented on #230
I would like to encourage you to think of Python3 as "a new Python" rather than an "updated version" since it is not really compatible and brings a lot of substantial changes.

I'm sure some people will not share this opinion, but I think Python 2.x vs. Python 3 can be compared to C vs. C++ or Apache 1.3 vs. Apache 2 in terms of "not just a minor upgrade".

[2015-04-14 14:32] glaslos commented on #230
@creolis I don't share your opinion :) For me 3.x is the better Python!

[2015-04-17 15:11] infracritical commented on #232
Um....question...

Is utilizing this as a *proxy* the ONLY method, or can this configured with DNP3 implemented the same way that S7COMM and MODBUS are configured?

[2015-04-18 16:40] glaslos commented on #232
@infracritical the only way would be if we had a Python wrapper for DNP3 (SWIG, ctypes, pyrex, SIP or if you wanna go badass Boost...).

[2015-04-21 15:11] shreyas1989 opened #235 "Installation"
Hi I get the following error,

Collecting crc16 (from conpot)
  Using cached crc16-0.1.1.tar.gz
Collecting enum (from conpot)
  Using cached enum-0.4.4.tar.gz
Collecting hpfeeds (from conpot)
  Could not find a version that satisfies the requirement hpfeeds (from conpot) (from versions: )
  Some externally hosted files were ignored as access to them may be unreliable (use --allow-external hpfeeds

[2015-04-21 15:14] glaslos commented on #235
Try this:

[code]

[2015-04-21 15:14] #235 closed

[2015-04-21 15:15] shreyas1989 commented on #235
ok thanks.. will try this :+1:

[2015-04-22 09:15] glaslos opened #236 "Investigate WinCC emulation"
https://github.com/drainware/nmap-scada/blob/master/Siemens-WINCC.nse

[2015-04-25 19:32] johnnykv opened #237 "utf problem in log worker"
While setting up some ConPot honeypots, I experienced a greenlet crash in the LogWorker class. This can be reproduced by telnetting to the Kamstrup management implementation.

[code]

[2015-04-27 02:19] mav3rick1990 opened #238 "HTTP does not spawn if get_external_ip is disabled"
Hello!

I am trying to implement conpot on one of my machines. However, I am unable to see the default webpage "Technodrome" using a web browser unless I get an external IP address for the machine. I do not wish for this machine to be facing the internet therefore I had disabled fetch external ip option in conpot.cfg.

I am only able to see the open http port when I connect back to the internet al

[2015-04-27 07:28] creolis commented on #238
Would you please start conpot, run

```netstat -an | grep LISTEN```

in another terminal and let us see the output?

[2015-04-27 07:37] mav3rick1990 commented on #238
As requested.

![conpot_start](https://cloud.githubusercontent.com/assets/316602/7343355/f745f6cc-ed03-11e4-9dc9-29e424ae4e17.png)
![conpot_prob](https://cloud.githubusercontent.com/assets/316602/7343356/faa3acf6-ed03-11e4-9134-a69e1be7c706.png)

[2015-04-27 08:03] creolis commented on #238
hmm ... that should not happen and is definitely worth investigating.

To your question:

I'm afraid you misunderstood this option :) It will not magically get you an external IP address and expose your setup to the internet - all this option actually does is that it DETECTS your external IP address in order to get a number of services (logging, etc.) configured the right way. Maybe we should rena

[2015-04-27 08:41] glaslos commented on #238
Hm, this is odd...

[2015-04-27 12:14] ramsandesh opened #239 "Error while adding proxy for getting dynamic pages"
For adding dynamic pages to the conpot. I tried the following.
Procedure 1:
Adding proxy to the status 404 but showed an error.
![status-404](https://cloud.githubusercontent.com/assets/5230268/7347528/24e84abe-ed07-11e4-80bb-363bd047c4cc.png)
Error i got : Element 'proxy': This element is not expected. Expected is ( entity ).

Procedure 2 : I even tried adding proxy to node. as below
![direct_dyna

[2015-04-27 13:51] creolis commented on #238
@glaslos: yeah, .. I didn't even know of some kind of link between fetching the WAN IP and spawning our services (except for hpfriends and stuff that may rely on WAN IP .. and even they should mitigate that .. )

[2015-04-27 21:53] creolis commented on #239
XSD Schema malformed ... :-/ ... I take a look at it

[2015-04-27 22:17] creolis commented on #239
sorry for the inconvenience. Please pull from master and try again.

[2015-04-28 00:48] mav3rick1990 commented on #238
"So you don't have to worry about that - you can enable the detection mechanism again and use conpot happily ever after,"

Hi there! just want to ensure I have explained the situation properly for rectification. Even if I enable fetch external ip and run conpot, it won't work until my computer is actually connected to the internet. Below are the screenshots for :

when i am not connected to the in

[2015-04-28 12:55] ramsandesh commented on #239
Thanks.. Error is fixed now. Working fine.

[2015-04-28 13:04] #239 closed

[2015-04-30 06:39] mav3rick1990 opened #241 "Conpot nobody/nogroup privileges"
Hello!

I have created a website that I would like to host using conpot's webserver. I have set permissions for all files to be read appropriately. However when I start conpot it drops all privileges. I am afraid this is the reason why the webserver is not reading my CSS and other supporting files on the website. This website is fully functional and works on a normal apache webserver.

Is there a

[2015-04-30 08:13] glaslos commented on #241
Do you see any error messages on stdout (console)?
What is the response code on the missing files (check your web browsers development tools (F12))?
Have you compared the permissions on your files with those in the default template?

[2015-04-30 11:20] adepasquale commented on #237
HPFeeds is a simple binary protocol. To my knowledge, data would be packed this way:
https://github.com/rep/hpfeeds/blob/249b2f7f44e6e017f5139e3f074fa0710e0a830c/lib/hpfeeds.py#L25-30

So, how about simply adding `ensure_ascii=False` to `json.dumps()` here?
https://github.com/glastopf/conpot/blob/master/conpot/core/loggers/log_worker.py#L129

[2015-04-30 18:46] creolis commented on #241
Please post your http configuration xml, I am pretty sure I know what's going on :)

[2015-04-30 18:48] creolis commented on #241
(at least my crystal ball yells "MIME TYPE!!!") .. but we'll see from your xml :).
Btw.: You can also post the XML to something like pastebin and link it here if that's more comfortable for ya.

[2015-05-01 03:12] mav3rick1990 commented on #241
Hi Daniel,

http.xml from my deployment is attached below:

<http enabled="True" host="0.0.0.0" port="80">
    <global>
        <config>

            <entity name="protocol_version">HTTP/1.1</entity>

            <entity name="update_header_date">true</entity>

            <entity name="disable_method_head">false</entity>

            <entity name="disable_method_trace">false</entity>

[2015-05-01 03:14] mav3rick1990 commented on #241
Hi Daniel,

As requested.

<http enabled="True" host="0.0.0.0" port="80">
    <global>
        <config>

            <entity name="protocol_version">HTTP/1.1</entity>

            <entity name="update_header_date">true</entity>

            <entity name="disable_method_head">false</entity>

            <entity name="disable_method_trace">false</entity>

            <entity name="disable_method_opt

[2015-05-01 03:16] mav3rick1990 commented on #241
Hi Daniel,

As requested.
http://pastebin.com/c9Lb1BAe

[2015-05-01 03:27] mav3rick1990 commented on #241
Hi Lukas,

Thank you for helping me debug the problem. The answer to your questions:
No, I do not have an error conpot runs as per normal. I can see HTTP request and response messages in the logs.

![screenshot from 2015-05-01 23_03_16](https://cloud.githubusercontent.com/assets/316602/7426306/832eaa40-f005-11e4-8954-d288d01816f9.png)

This is the error i get in my web browser when I click enter o

[2015-05-01 07:21] creolis commented on #241
Hey mav, ..

your problem is a actually a simple one. You did not customize your xml .. it is totally unconfigured and "default" - so conpot delivers every item that is preconfigured (a few unit tests and index.html) but that is it. It does not know of any other pages or css files.

The webserver is highly customizeable, at the price of having to customize it a lot :)
You need to specify every sin

[2015-05-01 22:31] creolis commented on #241
if you want to automate the creation of the node entries, I hacked together a few lines of code that may support you. Just run it from within the htdocs directory, it will take care of a bunch of mime types automatically (and you can easily extend/modify it) and writes the node records to stdout.

Just put them into your configuration xml instead of the nodes you already got there :)

[code]

[2015-05-02 06:19] mav3rick1990 commented on #241
Hi Daniel,

Thanks for pointing me to the right direction. Really appreciate it! I managed to change the http.xml file and included the appropriate nodes. The website is functional now however it appears to me that it still does not recognise the CSS file and other images the website is supposed to show and shows when I run it on a normal webserver. Posting some screenshots below and the updated h

[2015-05-02 07:48] creolis commented on #241
Weird ... but sorry, it works for me (tried it with a S7-1200 gif logo and the xml-node from your http xml).
Do you run on latest git master, or did you install using pip?

[2015-05-02 08:29] mav3rick1990 commented on #241
I'm actually running the latest git master. The error doesn't really make any sense. I thought it would be something to do with file permissions, but changing them didn't help either!

[2015-05-02 09:10] glaslos commented on #241
Have you tried to refresh your browser cache? Ctrl+F5 ☺

[2015-05-02 09:13] mav3rick1990 commented on #241
Yes! In fact I got rid of my cache and other history. I ensured that it is a clean slate before accessing local host online.

[2015-05-02 22:03] creolis commented on #241
what I can offer you is that you send me a zip containing your template as a whole and I will run it in a test environment here to see if it misbehaves the same way you experience..

[2015-05-03 06:40] mav3rick1990 commented on #241
Hi Daniel,

I have uploaded the entire folder online. You can find it at the below mentioned address:
http://www.4shared.com/zip/gEMUXnijba/web_root.html

Thanks for your help!

[2015-05-03 08:56] ramsandesh opened #242 "Problem in POST request handling by conpot web server"
I have made a customized HMI. I have implemented authentication for the HMI. For loading the Dynamic pages i am using proxy on status: 404, apache2 is running on localhost(127.0.0.1, 8080).
Redirecting is working fine, but have a problem while authenticating. I am using php code. When the  POSTrequest comes from localhost to conpot, it is unable to process. I am not sure how to rectify this proble

[2015-05-03 09:03] creolis commented on #241
err, I'm not going to make an account at 4shared (or use social auth) :)
Please upload via FTP here:
91.219.68.113

since we got no PM here at github, pls. provide me with your eMail address, so that I can send you the authentication details.

[2015-05-03 09:13] creolis commented on #242
*heh* I think I know exactly what is happening ...

okay, so this is a case that is not really handled yet .. I looked at the code and this edge case should definitely be enhanced.

You send a POST request - the request is trying to get a file via configuration but could not find a valid configuration item, so it's a non-existent file and therefore a 404. A 404 status is generated, but due do conf

[2015-05-03 09:18] ramsandesh commented on #242
I am stuck with this from 3-4 days, i was thinking it is my installation issues, so i was reinstalling everything and wasted so much time. Take your time, but i need as soon as possible.

[2015-05-03 09:54] mav3rick1990 commented on #241
Hi Daniel,

Sure. I am game for any which way the problem gets solved. Here you go;
onion.logmanager@gmail.com.

Thanks a lot!

[2015-05-04 00:30] mav3rick1990 commented on #241
Hi Daniel,

I have uploaded the data on your FTP server. Just wanted to let you know :)

Thank you for your help!

[2015-05-04 02:26] mav3rick1990 commented on #241
Hi Daniel,

I re-installed conpot from scratch and edited the xml file to include new nodes. Now, to my surprise it is working! Can't seem to diagnose the problem but whatever it was, got fixed. I just wanted to let you know that its in place now. I can finally access CSS/other files.

Thank you for your help and support on this matter! Really helped me a lot. :)

This is a good project and I hope

[2015-05-04 07:21] creolis commented on #241
Glad to hear it's working now :)
If you have further questions, don't hesitate to get in touch with us. We also accept enhancements if you happen to change parts of the code :)

[2015-05-04 07:21] #241 closed

[2015-05-06 05:00] mav3rick1990 opened #243 "Nmap Scan Results"
Hello,

I have my conpot machine setup for exploitation. However, when I tried to run an nmap scan over it, the only open port i see is port 80. In actual case, 102,502 and 161 are open too. I am running modbusdetect module from metasploit to identify a modbus service running.

Is  this supposed to be normal behaviour or am I missing something?
![conpot_nmapscan](https://cloud.githubusercontent.co

[2015-05-06 05:40] glaslos commented on #243
Can you do a `netstat -lnptu`?

[2015-05-06 06:48] mav3rick1990 commented on #243
![conpot_nmap2](https://cloud.githubusercontent.com/assets/316602/7488593/acdfb114-f40f-11e4-9bac-5e8202018505.png)
Output of the command on conpot machine

[2015-05-06 06:52] Vingaard commented on #243
quick question, do you remember to include UDP in the scan,  like  nmap -sU

[2015-05-06 07:10] mav3rick1990 commented on #243
Hi,
I am not getting any results from UDP scans. TCP scan sort of dumps an error in the conpot.log as well. SYN scan results in showing that only port 80 is open. 'A' flag also just shows that port 80 is open. Only when I specify -p 502 or other port numbers, does it show that other ports are open too.

I hope I have explained the problem I face.

Thank you for helping!

[2015-05-06 07:18] creolis commented on #243
... please send us the exact nmap command line you are using to start the scan.

[2015-05-06 07:47] creolis commented on #243
Uhm .. from your nmap-screenshot I can see the following line:
"Not shown: 999 closed ports".

This means that you obviously ran nmap pretty much unconfigured, did not tell it what to look at but just used the default profile, (maybe as SYN- or CONNECT scan).

What you should know using nmap is that running it unconfigured means that it will only test ~ 1000 of the most common ports it knows, _not

[2015-05-06 07:48] #243 closed

[2015-05-06 07:54] creolis commented on #243
( oh .. and since we are educating here - UDP scans are a pain in the ass as you don't scan for existence but for NON-existence of open ports. UDP scans rely on the fact that probes to closed ports are answered using ICMP messages, but this is troublesome since operating systems decided to limit the number of ICMP messages per second (ICMP-rate-limiting). If you scan too fast, you will simply MISS

[2015-05-06 09:29] mav3rick1990 commented on #243
Hi Daniel,

'And 102, 502 etc. are "well known", but not very common in the wild.'

Definitely got to learn something new here. I know how to use nmap just not enough experience handling these protocols. Thank you for your guidance!

Cheers!

[2015-05-06 12:21] creolis commented on #243
... yeah, it's a fun thing - when you look at:
https://nmap.org/book/man-port-specification.html

it says: "By default, Nmap scans the most common 1,000 ports for each protocol".

But up to now I did not find a list of what those 1000 ports actually ARE. The reason I knew this by heart is because I ran into the very same issues a lot of times while doing penetration tests.

[2015-05-06 14:40] creolis commented on #242
ramsandesh:
I just gave it a quick shot without any testing and added a few things into the blue.
If you want, you may try if this works for you instead of waiting until the change has been tested and made it into master:

https://github.com/glastopf/conpot/tree/proxy_method_awareness

[2015-05-07 13:12] infracritical commented on #236
OK...so how do you suggest converting lua into Python?

[2015-05-07 13:22] glaslos commented on #236
Heh, no, idea is to provide the other side: Emulate WinCC in Conpot so the nmap scripts match.

[2015-05-07 13:49] glaslos opened #244 "Support for the Common Industrial Protocol (CIP)"
There is some related code/write-ups to be found here:
http://hardconsulting.com/products/6-cpppo-enip-api
http://www.digi.com/wiki/developer/index.php/Importing_Rockwell_Data_to_Dia_and_iDigi
Most importantly: https://github.com/pjkundert/cpppo

[2015-05-07 13:54] glaslos commented on #1
Here a couple of other tools: https://github.com/atimorin/scada-tools

[2015-05-07 15:41] infracritical commented on #234
Sorry for the long delay...been sucked into another project.  I will do the logging again, and post here when I have time -- hopefully -- this weekend...

[2015-05-08 07:44] ramsandesh commented on #242
Sorry it didn't work. Please have a look at the screen shot attached.

![conpot_proxy](https://cloud.githubusercontent.com/assets/5230268/7532410/1c94e1d0-f584-11e4-87ad-085eb054218a.png)

[2015-05-08 15:29] glaslos commented on #238
I can't find any connection between the ext_ip code and the HTTP protocol code. I assume the issue is somewhere else... Maybe the lack of an internet connection?

[2015-05-08 15:58] glaslos commented on #234
Hm, I can reproduce this. I'm investigating...

[2015-05-08 16:22] glaslos commented on #234
Are you by any chance on dhcp? If so, you need a new lease after changing the MAC address.

[2015-05-08 17:10] glaslos commented on #234
Try the latest version from git. You have to change the config and set `change_mac_addr` to True.

[2015-05-09 06:07] glaslos opened #246 "Assertion error in Kamstrup"
[code]

[2015-05-09 06:09] glaslos opened #247 "STIX validation issue"
Potentially due to a new stix library version?

[code]

[2015-05-09 06:53] johnnykv commented on #247
I am pretty sure it's because they updated the interface to the stix validator. I will take a look at it.

[2015-05-09 06:54] johnnykv commented on #246
When do you get this? At startup?

[2015-05-09 07:32] glaslos commented on #246
In the Travis test

[2015-05-09 12:48] johnnykv commented on #246
Yeah ok, I see it. I bet it is some kind of closedown logic gone wrong.

[2015-05-09 14:16] #246 closed

[2015-05-09 14:58] #247 closed

[2015-05-09 20:18] johnnykv opened #248 "Pysnmp exception seen in the wild"
This exception below was seen on a honeypot in the wild, not sure what was going on...

[code]

[2015-05-11 14:55] infracritical commented on #234
I am currently using v0.4.0, and get similar results.

[2015-05-11 14:58] glaslos commented on #234
0.4.0 is behind the master branch. We are going to release a new version after merging the code from @sookyp
If you want to try it with 0.4.0: Are you using DHCP? Have you tried to get a new lease?

[2015-05-12 21:46] glaslos opened #250 "Investigate methods for an internal interface of things"
As @johnnykv always wants code, here is what I want:

[code]

Is this something we can put into the databus or should we create a new interface?

[2015-05-12 21:51] glaslos opened #251 "Create documentation on how to use Docker"
There should be some bare minimum instructions on how to use docker to run Conpot.

[2015-05-13 15:12] johnnykv commented on #250
I think it should be a new interface, the databus only know about data, not protocols and stuff.
Most of the data can be collected around [here](https://github.com/glastopf/conpot/blob/master/bin/conpot#L267).

[2015-05-14 04:48] ramsandesh commented on #242
Can any one help me in fixing this ??

[2015-05-14 11:25] creolis commented on #242
sorry, I was quite busy this week and I did not forget you.

Of course you can have a look at the initial changes I made in the proxy method awareness branch and see what I might have missed - you are welcome to send in corrections at any time :)

[2015-05-19 21:25] glaslos opened #253 "Investigate support for an interoperable telesurgical protocol"

[2015-05-19 21:37] adepasquale commented on #253
Fuck yeah!

[2015-05-19 22:09] creolis commented on #253
this is giving me the creeps ...

[2015-05-20 12:47] glaslos commented on #253
First version of ITP was basically plain text. Secure version is using TLS.

[2015-05-20 13:53] glaslos opened #254 "Investigate support for TR-069 (CWMP)"
See an example here: https://code.google.com/p/catawampus/source/browse/cwmpd

[2015-05-21 16:31] creolis commented on #242
Did you find out anything yourself yet?

I had a look at traffic dumps, using a direct connection and using a conpot proxied connection.
The conpot proxied connection did not successfully transport POST variables - but I can't tell why because both requests are basically the same. I'm not sure what's wrong here ..

ideas anyone?

![screen shot 2015-05-21 at 18 23 05](https://cloud.githubuserconten

[2015-05-21 16:34] creolis commented on #242
content type maybe ... *hmm*

[2015-05-21 19:03] creolis commented on #242
yeah .. verified it via plain ol' telnet. A content type header seems to be mandatory for further processing of the request body. So basically, what we have to do here is stuffing all those headers originated by the client to the subsequent request ... with some modifications though as we will need to replace the Host: and Connection: headers.

[2015-05-25 11:35] glaslos commented on #253
Here is a repo for the robot source code: https://github.com/uw-biorobotics/raven2/blob/master/include/itp_teleoperation.h

[2015-05-25 11:36] glaslos commented on #254
Catawampus is super bloated but I think we can abstract the required components.

[2015-05-25 17:40] creolis commented on #242
@ramsandesh Please retry the proxy awareness branch again. I made changes that tackle the POST issue while at the same time fixing the fact that proxied connections did not handle cookies correctly - which they do now too.

I tested it and it seems that everything works fine so far, but I'll wait for your confirmation before I merge.

[2015-05-25 17:48] ramsandesh commented on #242
Thanks a lot. Let me try the changes. will update you in 12hours.

On Mon, May 25, 2015 at 11:10 PM, Daniel Haslinger <notifications@github.com

[2015-05-25 23:37] creolis commented on #242
kk :)

[2015-05-26 05:02] ramsandesh commented on #242
Its working. Perfect (y). Thanks a lot. I tested it, Its handling the POST requests perfectly.

[2015-05-26 07:47] creolis commented on #242
Great :) sorry that it took so long, $dayjobs can be pretty time consuming :-)

[2015-05-26 07:47] #242 closed

[2015-05-28 15:10] infracritical commented on #234
Sorry for the long wait, no, not using DHCP; IPs are statically assigned.

[2015-06-01 15:30] infracritical commented on #234
Found a workaorund that seems to work.  However, the masquerading via the "conpot.cfg" file is still unable to work effectively, and produces irregular results.  More to come...

[2015-06-01 15:30] #234 closed

[2015-06-01 18:58] #230 closed

[2015-06-01 19:07] creolis commented on #230
@glaslos I didn't state that it is not a better version ... I just said it's more than a simple successor :)

[2015-06-15 09:19] katkad commented on #248
fixed by this https://github.com/glastopf/conpot/commit/50b6a79449e2c310403d8154f857fb931f15f2b6
caused by this https://github.com/glastopf/conpot/blob/master/conpot/protocols/snmp/conpot_cmdrsp.py#L219

[2015-06-15 09:28] #248 closed

[2015-06-15 11:02] katkad commented on #45
guess this is fixed https://github.com/glastopf/conpot/commit/26a31c7bce1db68cb0b60c5b0a19998e3493387e

[2015-06-15 11:03] katkad commented on #114
guess this is implemented https://github.com/glastopf/conpot/pull/205

[2015-06-15 11:04] katkad commented on #163
guess it is separated https://github.com/glastopf/conpot/pull/207

[2015-06-15 11:05] katkad commented on #101
guess it is fixed https://github.com/glastopf/conpot/pull/245

[2015-06-15 11:07] katkad commented on #55
guess it's implemented https://github.com/glastopf/conpot/pull/252

[2015-06-15 11:08] katkad commented on #61
guess it is implemented https://github.com/glastopf/conpot/pull/255

[2015-06-15 12:21] glaslos commented on #45
Good catch.

[2015-06-15 12:21] #45 closed

[2015-06-15 12:21] #114 closed

[2015-06-15 12:22] #163 closed

[2015-06-15 12:22] #101 closed

[2015-06-15 12:23] #55 closed

[2015-06-15 12:24] #61 closed

[2015-06-21 07:11] TanyaTie opened #261 "[bacnet] DecodingError: invalid APDU type"
I am work on ICS honeypot using bacnet protocol in conpot.
I setup conpot, when I test bacnet using nmap (nmap --script bacnet-info -sU -p 47808 ipaddr),
got follow errors:

[code]

actually, APDU type would be 0. I think APDU is checked by wrong start index. How can I fix it?

[2015-06-21 11:27] glaslos commented on #261
Have you checked if we pass the wrong data to the bacpypes decoder?

[2015-06-21 12:20] TanyaTie commented on #261
but I use the same namp scan to the internet, can get the result like that:
nmap --script bacnet-info -sU -p 47808 -Pn <ipaddr>

Starting Nmap 6.47 ( http://nmap.org ) at 2015-06-21 21:15
Nmap scan report for <domain> (ipaddr)
Host is up.
PORT      STATE SERVICE
47808/udp open  bacnet
| bacnet-info:
|   Vendor ID: Reliable Controls Corporation (35)
|   Vendor Name: Reliable Controls Corporation
|

[2015-06-21 19:31] glaslos commented on #261
So for some reason bacpypes can't handle the type. I'll try to have a look next week.

[2015-06-22 09:43] arunm2110 opened #262 "conpot error with downloaded files with hmi_crawler"
I am tring to give new hmi look to conpot with hmi_crawler
i downloaded hmi with hmi_crawler, when i am using commands with conpot like,
conpot -w <your new directory> -r <root page> , it shows unrecognized arguments.

1)
a-virtual-machine ~ # conpot -w ~/ics/dump/ -r ~/ics/dump/Portal4300.htm
usage: conpot [-h] [-t TEMPLATE] [-c config.cfg] [-l LOGFILE] [-a RAW_MIB]
              [-m MIBPATHS] [-

[2015-06-23 12:21] katkad commented on #261
Hi, I had commit in testing which fixed this exception
@TanyaTie thank you for reproducer

commit is now in master https://github.com/glastopf/conpot/commit/7a9b0e961b47e2918cc27e9c281531a7b7f5d641, and logs now look like this:
2015-06-23 12:56:43,929 DecodingError: invalid APDU type:8
2015-06-23 12:56:43,930 PDU: <PDU None -> None : 0A.00.11.01.04.00.05.01.0C.0C.02.3F.FF.FF.19.4B>

so you can see

[2015-06-26 22:42] TanyaTie commented on #261
@katkad
Thank you very mach. I will look the debug info.

[2015-07-08 12:41] adepasquale commented on #198
I don't think calling tshark for every packet is a good idea, anyway this could work:
https://github.com/KimiNewt/pyshark/blob/master/src/pyshark/capture/inmem_capture.py#L69

[2015-07-08 22:10] Vingaard opened #266 "Centos Support on Conpot"
As a follow-up to a previous issue (#230) - now closed, I commission a freelancer (who failed) to make conpot work on Centos. After some additional troubleshooting time, I found below method to install conpot on Centos.

I would kindly ask interested peers to test below, and provide feedback. Should the community feel the guideline are correct/sufficient, I will make a pull request. I am not a cen

[2015-07-09 16:29] adepasquale commented on #266
Thanks for sending your script, I have just tested it and here are some notes.

* The number of new packages installed is huge (roughly 100-150), are you sure all of them are absolutely needed? What is pulled in with `sudo yum -y groupinstall "Development tools"`?
* I'd add some suggestions about `mysql_secure_installation` questions, i.e. what to answer for a production environment.
* I'd also co

[2015-07-09 16:34] glaslos commented on #266
Thanks for testing Andrea. 'nogroup' is probably Debian specific and we have to figure out what we should drop to on CentOS

[2015-07-10 13:26] adepasquale opened #267 "Drop privileges to the appropriate user and group"
In reference to issue #266, the user/group name and ID for minimum privileges are not always the same.

Here are some example outputs of `id nobody` tested on my boxes:
[code]

I see some possible fixes:
 1. [First try using uid/gid `-2`, then fallback to `99` (CentOS only?)](https://github.com/mushorg/conpot/blob/402489a829658b5ea13fcba5cad851c61558d68d/bin/conpot#L101-L104), but I see [a warning

[2015-07-10 14:14] glaslos commented on #267
How about doing 2 by default and offering the option to do 3?

[2015-07-13 13:49] ahmedsherif opened #269 "ImportError: No module named bacnet_server"
I tried to install conpot recently and I figured out this error while executing conpot

"from conpot.protocols.bacnet.bacnet_server import BacnetServer
ImportError: No module named bacnet_server"

When I tried to get in to Modulels "/conpot/conpot/protocols/bacnet" I couldn't get the bacnet_server

[2015-07-13 13:51] glaslos commented on #269
This is a known issue in the current master branch.

[2015-07-13 18:48] johnnykv commented on #269
Are you getting this from current? Afaik that should be fixed a few nights ago (But IPMI still fails).

[2015-07-13 18:52] glaslos commented on #269
Johnny:
https://github.com/mushorg/conpot/blob/master/bin/conpot#L47
https://github.com/mushorg/conpot/blob/master/conpot/protocols/bacnet/bacnet_app.py

bacnet_app vs. bacnet_server

[2015-07-14 09:08] glaslos opened #270 "Migrate to the new Travis container-based infrastructure"
See here: http://docs.travis-ci.com/user/migrating-from-legacy/

Requires: https://github.com/travis-ci/travis-ci/issues/4345 and https://github.com/travis-ci/travis-ci/issues/4344

While on it, also add caching: http://docs.travis-ci.com/user/caching/

[2015-07-14 10:25] glaslos commented on #262
The HMI document (https://github.com/mushorg/conpot/blob/master/docs/source/usage/hmi.rst) is outdated. Have a look at https://github.com/mushorg/conpot/blob/master/docs/source/usage/usage.rst#http

[2015-07-14 20:21] Vingaard commented on #266
Hello adepasquale , first - many thanks for your time and input, I will fix the items and submit  it as a centos.rst. After initial submit, I will go to the lab and see if I can cut down on the packages required

[2015-07-14 21:29] adepasquale commented on #266
Thank **you** @Vingaard for sharing your instruction with the community. :smile:

Looking forward to your pull request!

[2015-07-14 23:24] johnnykv commented on #269
fixed with 1da8580c152b7b6443c174382cfe501e940f0744

[2015-07-14 23:24] #269 closed

[2015-07-14 23:24] #182 closed

[2015-07-15 08:30] glaslos commented on #198
LGTM. You might be able to tie this to our session handler to have a packet consumer per active session.

[2015-07-16 11:35] arunm2110 commented on #262
Thank you so much for help

On Tue, Jul 14, 2015 at 3:55 PM, Lukas Rist <notifications@github.com>
wrote:

[2015-07-16 12:06] #262 closed

[2015-07-17 08:36] johnnykv opened #272 "IPMI server or broken"
I Properly broke this. For details see threatstream/mhn#185

[2015-07-17 08:37] glaslos commented on #272
MHN installs Conpot from master?

[2015-07-17 08:37] glaslos commented on #272
Maybe we should have some more stable, tagged releases :)

[2015-07-17 09:43] katkad commented on #272
@glaslos good idea, but what I _really_ would like is working master at all time

[2015-07-17 09:47] glaslos commented on #272
@katkad I agree with you too. We are very sloppy when it comes to QA and product management.

[2015-07-17 09:54] adepasquale commented on #272
Development branch?

[2015-07-17 10:13] glaslos commented on #272
I think we did that with Glastopf at one point. Problem is, we then need reliable releases to the master branch so it doesn't lag too far behind. Otherwise you end up with replying to every issue with 'Check out the development branch'.

[2015-07-17 10:14] Spindel commented on #272
Can I suggest a time based release schedule then?

[2015-07-17 10:28] johnnykv commented on #272
We also need better test coverage, currently all tests pass.

[2015-07-20 10:46] glaslos commented on #11
@adepasquale have you looked more into this?

[2015-07-20 11:18] adepasquale commented on #11
Even if this might overlap with the DNP3 proxy branch, I'd like to code wireshark dissectors first. Then implement DNP3 only after I have better understood the protocol.

[2015-07-20 11:28] glaslos commented on #11
Sounds good to me. I might have a student interested in working on this after all. I still think writing a proper wrapper around automataks opendnp3 library would be pretty awesome...

[2015-07-20 17:11] Vingaard commented on #266
You are most welcome - many thanks for your input. Updated rst file send as PR

[2015-07-20 17:11] #266 closed

[2015-07-22 21:07] adepasquale commented on #251
I will write some documentation based on [this comment](https://github.com/mushorg/conpot/pull/201#issuecomment-75657640) from issue #201.

[2015-07-23 11:42] glaslos commented on #270
Both requirements got merged by Travis. We should be able to migrate to the new container infrastructure.

[2015-07-24 08:42] katkad commented on #270
done in https://github.com/mushorg/conpot/commit/4869949bd86c81690b13c0349d90aaa39e6e27d2

[2015-07-24 08:42] #270 closed

[2015-07-30 10:06] katkad commented on #237
I got different error in both with and without proposed fix

[code]

connect to kamstrup mngmt interface wth telnet, and type one of these:
České dráhy
汉语 / 漢語;

[2015-08-06 16:21] #267 closed

[2015-08-12 14:18] katkad commented on #272
not broken master

[2015-08-12 14:18] #272 closed

[2015-08-28 10:54] glaslos opened #277 "Add support for Beckhoff ADS protocol"
Here are two OOS libraries:
https://github.com/chwiede/pyads
https://github.com/gass/libads

[2015-09-03 20:32] perse-lab opened #278 "Missing dependency from installation instructions"
Thanks for the very interesting project, I just downloaded Ubuntu 12.04LTS and followed the install instructions, but found during the setup.py step that I needed to install:

libmysqlclient-dev

as well in order for the install to complete.

Thought I should let you know.

Thanks,

Andrew

[2015-09-04 11:39] katkad commented on #278
hello, I see libmysqlclient-dev here https://github.com/mushorg/conpot/blob/master/docs/source/installation/ubuntu.rst

[2015-09-04 15:21] glaslos commented on #278
The documentation you found is only updated on releases.

[2015-09-04 15:21] #278 closed

[2015-09-08 18:31] johnnykv commented on #237
I can't reproduce this problem anymore. @katkad @adepasquale do you of  you have a bulletproof way to reproduce these two crashes?

[2015-09-08 18:45] johnnykv opened #279 "Guardian AST usage simulator"
Our Guardian AST should have a usage simulator. This simulator should reflect real world gas usage, ie:

* Main tank being refilled at regular intervals.
* Occasionally leaking.
* Consumer's tanking (ie. tank levels drops)

[2015-09-09 23:51] infracritical opened #280 "Still having MAC masquerading issues..."
Trying to work with either Ubuntu 14.04 or 14.10, either one patched, too.

For the life of me, I *cannot* seem to get the MAC masquerading working.  I've tried it with it 'on' with the 'hwaddress' field left out, and with it 'off' with the 'hwaddress' field added in.  In either circumstance, when I execute NMAP, it comes back as being a Linux O/S -- actually, I believe that it says 'Mandriva'.

C

[2015-09-10 00:10] infracritical opened #281 "Has anyone tested 'conpot' with CentOS v6?"
Documentation mentions about v7:

https://github.com/mushorg/conpot/blob/master/docs/source/installation/centos.rst

Just curious about this.  Honestly, I don't trust v7...not...just...yet.  Anyone got any clarification on the CentOS install?  If at all, I could be a guinea pig here, if no one knows...

[2015-09-10 12:11] glaslos commented on #281
@Vingaard do you have some spare time to do the test you did for v7 also for v6? Best case would be if you just had to swap out the EPEL source.

[2015-09-10 12:17] glaslos commented on #82
OPC simulator: http://www.gray-box.net/download_graysim.php

[2015-09-10 15:49] infracritical commented on #281
Actually, I *think* that I've got it working on CentOS 6.7; however, it is *much* more complex than what was outlined for CentOS 7.x.  So far, I've managed to get the instance up and running, but somehow cannot connect to the environment.  It's on an isolated server behind 2 firewalls, so I'm checking there for other issues.

BTW, it's more than simply swapping out the EPEL source... :(

[2015-09-10 15:51] infracritical commented on #281
So far, these are the *raw* steps that I have for the installation.  I need to re-trace my steps on a new/clean server image, then go over each step identified 9I forgot to capture everything into a log file....DOH!!!).

Here are the steps that I have so far...

yum -y update
wget http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm
rpm -ivh epel-release-6-8.noarch.rpm
yum rep

[2015-09-10 15:52] infracritical commented on #281
Oh, and one more thing...

Edit the /etc/sysconfig/selinux/config file and set "SELINUX=disabled"...

[2015-09-10 15:54] infracritical commented on #281
HAHZAH!!!!

I *just* rebooted the primary firewall, and IT WORKS!!!

[2015-09-10 15:58] infracritical commented on #281
I will re-trace my steps again this evening on a new/clean server, and take screenshots, and everything.  I should have a much more detailed manual on the installation process.  I may even attempt this with CentOS 7.x on one of the 64-bit servers that we aren't currently using.

It is much more complicated, but should do the trick!!!.  Again, this was verified on CentOS 6.7 on 32-bit architecture.

[2015-09-10 16:40] infracritical commented on #281
I am going to keep this issue open until I can manage to re-produce what I did *cleanly*.

[2015-09-11 19:44] Vingaard commented on #281
@glaslos Currently going abroad to present the value of running honeypots on a security conference - will be back late next week in my lab as i didn't look at 6.x
@infracritical: one thing who gave me some initial problems was the lack of correct lxml - had to set the version strick to lxml==3.3.5 after lot of troubleshooting, the same may be the case for 6.x.
let me know of progress - would be ha

[2015-09-11 20:32] infracritical commented on #281
I was able to verify everything...sort of.  One sentence: it...is...a...mess.

I *think* that I've got the entire process verified; just going to check one more time to make sure that it is verifiable.  This was tested with a baseline load of CentOS 6.6, then upgraded to the most recent, stable release of CentOS (which, as of today, is "6.7").

Once I have it done, I will create a bash script for

[2015-09-11 20:39] infracritical commented on #281
One more thing for those wanting to install this onto a CentOS platform, I would *strongly* recommend using "daemonize".  This will enable the use of the "conpot" product, but placed into a daemon state.

Steps are as follows:

(1)  cd /root
(2)  git clone https://github.com/bmc/daemonize.git
(3)  cd daemonize
(4)  ./configure
(5)  make all
(6)  cp daemonize /usr/local/bin

The final step to execu

[2015-09-12 12:04] johnnykv commented on #237
Please reopen if this is still an issue.

[2015-09-12 12:04] #237 closed

[2015-09-13 08:30] z0x010 commented on #141
i have download https://github.com/Ebolon/iec104 codes, and i have successed install it,  But i don't know how to use it , can anyone help me??

/*thanks*/

[2015-09-13 13:49] glaslos commented on #141
In a nutshell, you want to create a socket listener and then use the client and the documentation to figure out how to reply as a server.

[2015-09-13 23:49] infracritical commented on #281
OK...it took a few times to get it straight, but this is a *CLEAN* installation for CentOS 6.x...

This was tested using CentOS 6.6 32-bit architecture as the baseline, then upgraded to CentOS 6.7.

===========================

yum -y update
yum -y install wget git zip unzip
wget http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm
rpm -ivh epel-release-6-8.noarch.rpm

vi /etc

[2015-09-13 23:53] infracritical commented on #281
Somehow the last line got munged.  It should be "http://IP-ADDRESS"...where "IP-ADDRESS" is whatever IP address you've assigned your service.

Also, you may want to add a few entries into your "/etc/sysconfig/iptables" file:

# Firewall configuration written by system-config-securitylevel
# Manual customization of this file is not recommended.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUT

[2015-09-13 23:55] infracritical commented on #281
And that's it!!!  This was tested several times -- FROM SCRATCH -- and has been verified several times.  The environment that this was tested on is a 32-bit virtualized environment, running VMWARE 4.1 Update 3 (4.1U3), running CentOS 6.6, upgraded to its new baseline (CentOS 6.7, as of today -- 13-Sep-2015).

[2015-09-14 00:10] infracritical commented on #281
Oh...and one more important note...

For the virtualized environment, I used 1 GB of RAM, and 8 GB of disk.  Worked VERY well with this configuration.  If you use anything < 1 GB, it will take considerably slower to install, compile and deploy.

[2015-09-14 12:15] infracritical commented on #281
I am closing this issue...

[2015-09-14 12:15] #281 closed

[2015-09-15 19:59] glaslos commented on #280
Are you trying to change the IP address? Can you confirm that the interfaces hardware address has changed?

[2015-09-21 11:47] glaslos commented on #253
da Vinci sold by Intuitive Surgical seems to be the most common surgical robot.

[2015-10-13 13:32] katkad commented on #237
nice, works fine now

[2015-10-26 09:39] wojtossfm commented on #238
@mav3rick1990 Not that it's a legitimate solution to the problem but having a dummy localhost HTTP server that will respond even with 127.0.0.1 to a single request and shutdown seems to help circumvent the problem. Hope this helps while looking for a viable solution.

[2015-10-26 09:47] glaslos commented on #238
@wojtossfm is http the only protocol that's not working?

[2015-10-26 10:33] wojtossfm commented on #238
@glaslos Seems like it. With fetch_public_ip set to off I can telnet to the s7comm and modbus servers and using pysnmp examples I can connect to the SNMP server. Only HTTP doesn't work (doesn't even showup in netstat).

[2015-10-26 11:13] glaslos commented on #238
@wojtossfm does your Conpot has an internet connection?

[2015-10-26 11:19] wojtossfm commented on #238
It does have an internet connection, but I didn't want it to initiate connections to the interet and that is why I was looking for a way to disable fetching the public ip.

[2015-10-26 11:29] glaslos commented on #238
Fair point. @creolis do you have some time to look into this? I am pretty busy the next two weeks.

[2015-10-26 11:37] creolis commented on #238
yeah, I'll have a look at it ...

[2015-10-26 14:20] wojtossfm commented on #238
Seems like this might be some form of race in initialization. Adding a sleep when fetch is disabled also seems to solve the issue...
[code]

[2015-10-26 14:38] glaslos commented on #238
@wojtossfm I don't see an issue with removing the `else` and outdent the sleep (put the import to the top of the file). Are you comfortable with creating a PR for this?

[2015-10-26 14:49] wojtossfm commented on #238
@glaslos No problem. I can make a PR with the changes you mentioned. The import was placed there only to make the sample code more compact.

[2015-10-26 15:30] wojtossfm commented on #238
@glaslos I just realized that it seems that this was fixed somewhere along the way without anyone noticing directly. I was working with a 0.4 release version and just now I tried with a fresh 0.4 release version (I noticed they were different) and the bug isn't there. I'll check up on tomorrow to make sure  as I have to call it a day already.

Sorry for possibly taking up your time. Didn't realize

[2015-10-26 15:44] glaslos commented on #238
@wojtossfm ah yeah. We haven't released in some time. I assumed you where working with the latest version from git.

[2015-10-26 21:29] creolis commented on #238
:) funny thing: I could remember this "bug" somehow, but I didn't know if we already fixed it or just forgot about it ..

[2015-10-27 07:25] wojtossfm commented on #238
I can confirm that this isn't present in the 0.4 release anymore. Apparently something changed between the 0.4 that I had and the 0.4 that is currently available. Sorry for the mix up and I'm glad that this has been fixed. When I looked at a diff between the main files it was probably related to forking but I didn't delve deeper into it since it's fixed.

[2015-10-27 08:41] katkad commented on #238
well, there is 168 commits between 0.4.0 and current master :)

[2015-10-27 08:48] wojtossfm commented on #238
I partially tested the current master yesterday and also didn't notice the issue however I had one of the dependencies in an older version than theoretically required so best if someone reproduces the test with all of the dependencies.

[2015-10-27 09:11] adepasquale commented on #238
`git bisect` is your friend :smile:

[2015-10-27 09:37] glaslos commented on #238
Closing this as a know issue in 0.4.0 and fixed in master.

[2015-10-27 09:37] #238 closed

[2015-10-28 12:09] adepasquale opened #282 "Add support for Schweitzer SEL-2032"
https://www.selinc.com/SEL-2032/
https://www.ebay.com/sch/i.html?_nkw=Schweitzer+SEL2032

Looks like a telnet plaintext protocol...

[2015-11-08 10:19] glaslos commented on #261
@TanyaTie did you had a chance to look into this?

[2015-11-08 10:21] glaslos commented on #169
@infracritical did you had a chance to look into this?

[2015-11-08 11:14] adepasquale opened #284 "Use PySNMP version 4.3.0+"
PySNMP v4.3.0 removed the `build-pysnmp-mib` tool so for now we will stick to v4.2.5.

We will need to invesigate these additional tools in order to use v4.3.0+:
- https://pypi.python.org/pypi/pysnmp-mibs
- https://pypi.python.org/pypi/pysmi/

[2015-11-08 18:14] sjhilt commented on #169
as the person who wrote these scripts, if you need any help let me know. The modicon script uses FC90 for most of the information, modbus-discover is actually just FC43 iirc. But let
Me know and I can help

[2015-11-08 19:29] glaslos commented on #232
Closed with #233

[2015-11-08 19:29] #232 closed

[2015-11-08 20:03] glaslos commented on #225
We are dropping permissions after the start, but the server should read the key into memory before we drop them. So not quite sure whats going on. Closing this until we can reproduce.

[2015-11-08 20:03] #225 closed

[2015-11-09 08:10] TanyaTie commented on #261
@glaslos
I found out that origin python source file read wrong place to decode the APDU Type. So I analysis the pcap file by wireshark, and refer to analysis.py file in bacpypes. And I finally decode the data. So far, I only get the ReadProperty Service run, it's  hard to understand whole bacpypes.

[2015-11-09 08:51] glaslos commented on #261
Could you elaborate a bit on your findings?

[2015-11-09 22:10] adepasquale opened #285 "Create a general telnet server with templates and custom dialog flow"
As suggested by @glaslos it would be cool to have a single telnet server implementation with templates and an additional dialog flow mechanism that would easily allow to add more devices.

Ideally it could be a state diagram where:
* states represent messages sent by the server; and
* (different) transitions are triggered by (different) client input.

[2015-11-10 21:30] glaslos commented on #134
This looks really nice. Did you had a chance to look at it?

[2015-11-10 21:30] glaslos commented on #208
This seems to be a good start: https://github.com/stevenblair/rapid61850

[2015-11-11 02:41] TanyaTie commented on #261
@glaslos
First, I add a method --"decodeBacnetUdp" in class BacnetServer. This method will decode the udp data from "handle" method. Method "decodeBacnetUdp" refer to  decode_packet(data) method of analysis.py file in bacpypes, which can return a decoded apdu data.
And then, in handle method of class BacnetServer, I use the decoded apdu to do "bacnet_app.indication" and "bacnet_app.response". Howe

[2015-11-17 20:55] romali opened #286 "Conpot crash during connection with "failed with UnicodeDecodeError""
Hello,
After set [hpfriends] to True, application crash with following errors, any idea?

[code]

[2015-11-17 21:00] adepasquale commented on #286
Almost certainly related to #237

[2015-11-17 23:19] johnnykv commented on #286
@adarshdinesh yes, I agree. :beer: to the one who figures out what's really going on here.

[2015-11-18 16:11] glaslos opened #287 "Generic Simulator"
Simulate a realistic system.
Electric grid simulation: https://github.com/sk4ld/gridpot using GridLAB-D: http://gridlab-d.sourceforge.net/wiki/index.php/Power_Flow_User_Guide
Could help with #279

[2015-11-22 18:33] infracritical commented on #282
This device is the equivalent of a remote telemetry unit (RTU), as it supports the DNP3 protocol.  There is *no* Ethernet interface, and must be purchased separately from SEL.  Also, the devices does *not* have a web interface or web admin interface.  This device is a plain 'n simple device -- minimalistic.

[2015-11-22 18:34] infracritical commented on #282
BTW, this device supports DNP3 and MODBUS.

[2015-11-22 18:54] adepasquale commented on #282
@infracritical Do you have more info about the telnet server? It should be called SEL-704 or -705.

[2015-11-22 19:12] infracritical commented on #282
I don't know about the 704 or 705 models.  Are they supposed to be serial->Ethernet converters?

[2015-11-23 13:17] adepasquale commented on #282
I am sorry @infracritical, I meant [SEL-734](https://www.selinc.com/sel-734/) and [SEL-735](https://www.selinc.com/SEL-735_Revenue_Meter/). Looking at Schweitzer's website they do not look like Ethernet converters, but rather "Power Quality and Revenue Meters".

I've been able to [find some on Shodan](https://www.shodan.io/search?query=sel-+telnet+server), they have a telnet server that _should_ r

[2015-11-23 13:52] katkad commented on #286
hello, according to my observation, it is introduced in https://github.com/mushorg/conpot/commit/2d06448a6ed447688d2a4ae17ed9ec77493ddcf7
but happens only on some of my machines. one is fine

looks like struct.pack in hpfeeds.py has trouble packing non-ascii characters

my Traceback:
[code]

[2015-11-23 18:23] romali commented on #286
I not sure if is correct solution but I add skipkeys=True, encode('utf8') to the json.dumps, and so far has no crash
[code]

[2015-11-23 18:40] adarshdinesh commented on #286
@romali I think this will work

[2015-11-23 18:58] johnnykv commented on #286
it would help if someone(:tm:)  would write a unit test to reproduce this.

[2015-11-24 09:00] katkad commented on #286
@romali do your hpfeeds events from conpot look okay too ?

[2015-11-30 17:32] katkad commented on #286
hi, what about reverting https://github.com/mushorg/conpot/commit/2d06448a6ed447688d2a4ae17ed9ec77493ddcf7 ?
because https://github.com/mushorg/conpot/issues/237 was not present anymore https://github.com/mushorg/conpot/issues/237#issuecomment-138662503 when it was cherry-picked to master

my reproducers are https://github.com/mushorg/conpot/issues/237#issuecomment-126259424 working fine (without

[2015-11-30 17:36] adepasquale commented on #286
No problem for me. How about reverting 2d06448 and trying to reproduce the original #237 bug submitted by @johnnykv? Then we could write a unit test for that and try to fix (assuming the #237 bug is still present).

[2015-12-01 09:04] katkad commented on #286
hi, I assume it is not present anymore according to this comment https://github.com/mushorg/conpot/issues/237#issuecomment-138662503

[2015-12-02 19:18] cudeso opened #288 "Modbus Error: Exception code = 2"
Hi,

When I run Conpot with a template to only include Modbus (basically the 'default' without snmp, http, ...) I get these errors when using mbtget.
`
mbtget -r1 -u 1 127.0.0.1 -d
`
results in the conpot logs in
`
Exception caught: Modbus Error: Exception code = 2. (A proper response will be sent to the peer)
`

Unit 1 is defined in the XML file. For info, r1 is for requesting coils, getting the

[2015-12-02 22:58] glaslos commented on #288
Can you find out what slave id you are using?

[2015-12-03 09:23] cudeso commented on #288
Tried with different slave id's (1, 2, 5).

This is the modbus.xml file
[code]

This is the console output from Conpot (removed non relevant) lines. Conpot detects the proper slave id and in the response it sends back the requested function (first request was F1 -> 8102 ; second request was F3 -> 8302)

[code]

(192.168.171.139 is the IP of the VM, MBTGET is run from the same VM where Conpot runs)

[2015-12-04 09:05] chintanhshah opened #289 "Conpot does not respond to SNMPV2c request"
Hi,

Just checking out there if anybody gets the chance to look at the Conpot SNMP issue . Looks like snmp script responds to the V1 request but does not respond to the v2c request .

Here is the Conpot's output :

2015-12-04 14:11:32,122 SNMPv2 Get request from ('10.254.0.1', 60096): 1.3.6.1.2.1.1.6.0
2015-12-04 14:11:49,898 SNMPv2 Get request from ('10.254.0.1', 37841): 1.3.6.1.2.1.1.1.0
2015-12

[2015-12-04 11:07] glaslos commented on #289
Are you running the latest version of Conpot? I don't think we made any
major changes but just to be save.

[2015-12-04 11:45] chintanhshah commented on #289
I am running 0.4.0 ..I was trying few v2c commands and it gives the following error : Some access issue..

[root@Default-CentOS-NBNS ~]# snmpget -v 2c -c public 10.16.3.196 .1.3.6.1.2.1.1.3
Error in packet
Reason: noAccess
Failed object: SNMPv2-MIB::sysUpTime

On the conpot:
2015-12-04 19:56:20,985 SNMPv2 Get request from ('10.16.3.195', 34871): 1.3.6.1.2.1.1.3

[2015-12-08 14:42] adepasquale commented on #286
Can we close this issue?

[2015-12-11 10:51] adepasquale opened #290 "Investigate databus issues on default S7-200 template"
http://xiphosresearch.com/2015/12/09/OPSEC-For-Honeypots.html

https://github.com/mushorg/conpot/blob/33363ab658846ad72ffac2525ed449152b9c4b1f/conpot/templates/default/template.xml#L40-L60
https://github.com/mushorg/conpot/blob/33363ab658846ad72ffac2525ed449152b9c4b1f/conpot/core/databus.py#L85-L86

[2015-12-11 11:50] glaslos commented on #290
Is this actually an issue from our side or an issue from the people setting up Conpot?

[2015-12-11 11:55] adepasquale commented on #290
Definitely a setup issue (e.g. people using default serial numbers).

Anyway I'd like to double check to make sure there are NO databus issues.

For instance, the one below:
[code]

[2015-12-11 11:56] glaslos commented on #290
Isn't that https://github.com/mushorg/conpot/blob/33363ab658846ad72ffac2525ed449152b9c4b1f/conpot/templates/default/template.xml#L32 which should be a string?

[2015-12-11 12:09] adepasquale commented on #290
Yes, right. The [SystemName value](https://github.com/mushorg/conpot/blob/33363ab658846ad72ffac2525ed449152b9c4b1f/conpot/templates/default/template.xml#L16-L18) is probably misconfigured.

[2015-12-11 12:09] #290 closed

[2015-12-11 13:29] creolis commented on #290
though this is closed now, just a comment regarding the String on https://github.com/mushorg/conpot/blob/33363ab658846ad72ffac2525ed449152b9c4b1f/conpot/templates/default/template.xml#L32 - it *might* make sense to introduce some sort of variable parts to such lines, like the guy that misconfigured conpot might have assumed.

Maybe even a generator that produces a semi-random (random per installat

[2015-12-13 11:23] glaslos commented on #290
I don't think that randomizing everything by default is a good way to go. This would force us to do complex randomization and those searching for honeypots to write some easy regex. I like your approach of educating the user and refusing to start Conpot until you have changed all the default settings.

[2015-12-13 11:36] glaslos opened #291 "Stop startup if default configuration"
As discussed in #290 we want to stop startup if the default configuration has not been modified.

[2015-12-13 21:32] johnnykv commented on #290
Deceptions requires thought process - it's a art that requires practice and skill. One of the reasons I put in those obviously wrong default values was to force researchers to customise it, if anyone (hello security vendors) decides to deploy Conpot with default values they deserve to have their honeypots burned.

[2015-12-15 11:08] adepasquale commented on #290
I am all for refusing to execute if people don't take time to configure they honeypots. Otherwise we end up with stuff like this (from http://news.softpedia.com/news/researchers-fail-at-setting-up-proper-honeypots-497574.shtml)

[2015-12-15 11:08] adepasquale commented on #291
Should we check that values are different from the default or, more easily, clear the default template and check for empty values there?

[2015-12-15 11:37] glaslos commented on #291
I'd just add a Boolean in the template that needs to be set to True to make Conpot run.

[2015-12-15 11:38] glaslos commented on #291
Add a comment to that Boolean in all capitals that you should change your default template.

[2015-12-15 11:40] johnnykv commented on #291
1. Stop Conpot if the hash of the current config file equals the hash of the distributed config file. This does not ensure the all options has been changed, but it is really our job stopping stupid people from being stupid?
2. Implement '-f' option to disable the check above.

[2015-12-15 11:42] adepasquale commented on #291
@johnnykv I like option 1 but not so sure about 2.

[2015-12-15 11:42] glaslos commented on #290
".. hardcoded identification details, that most security researchers forget to change." (facepalm)

[2015-12-15 11:43] johnnykv commented on #291
@adepasquale When developing we need to be able to run with default config.

[2015-12-15 11:44] glaslos commented on #291
I'm pro the -f, also helps with tests

[2015-12-15 11:46] adepasquale commented on #291
How about running with a dedicated testing configuration?

[2015-12-15 19:28] creolis commented on #290
yeah .. those XML templates were really hard to code ... *coughs*

[2015-12-17 13:36] cudeso commented on #288
After some digging I found this to be more of an issue with the underlying modbus-tk. I implemented a client with pymodbus with similar settings (different unit, coils, hr, ir, etc). The client in pymodbus replied properly whereas with modbus-tk it always failed.
Requests were done with plcscan, mbtget and the NSE scripts from nmap.

[2015-12-24 18:27] chintanhshah opened #292 "SNMP V2c authorization error with Conpot"
Hi Folks ,

I was trying to verify the working of SNMP v2c with conpot but looks like the server script throws "authorization error" for SNMP V2c command issued  .

[root@Default-CentOS-NBNS ~]# snmpwalk -c public -v 2c 10.254.0.2
Error in packet.
Reason: authorizationError (access denied to that object)
Failed object: SNMPv2-SMI::mib-2
SNMPv2-SMI::mib-2 = No Such Object available on this agent at

[2015-12-26 10:12] glaslos commented on #292
Hey, are you able to share the output from Conpot for that command?

[2015-12-27 06:14] chintanhshah commented on #292
Below is the output from the Conpot for the above command :

2015-12-27 14:07:19,013 SNMPv2 GetNext request from ('10.254.0.1', 56707): 1.3.6.1.2.1
2015-12-27 14:07:19,113 SNMPv2 Get request from ('10.254.0.1', 56707): 1.3.6.1.2.1
2015-12-27 14:07:19,114 SNMPv2 response to ('10.254.0.1', 56707): 1.3.6.1.2.1

Let me know if anybody can throw some light ..

[2015-12-28 14:23] katkad commented on #286
I am closing this issue. Reopen if still occures.

[2015-12-28 14:23] #286 closed

[2016-01-05 13:50] katkad commented on #292
similar to https://github.com/mushorg/conpot/issues/289

[2016-01-05 14:13] katkad commented on #102
or http://imunes.net/

[2016-02-01 21:17] Vingaard commented on #169
Hello team, would this task still be relevant to do - if yes, please let me know what action should be done and i will test it.

[2016-02-02 09:37] glaslos commented on #169
@Vingaard check if the modbus NSE script is still causing the exception in Modbus. If so, we have to verify if it's a Conpot or NSE script issues.

[2016-02-02 20:01] Vingaard commented on #169
@glaslos please note, that this was done on a fresh Ubuntu 14.4, Raspberry pi 2

nmap -p 502 --script modicon-info -sV <public_ip-Honeypot>

Starting Nmap 6.40 ( http://nmap.org ) at 2016-02-02 20:47 CET
Nmap scan report for <attacker ip>
Host is up (0.041s latency).
PORT    STATE SERVICE    VERSION
502/tcp open  tcpwrapped

Service detection performed. Please report any incorrect results at http:

[2016-02-02 20:46] adepasquale commented on #169
@Vingaard are you still using Conpot v0.4.0, the more recent v0.5.1 or the master branch?

[2016-02-02 21:12] Vingaard commented on #169
@adepasquale  V0.5.1 (build from Github today)

[2016-02-02 22:02] adepasquale commented on #285
@glaslos I think that [telnetsrvlib](https://github.com/ianepperson/telnetsrvlib) could do the job.

It supports gevent StreamServer so it should be easy to fit into Conpot.

[2016-02-04 12:46] glaslos commented on #285
Ah, this looks great. Should be trivial to use it.

[2016-02-04 13:48] adepasquale commented on #282
@infracritical do you have more information about what [these devices on Shodan](https://www.shodan.io/search?query=SEL+telnet+server) might be?

[2016-02-04 13:49] adepasquale commented on #285
Yes, should be. What if I start working on #282 using `telnersrvlib` and then eventually rewrite the Kamstrup management module with that same library?

[2016-03-22 19:41] kinomakino opened #293 "GASPOT COMMANDS"
thanks in advance

gaspot is reject commands done by :

nc ip 10001
I20100 intro
server tell: Non ^A command attempt

[2016-03-22 20:47] sjhilt commented on #293
Much like the actual VeederRoot devices a ^A (Control + A) needs to start each command given to the system otherwise it will not perform the command.

[2016-03-23 08:37] kinomakino commented on #293
Thanks very much !!!

[2016-03-23 08:37] #293 closed

[2016-04-30 19:52] Tholep opened #294 "Connecting Conpot with MATLAB (or external sensors)"
I am not sure whether this is a right place to post a question about Conpot, however, I can't find any Conpot community available.

I am working on project that a simple plan ( e.g water tank plan) is simulated in MATLAB and sensors sends volts to a simulated PLC via Modbus. I find that Conpot is an interesting honeypot, however, I am not sure how to integrate between Conpot and MATLAB. Can anyone

[2016-04-30 23:23] glaslos commented on #294
Have you tried pointing matlab to Conpot? Conpot should be able to see the writes.

[2016-05-01 06:00] Tholep commented on #294
No, I haven't because I have no idea how to do that for now, can you provide some hints how to do that? At the moment, I  have a simple Conpot box simulating Siemens S7-200 PLC and it connects to syslog and plunk servers for report.
Thanks for your help.

[2016-05-01 10:08] glaslos commented on #294
I have no experience with MATLAB but have you tried to make a TCP connection on port 502 to Conpot and read some data?

[2016-05-02 09:21] Tholep commented on #294
I don't think I get your question. To my understanding, Conpot simulates a PLC and Modbus protocol, so my idea is to make Conpot as a master and connect it to other slaves ( e.g. sensors) to read data like in ICS plan. Then based on input data, PLC (Conpot) will issue appropriate command to its slaves. Please correct me, if I misunderstand something (This is my first time working with industrial p

[2016-05-03 04:48] Tholep commented on #294
I think I understand you now. I also use a Modbus master (http://www.modbustools.com/download.html)  to read data from Conpot. However, in the simulated modbus master, it can connect to Conpot - Slave id 0 ( address 1 function 01). Conpot reports "Modbus response sent to 192.168.1.2", but the simulated master consistently report : "slave device fail".
When I try to connect to conpot-slave ID 1 ( a

[2016-06-28 16:06] Pbsteed opened #297 "Custom HMIs"
Having issues with pointing toward a custom hmi HTML page, The arguments disused in the wiki don't appear to exist in my version

[2016-06-28 21:04] creolis commented on #297
Thanks for reporting an issue,

to allow further investigation - would you mind sharing the version number with us?
Also, I'd like to know if you installed it from a repo or cloned it from github.

[2016-07-11 12:14] #297 closed

[2016-07-12 20:40] creolis commented on #297
always glad to help ;)

[2016-07-17 10:42] Bifrozt opened #298 "Missing dependency?"
Hi and thanks for an awesome project!

I tried installing conpot, both dev and pip version, and received the same error when running `python setup.py install` or `pip install conpot`

[code]

It's easy enough to fix by running `sudo apt-get install libmysqlclient-dev`.

The question is, did i not read the doc well enough, is this installed by default in Ubuntu 12.04 or has this dependency been mis

[2016-07-20 09:11] glaslos commented on #298
Interesting, I was expecting `apt-get install python-mysqldb` from the documentation to cover the `pip install MySQL-python` requirement. Could you verify if one of them is redundant?
I guess we should make all the logging options actually optional when it comes to the requirements for installation, similar to #62

[2016-07-20 10:52] Bifrozt commented on #298
Sure, ill check it tonight and let you know

[2016-07-20 11:39] creolis commented on #298
Yup, we should not load client libs as long as their underlying feature is not enabled by configuration. This will keep it sleeker in first place.

[2016-07-23 09:22] Bifrozt commented on #298
Installing dependencies (http://mushorg.github.io/conpot/installation/ubuntu.html)
[code]
Installing conpot
[code]

<hr>

Attempting to resolve issue by installing `python-mysqldb`

`sudo pip install conpot` fails with the following output
[code]

`pip install MySQL-python` is redundant after installing `python-mysql`

<hr>

Attempting to resolve issue by installing `libmysqlclient-dev`

[code]

`

[2016-07-23 12:59] glaslos commented on #298
I removed the `pip install MySQL-python` from the `requirements.txt`. `apt install python-mysql libmysqlclient-dev` is already in the Ubuntu install instructions.
Thanks for the feedback, I'm closing the issue assuming this clarified.

[2016-07-23 12:59] #298 closed

[2016-07-25 06:34] wangyufeng0615 opened #299 "ImportError: No module named MySQLdb"
I've deployed conpot by MHN but conpot can't start running.

supervisorctl status
`conpot    FATAL    Exited too quickly (process log may have details)`

I checked /var/log/conpot.out:

[code]

I tried `apt-get install python-mysqldb` and `pip install mysql-python` but I already intalled this.
Also I tried install mysql-python by source code. The installation is success but conpot can't running wi

[2016-07-25 06:40] wangyufeng0615 commented on #299
And, if I type 'import MySQLdb' in normal python terminal, it's ok.

[2016-07-25 08:48] glaslos commented on #299
Can you pull the latest master?

[2016-07-25 09:21] wangyufeng0615 commented on #299
Thank you. It seems like I re-run the deploy script and re-download the conpot, everything is ok now.

[2016-07-25 12:49] #299 closed

[2016-08-02 16:27] gento opened #300 "conpot running error on raspberry pi raspbian Jessie"
Hi,

I tried to compile conpot on raspberry pi rasbian Jessie (release 2016-05-27) and the compilation looks successful. However, when I try to run conpot, it always hit me with this error message:

pi@raspberrypi:/conpot $ sudo conpot
[code]
pi@raspberrypi:/honeeepi $ python
Python 2.7.9 (default, Mar  8 2015, 00:52:26)
[GCC 4.9.2] on linux2
Type "help", "copyright", "credits" or "license" for mo

[2016-08-02 16:36] glaslos commented on #300
We haven't pinned the version of stix in the requests.txt, could you check if there was a change in the library?

[2016-08-02 16:38] glaslos commented on #300
Also check the installed version of stix using `pip freeze | grep stix`
Maybe a `pip2 install -U requirements.txt` is all you need.

[2016-08-02 17:01] gento commented on #300
This is the installed version of stix that I had in Raspbian Jessie:

pi@raspberrypi:/conpot $ pip freeze | grep stix
stix==1.2.0.1.dev1
stix-validator==2.4.0

pi@raspberrypi:/conpot $ pip show stix
---
Name: stix
Version: 1.2.0.1.dev1
Location: /usr/local/lib/python2.7/dist-packages/stix-1.2.0.1.dev1-py2.7.egg
Requires: lxml, python-dateutil, cybox, mixbox
pi@raspberrypi:/conpot $ pip show stix-v

[2016-08-02 17:14] glaslos commented on #300
Can you install the 1.2.0.0?

[2016-08-02 17:47] gento commented on #300
Thanks Lukas! You are the great as usual!

I downgraded stix and cybox to lower version and it works as charming as ever

- stix==stix==1.2.0.1.dev1 to stix=1.2.0.0
- cybox==2.1.0.13.dev1 to cybox==2.1.0.12

[code]

[2016-08-02 17:58] glaslos commented on #300
If you have too much time, send a pull request with fixed versions in the requirements.txt for stix and cybox 😄

[2016-08-02 17:58] #300 closed

[2016-08-12 14:32] johnnykv opened #301 "kamstrup management protocol broken"
Many commands in the protocol does not work. For examples, the command ```!GV``` should return the version, but returns nothing instead. This also goes for many of the other commands.

[code]

[2016-08-13 07:45] #301 closed

[2016-08-24 09:22] #294 closed

[2016-08-24 09:23] glaslos commented on #294
Did you manage to connect MATLAB to Conpot?

[2016-08-24 09:41] Tholep opened #302 "Conpot with mysql log"
Hi,

While i am working with conpot and mysql for logging, i figure out two issues with mysql_log.py and would like to report as below:
1. _connect() method calls  _create_db() everytime an instance of this class created. However the  _create_db() create table "events" without checking whether that table exists or not. This causes conpot hanging because log_worker greenlet dies. Below is my fix:

[2016-08-24 10:00] Tholep commented on #294
we changed our plan in which MATLAB does not talk directly to Conpot. However, there are libraries in Matlab that facilitates Modbus communication (chapter 7 Rocking the pocket book:Hacking chemical plants for competition and extortion by Marina Krotofil), so I believe, it should not be a problem to couple those directly.

[2016-08-24 10:11] glaslos commented on #302
Thanks for reporting those issues. Would you mind sending those fixes as pull requests?

[2016-08-24 15:52] Tholep commented on #302
sure, I will do it

[2016-09-05 21:08] Vingaard commented on #280
Hello, a workaround (outside Conpot) could be the following commands on ubuntu; (replace eth0 if required)
ifconfig eth0 down hw ether <MAC_ADDRESS>
ifconfig eth0 up
ifconfig -a

[2016-10-09 08:13] zhiyinyouzhao opened #304 "How do I use it？"
Hi，
I installed the conpot.Then command conpot --templates default.
The output as same as SAMPLE OUTPUT.
But, I don't know how can I use it.
which way that I can see the attacker‘s’ infomation?
where find docs or internet web about it？
please give me some advices，thank you！

[2016-10-10 08:28] glaslos commented on #304
Documentation is here: https://mushorg.github.io/conpot
Latest version of the documentation is here: https://github.com/mushorg/conpot/tree/master/docs/source
Some basic usage information can be found here: https://mushorg.github.io/conpot/usage/index.html
Data can be logged to various locations. Sample configuration can be found here: https://github.com/mushorg/conpot/blob/master/conpot/conpot.cf

[2016-10-10 08:28] #304 closed

[2016-10-12 05:42] zhiyinyouzhao opened #305 "Modbus Exception Code:Slave device failure(4)"
Hi,

When I run Conpot with a default template.
I connetct the server runs Conpot,the console output.

2016-10-12 13:34:08,216 Modbus response sent to 192.168.2.2
2016-10-12 13:34:09,229 Modbus traffic from 192.168.2.2: {'function_code': None, 'slave_id': 1, 'request': '990d0000000601010000000a', 'response': ''} (dd1115e2-5135-4287-8761-9b1499d629b6)

I think the 'function_code:None'is error,but I

[2016-10-13 03:17] zhiyinyouzhao commented on #305
Use ModScan2 client to connect conpot.
The modbus client infomation:
Address:0001
Decice ID:1
Modbus Point Type:01 COIL STAUS

I analysis the slave_db.py.when the slave_id is 1-247,the  line code "slave = self.get_slave(slave_id)" can't execute. So,the procedure access to the except.
Last,the procedure access to if slave: .....
and the return function_code=none.So,it seems correctly.
Please help t

[2016-10-14 07:38] zhiyinyouzhao opened #306 "Error：add_slave() takes exactly 2 arguments (4 given)"
Hi，
When I run conpot --template default，I found the error inforamtion in console line.
console output:
2016-10-14 15:27:09,722 Starting Conpot using template: /home/zn/test_env/lib/python2.7/site-packages/conpot/templates/default
2016-10-14 15:27:09,722 Starting Conpot using configuration found in: /home/zn/test_env/lib/python2.7/site-packages/conpot/conpot.cfg
......
2016-10-14 15:27:18,926 add_

[2016-10-17 07:54] glaslos commented on #306
Can you run `pip freeze | grep modbus` and paste the output here?

[2016-10-17 07:57] glaslos opened #307 "Investigate changes in modbus-tk"
Seems like there is some activity in the [original modbus library](https://github.com/ljean/modbus-tk). We should investigate them and check whether we should either merge them into [our fork](https://github.com/mushorg/modbus-tk) or switch back to the original library.

[2016-10-18 05:16] zhiyinyouzhao commented on #306
sudo pip freeze | grep modbus:
modbus-tk==0.5.0

[2016-10-18 07:37] glaslos commented on #306
Uninstall modbus-tk and install it from here: https://github.com/mushorg/modbus-tk

[2016-10-19 01:28] zhiyinyouzhao commented on #306
It's ok! thanks a lot.

[2016-10-19 02:53] zhiyinyouzhao commented on #288
Is this bug updae?

[2016-10-19 07:53] #306 closed

[2016-10-19 07:54] glaslos commented on #288
No update on this so far.

[2016-10-20 12:55] glaslos commented on #13
Closing this as detailed discussion can be found in https://github.com/mushorg/conpot/issues/141

[2016-10-20 12:55] #13 closed

[2016-10-20 13:07] glaslos commented on #141
Here is some python code https://github.com/timercrack/pydatacoll/tree/master/pydatacoll/protocols/iec104

[2016-11-08 14:46] glaslos opened #308 "Conpot tests break with bacpypes 0.14"
[code]

[2016-11-09 09:13] jjjan opened #309 "Easy add DNP3 protocol"
Hello,
after a lot's of afford i can't install dnp3 protocol and the links below are dead
http://dnp3.github.io/doc/2.0.x/building/prerequisites.html

could you tell me easy way to add dnp3 on conpot?

thanks

[2016-11-09 14:07] glaslos commented on #309
This is not a trivial task.
Have a look at https://github.com/mushorg/conpot/issues/11
Have a look at https://github.com/mushorg/conpot/tree/dnp3_proxy for a proxy example.

[2016-11-09 14:07] #309 closed

[2016-11-15 15:36] Joris-Fu opened #310 "Cannot access device information when conpot being scanned by Plcscan or nmap(using modicon-info)"
When testing the authenticity of conpot version 0.5.1 by using PLcscan or Digital Bond Redpoint's modicon-info.nse. We look forward to getting the response like that:
**-------with plcscan, we hope that :**
[code]
**-------But actually, the result is disappointing:**
[code]
**I can only get the response from Unit ID 1-247, Why the Unit 0 and Unit 255 are inaccessable, and I cannot figure out why c

[2016-12-01 05:56] Kilento opened #311 "What's the meaning of "No Proxy template found.Service will remain unconfigured/stopped""
Hey!
   I am a novice to use conpot.I'm sure it's a good honeypot in the area of industrial control system.However it's hard to search some useful documents about using conpot to help study. It would be very helpful if you can update the "help documents".

Hmmm...seems I digress,when I first use the conpot -t default,luckily it runs successfully.But "No Proxy template found.Service will remain unc

[2016-12-05 23:05] creolis commented on #311
Hej Kilento, thank you for your suggestions and your question.

Conpot supports a variety of protocols, like eg. SNMP, MODBUS, etc. Each of these protocols needs some sort of template in order to know what it should actually do. This is not about the protocol logic, it's about the data you want to simulate.

As you already noticed, we ship a "default" template. This template is acts as a basic sho

[2016-12-07 05:40] Kilento commented on #311
Thanks a lot,I got it.It's very helpful for me to configure the conpot.

[2016-12-07 05:40] #311 closed

[2016-12-08 14:39] #289 closed

[2016-12-08 14:40] glaslos commented on #292
Fixed by #314

[2016-12-08 14:40] #292 closed

[2016-12-12 03:16] Kilento opened #315 "How can I get the device info by a modbus 43 call?"
I see the message on Conpot documents[#](https://pythonhosted.org/Conpot/) as follows.
![image](https://cloud.githubusercontent.com/assets/20469438/21086834/24032550-c05b-11e6-80e6-54e0db56dac0.png)
I want to write a python script  by using the modbus-tk. But It seems that it doesn't support the DEVICE_INFO(43)  function code.However I don't know the content of this payload?Thanks a lot!!!

[2016-12-12 09:48] glaslos commented on #315
Our fork of modbus-tk supports the device info function call: https://github.com/mushorg/modbus-tk

[2016-12-12 09:48] #315 closed

[2016-12-13 01:14] Kilento commented on #315
Oh!But can you give me a example to use the function?

[2017-01-18 09:18] willemtoledano commented on #308
Also with 0.15 - Rolling back to 0.13.6 worked for me so far

[2017-01-28 07:45] dirtdiver512 opened #317 "Ubuntu 14 install"
Trying to get it to install on ubuntu 14. It seems to install but when I run it i get this error:

sudo conpot --template default
Traceback (most recent call last):
  File "/usr/local/bin/conpot", line 47, in <module>
    from conpot.protocols.bacnet.bacnet_server import BacnetServer
  File "/usr/local/lib/python2.7/dist-packages/gevent/builtins.py", line 93, in __import__
    result = _import(*ar

[2017-01-28 17:25] xandfury commented on #317
Have you tried from `bacpypes.app import LocalDeviceObject` in the python shell? Also what does `pip list` say?

[2017-01-28 17:28] xandfury commented on #317
Works fine in `Ubuntu 16.04.1 LTS`.

[2017-01-28 21:38] xandfury commented on #251
**How is this for a start?**

EASY INSTALL USING DOCKER CONTAINER
******************************************************
1. Install `Docker <https://www.docker.com/>`_
2. Run ``docker pull honeynet/conpot``
3. Run ``docker run -it -p 80:80 -p 102:102 -p 502:502 -p 161:161/udp --network=bridge honeynet/conpot:latest /bin/sh``
4. Finally run ``conpot --template default``

Navigate to ``http://MY_IP_

[2017-01-29 10:58] Vingaard commented on #317
just to check the conpot installation is good;
have you tried running conpot with other templates, e.g ipmi or kamstrup_382

[2017-02-01 10:40] xandfury commented on #317
You may try docker installation. #318
PR isn't merged yet though.

[2017-02-06 16:34] shrave commented on #158
Hi! I would like to work on this issue. Can you tell me what exactly is databus dump and what all has to be included in it? Thanks.

[2017-02-06 16:57] glaslos commented on #158
Hi @shrave I removed the uncomplicated label as this probably isn't true anymore. First step would be to verify that the stix reporter is still working. I assume this would also include an upgrade of the stix library currently used. Then you would need to find a way how to add a databus snapshot (https://github.com/mushorg/conpot/blob/master/conpot/core/databus.py#L102) to the STIX report.

[2017-02-08 18:11] xandfury commented on #184
Did the scan for ProFuzz.

**Scan Results :**
[code]

and

[code]

While at that I observed nothing in conpot.

[2017-02-11 15:08] is161523 commented on #317
If you have a bacpypes-Version greater than 0.13.8 try to uninstall bacpypes and install v0.13.8. That worked for me.

[code]

[2017-02-12 12:05] shrave commented on #184
Hi,
I tried fuzzy testing from both the scanners and although I received the packets sent from the fuzzer, all of them were unanswered. I have attached the images of the logs of ProFuzz and profinet respectively:

![profuzz](https://cloud.githubusercontent.com/assets/13220469/22861786/82a1eade-f147-11e6-88a9-5ec67c13e13d.png)
![profinet](https://cloud.githubusercontent.com/assets/13220469/22861788

[2017-02-13 19:06] #317 closed

[2017-02-14 11:55] creolis commented on #184
Hey guys,
sorry for the confusion.

Conpot does not (yet) react to process field network (profinet) requests because it currently has no handler to do so. To be more clear about this: A profinet service is not yet available in conpot and therefore neither do we see any incoming packets for this particular traffic, nor do we answer them in any way.

This ticket is more or less a reminder that there

[2017-02-22 10:23] #251 closed

[2017-06-03 04:25] windflyer commented on #305
Conpot Modbus server by default works in serial mode. Current implementation doesn't handle missing UID properly.
When there is no Modbus device behind a certain UID, we should just return no response instead of a device failure response.

[2017-06-09 02:47] xandfury opened #326 "Testing conpot with the following tools/scripts"
Testing is essential for conpot for it to emulate the "real thing"

Following scripts/tools might be helpful for the same

- https://github.com/enddo/smod
- https://github.com/drainware/nmap-scada

[2017-06-21 06:47] windflyer commented on #288
This is an issue of reference number. modbus_tk indexes coils with numbers from 1. However, some scripts will read coils from starting address 0. The underlying modbus_tk cannot find coil 0 and thus returns exception code 2: ILLEGAL DATA ACCESS.

[2017-06-23 01:49] windflyer commented on #310
The root cause is that the client side closes socket too quickly.

While the server (Conpot side) is still processing the previous incoming data, the client side has already sent out all data and closes the socket. The server sides continues reads data from the socket which has been closed and this exception happens.

[2017-06-23 02:54] windflyer commented on #169
Both exceptions were thrown out at the same location:

    File "/usr/local/lib/python2.7/dist-packages/gevent-1.1rc3-py2.7-linux-armv7l.egg/gevent/_socket2.py", line 266, in recv
    return sock.recv(*args)

As I have said here (https://github.com/mushorg/conpot/issues/310), after processing an incoming request, the server tried to continue reading data from the socket. However, the socket had al

[2017-06-26 13:38] glaslos opened #330 "Investigate SNMP dependencies"
pysmi and pysnmp should be pure python and we might be able to remove the libsmi2ldbl snmp-mibs-downloader dependencies.

[2017-06-26 20:23] tzvetkov75 opened #331 "Raspberry PI"
Hi,
I try to install conport on raspbery pi (banna pi) and it fails with some dependency. Can someone help.

[code]

I think I have all dependencies, like bacpypes.app

[code]

[2017-06-26 21:01] tzvetkov75 commented on #331
I found the solution the version of bacpypes was not exactly matching

`sudo pip install bacpypes==0.13.8`

Can you handle this in setup or similar, since it can be very annoying. If not close the issue
Thanks
Vesslin

[2017-06-27 03:39] windflyer commented on #330
`libsmi2ldbl` can be removed. We still need `snmp-mibs-downloader` in order to compile mib files.

[2017-06-27 08:01] glaslos opened #332 "modbus should be installed from pip"
https://pypi.python.org/pypi/modbus_tk

[2017-06-27 08:04] glaslos commented on #330
Shouldn't https://github.com/etingof/pysmi be able to compile the MIB files?

[2017-06-27 08:13] glaslos commented on #331
One solution would be adding `--upgrade --force-reinstall` to the pip install command parameters.

[2017-06-27 16:33] windflyer commented on #330
You're right. I figured out how to completely get rid of `snmp-mibs-downloader`. A brief explanation:
When compiling our own MIB files we need to download dependencies from a remote repo (e.g., http://mibs.snmplabs.com/asn1/). We're now using `snmp-mibs-downloader` for doing so.

We can let `pysmi` automatically download dependencies from a remote repo while compiling a MIB file. I'm gonna update

[2017-06-27 17:26] t3chn0m4g3 commented on #330
This is really good news. Brings me one step closer to use Alpine for my docker image :)

[2017-06-27 18:13] creolis commented on #330
This sounds great and will also remove bloat! Go for it :)

[2017-06-27 18:40] windflyer commented on #330
See https://github.com/mushorg/conpot/pull/333

[2017-06-28 08:33] glaslos commented on #330
Fixed by eca2891

[2017-06-28 08:33] #330 closed

[2017-06-28 08:34] glaslos commented on #307
We switched back to the upstream version

[2017-06-28 08:34] #307 closed

[2017-06-28 08:34] glaslos commented on #284
Fixed with eca2891

[2017-06-28 08:34] #284 closed

[2017-06-28 09:48] #305 closed

[2017-06-28 09:49] creolis commented on #288
We should run a quick test if modbus-tk accepts starting-address 0,
but if this also works, this issue is closed

[2017-06-28 16:17] windflyer commented on #288
@creolis Yes, it does. I have confirmed.

The key is how the template file looks like.

[2017-06-28 16:43] windflyer commented on #332
Done. See pull request https://github.com/mushorg/conpot/pull/334

[2017-06-28 22:36] creolis commented on #288
Perfect!

[2017-06-28 22:36] #288 closed

[2017-06-28 22:37] creolis commented on #288
Thanks Yuru!

[2017-06-28 22:40] creolis commented on #169
corrected via exception handling. I'm closing this, together with it's "sister" issue #310

[2017-06-28 22:40] #169 closed

[2017-06-28 22:40] creolis commented on #310
corrected via exception handling. I'm closing this, together with it's "sister" issue #169

[2017-06-28 22:40] #310 closed

[2017-06-28 22:41] creolis commented on #332
Merged #334! Sanx!

[2017-06-28 22:41] #332 closed

[2017-06-28 22:42] creolis commented on #302
Fix merged Dec. 2016

[2017-06-28 22:42] #302 closed

[2017-06-28 22:46] creolis commented on #209
This should be fixed now, I'll validate ..

[2017-06-29 09:13] tzvetkov75 commented on #331
Many thanks :-)

[2017-06-30 05:03] xandfury commented on #331
Could have been a network error. Check [this](https://github.com/mushorg/conpot/blob/d97a68a054e4fe42ff90293188a5702ce8ab09a3/requirements.txt#L20). Requirement file specifies the exact version.

[2017-07-04 09:45] tzvetkov75 commented on #331
yes, this is strange. I repeated this twice on
`ARMBIAN 5.25 stable Debian GNU/Linux 8 (jessie) 4.9.7-sunxi`
and have network connection. Assume it is my local environment problem.
Thanks

[2017-07-04 09:45] #331 closed

[2017-07-11 01:11] windflyer commented on #261
This is a decoding bug in BACpypes, see here: https://github.com/JoelBender/bacpypes/issues/105

Upgrading to BACpypes 0.16.1 solves this issue.

[2017-07-11 07:40] creolis commented on #261
Fixed with PR #335

[2017-07-11 07:40] #261 closed

[2017-07-27 06:18] zhiyinyouzhao opened #337 "TypeError: clone() takes at most 2 arguments (4 given)\n"
Hi，
When I run conpot --template default，I found the error inforamtion in console line.
console output:
[code]
[code]
[code]
It‘s seems about pysnmp wrong.
pip freeze | grep pysnmp
pysnmp==4.3.8
Please help me solove this issues，thanks.

[2017-07-28 16:12] windflyer commented on #337
It's odd. I cannot reproduce...

[2017-07-28 22:03] creolis commented on #337
@zhiyinyouzhao please also provide us with the operating system / derivate / version you run in order to give us a chance to run our tests with your environment :)

[2017-08-01 10:52] zhiyinyouzhao commented on #337
@windflyer
pip freeze | grep pysmi
pysmi==0.1.3

[2017-08-01 11:00] zhiyinyouzhao commented on #337
@creolis
cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core）
cat /proc/version
Linux version 3.10.0-229.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC) )

[2017-08-01 17:09] windflyer commented on #308
This should have been fixed. We already upgraded  to bacpypes 0.16.1

[2017-08-01 17:16] windflyer commented on #337
@zhiyinyouzhao Thanks. It seems that `__SNMP-FRAMEWORK-MIB.pyc` is missing on your machine.

Could you check the following directories:

1. `/usr/local/lib/python2.7/dist-packages/pysnmp/smi/mibs/instances/`
2. `/usr/lib/python2.7/dist-packages/pysnmp/smi/mibs/instances/`

Please also try to re-install `pysnmp` if possible, using the following command:

    sudo pip install -U pysnmp==4.3.8

For m

[2017-08-01 18:23] glaslos commented on #308
You are right!

[2017-08-01 18:23] #308 closed

[2017-08-03 02:35] zhiyinyouzhao commented on #337
@windflyer
I cheeck some directories .
/usr/lib/python2.7/site-packages/pysnmp/smi/mibs/instances.
__SNMP-FRAMEWORK-MIB.pyc  was in it.
and reinstall pysnmp==4.3.8,the problem is still unsolved.
I think this may be a problem about one of the installation package.
`pip list about requirements.txt  package were here: `
`gevent (1.2.2)
bacpypes (0.16.1)
beautifulsoup4 (4.5.3)
bottle (0.12.13)
crc16 (

[2017-08-04 02:17] zhiyinyouzhao commented on #337
@creolis
when I run conpot with Ubuntu 15.10 LTS.
It‘s function normal.
So,I thank this bug maybe have something to do with Centos 7.1.
You can fix bug with this way about operating system.
Thank you very much!

[2017-08-04 02:41] windflyer commented on #337
@zhiyinyouzhao I'm actually trying to reproduce this bug in the CentOS VM I just created.
I think most of us do conpot development on Debian-based systems. I'm sorry we were not able to cover all Linux distributions at this point.

[2017-08-04 20:55] Vingaard commented on #337
Hi all, just a suggestion for further troubleshooting, since we are talking about Centos vs. Ubuntu.
Try to pull a list of the installations files (with version numbers) on both the Ubuntu and the Centos environment.. There 'might' be some differences on the version number in one or more packages , and this could potential be a part of the problem, just my two cents.

[2017-08-04 21:12] windflyer commented on #337
@Vingaard You're right. `pysnmp` 4.3.8 works perfectly on Ubuntu but breaks on CentOS.

@zhiyinyouzhao On CentOS, please update your local `requirements.txt` and use the version number 4.3.9 for `pysnmp`. The line of pysnmp should be like:

    pysnmp==4.3.9

The issue was fixed for my CentOS 7 VM.

[2017-08-04 21:13] Vingaard commented on #337
@windflyer many thanks for fast feedback

[2017-08-05 05:12] zhiyinyouzhao commented on #337
@windflyer @Vingaard
I try to update pysnmp==4.3.9 in Centos.
So far, the problem has been solved ,it‘s  perfectly.
Thanks a lot.

[2017-08-10 14:29] Hemza opened #339 "SCAN S7 PLC Port 102 is filtered"
Hi All;

i've try to scan PLCs, but seems it's located behind a Firewall and the Port 102 is filteres, see the scan results ::
-----------------------------------------------------------------------------------
sudo nmap -Pn -p 102 --script s7-enumerate -sV Target_IP

Starting Nmap 7.40 ( https://nmap.org ) at 2017-08-10 10:24 EDT
Nmap scan report for Target_IP
Host is up.
PORT    STATE    SERVICE

[2017-08-10 22:23] creolis commented on #339
Hey Hemza,
what PLC are you trying to scan? Is it a real PLC or is it a conpot instance?
Who is the owner of the PLC (or the conpot instance) ?

If nmap replies "filtered" on a TCP port, this tells you that while receiving
no SYN-ACK from the remote peer, it also got no ICMP destination port unreachable - so either the remote peer or an active network filtering component between you and the remote

[2017-08-11 18:19] jamz212 opened #340 "Docker build fails"
Prebuild docker image works as expected, but not sure how to get it to autorun at boot. Trying to compensate by building the image locally but it fail with error below. Would appreciate any help with this issue.

FAILED (failures=1, errors=2, skipped=3)
Test failed: <unittest.runner.TextTestResult run=34 errors=2 failures=1>
Coverage.py warning: Trace function changed, measurement is likely wrong:

[2017-08-18 13:02] standa4 opened #341 "Error with IPMI when connecting with ipmitool"
Hello,

I am trying to test the IPMI from default template but when I connect with use of ipmitool the conpot prints following error:

[code]

I don't know if it is a problem in conpot (not properly initialized FakeBmc) or problem in pyghmi.

Thank you,

Stanislav

[2017-08-25 20:32] windflyer commented on #340
Hi @jamz212 to quickly solve this problem, please comment out line 24

    RUN coverage run --timid --source=conpot setup.py tes

Seems that our test cases would fail in docker environment. Will take a closer look at it.

[2017-08-25 20:36] windflyer commented on #337
We already have composed a few installation instructions here https://github.com/mushorg/conpot/tree/master/docs/source/installation

I think we are good to close this issue for now...

[2017-08-25 21:34] #337 closed

[2017-08-25 21:36] creolis commented on #339
It seems you the question is answered (or not longer relevant) for you. If you need further assistance, feel free to re-open the issue again.

[2017-08-25 21:36] #339 closed

[2017-08-27 01:53] windflyer commented on #209
@creolis I downloaded modscan following the googlecode link. It successfully detected our modbus server running with the default template. This issue has been addressed.

[2017-08-27 11:14] glaslos commented on #209
@windflyer thanks for checking!

[2017-08-27 11:14] #209 closed

[2017-08-27 18:03] creolis commented on #244
It's a nice thing to close a ticket from 2015 :)
implemented by @windflyer in PR #336

[2017-08-27 18:03] #244 closed

[2017-08-27 18:04] creolis commented on #179
Implemented by @windflyer in PR #336

[2017-08-27 18:04] #179 closed

[2017-08-29 14:15] standa4 opened #342 "Logging of destination port (application protocol) in hpfeeds reports"
Hello,

I would like to ask if would be possible to add support for logging of destination port (application protocol) in hpfeeds reports.
Thank you.

Best regards,

Stanislav

[2017-09-05 03:07] fuchengushenxing commented on #288
Hi，how can I solve this problem? Thanks！

[2017-09-05 03:27] windflyer commented on #288
@fuchengushenxing Please take a look at my comment posted on Jun 21.

Let me know if you still have questions.

[2017-09-05 08:34] fuchengushenxing commented on #288
Thanks , i am going to try.

[2017-09-05 11:43] ddavidebor opened #343 "Automatic randomization"
Following #291 , it seems to me conpot needs to be customized manually to fool someone. Is this right ?

If so, i'd strongly suggested randomizing at startup time the configuration. It should catch the flies by default.

[2017-09-05 11:53] glaslos commented on #343
This has been discussed many times and depending on the wind direction we are leaning either left or right. Pro randomizing is making sure a vanilla Conpot is not easily detected (adversaries and SHODAN), pro current status is we don't mind vanilla Conpot being detected. Con randomizing is the lack of a leaning effect, con current status is the bad reputation for the project.
What is your argument

[2017-09-05 12:09] adepasquale commented on #343
How about going forward with #291 (stop running if default configuration is detected) :question: and also providing two additional command line switches:
* one for forcing to start anyway, e.g. `-f`;
* one for randomizing default configuration.

[2017-09-05 17:58] Vingaard commented on #343
Welcome @ddavidebor . just my two cents - I do see your point (and agree!)  but detecting Conpot are still trivial,  when you can e.g throw a function 43 into the Modbus service.
Personal I would like to see that Conpot did offer the  randomizing option - the it's up to the owner if he/she would use the option. BTW, To make effective camoflage, I would suggest to deply the Conpot in proxy mode, co

[2017-09-06 07:04] creolis commented on #343
I'm with @adepasquale - let's go on with #291 and refuse to start with default template (if you dont "force" the default start using an option switch that shows that you know what you're doing).

I understand the concerns of @ddavidebor, but an industrial control system honeypot is not something you buy in a grocery store, plug-in and turn a crank - you need to think what you want to achieve, what

[2017-09-10 10:58] glaslos commented on #343
Sounds good, let's go with #291 then for now and keep this discussion open for the future.

[2017-09-10 10:59] glaslos commented on #291
How about renaming the default configuration to testing and use the -f to force conpot to run on a non-localhost interface with the testing config?

[2017-09-26 07:31] standa4 commented on #342
Hello,

I have created a pull request for this feature (https://github.com/mushorg/conpot/pull/344).

Stanislav

[2017-10-25 07:51] dpicollege opened #345 "add authentication for modbus feature-request"
Hello,
Please add authentication for modbus or make week password to have more interaction with a attacker.

[2017-10-25 09:26] glaslos commented on #345
Thank you for filing this feature request. Did you look into how this could be implemented?

[2017-10-27 17:31] creolis commented on #141
#346 goes along with this

[2017-11-02 03:00] SwapnilDreams100 opened #347 "Can a real PLC be linked with Conpot instead of Simulating one? I run it on TPOT."

[2017-11-03 15:26] glaslos commented on #347
You can use the proxy module to attach a real PLC. https://github.com/mushorg/conpot/tree/master/conpot/templates/proxy

[2017-11-04 09:43] SwapnilDreams100 commented on #347
Thanks Ill try it out. What changes do I have to make? I will be using a Seimens S7 1200.

[2017-11-14 11:04] adityasriv22 commented on #202
Looking forward to contribute :)

[2017-11-18 07:00] glaslos opened #348 "EtherNet/IP template"
Add a template that is using the EtherNet/IP protocol stack.

[2017-12-05 18:58] jacksonp2008 opened #349 "docker-compose failing"
It ran ok with the standard docker commands, but failing with docker-compose.

The first error I saw was this:  https://github.com/mushorg/conpot/issues/340
So I commented out the line as well.

now i am seeing the greenlet error which I also saw with a native build:

[code]

[2017-12-18 10:21] xandfury commented on #326
Also test with
https://github.com/0xICF/SCADAShutdownTool/blob/master/README.md

[2017-12-18 13:52] xandfury commented on #326
https://github.com/0xICF/ICScanner

[2017-12-18 20:46] Vingaard commented on #326
Hello @xandfury - please not that the two last suggestions-  (SCASAShutdown/ICScanner) - does not have the actual tool avaliable on github (and niether avaliable on the authors website) .  A shame, as both would have been interesting to test :-)

[2017-12-19 03:48] xandfury commented on #326
@Vingaard Code is in the beta branch!

https://github.com/0xICF/SCADAShutdownTool/tree/SCADAShutdownTool-v1.0-Beta?files=1

I'll find the link to ICScanner as well. Post it here as soon I find them

[2017-12-19 14:54] sepantakntu commented on #125
hi
how can help me? when i run conpot this eror showing
                       _
   ___ ___ ___ ___ ___| |_
  |  _| . |   | . | . |  _|
  |___|___|_|_|  _|___|_|
              |_|

  Version 0.5.1
  MushMush Foundation

2017-12-19 06:51:01,971 Starting Conpot using template: /usr/local/lib/python2.7/dist-packages/Conpot-0.5.1-py2.7.egg/conpot/templates/default
2017-12-19 06:51:01,972 Starting Conp

[2017-12-19 14:56] sepantakntu opened #351 "<Greenlet at 0x7f03ad2714b0: <bound method SNMPServer.start of <conpot.protocols.snmp.snmp_server.SNMPServer object at 0x7f03ad2c45d0>>('0.0.0.0', 161)> failed with WrongValueError"
hi
how can help me to solve this error?
root@ubuntu:/opt/conpot# conpot --template default

                       _
   ___ ___ ___ ___ ___| |_
  |  _| . |   | . | . |  _|
  |___|___|_|_|  _|___|_|
              |_|

  Version 0.5.1
  MushMush Foundation

2017-12-19 06:51:01,971 Starting Conpot using template: /usr/local/lib/python2.7/dist-packages/Conpot-0.5.1-py2.7.egg/conpot/templates/default
2

[2017-12-26 12:26] xandfury commented on #326
Results for some of scripts:

[1] -  From https://github.com/drainware/nmap-scada
***Siemens-Scalance-module*** : Execution fails due of undeclared snmpwalk function in the script.
[code]

[2] - Smod - https://github.com/enddo/smod
***readCoilsException module*** : *Fails* - Output from smod
[code]
-----------------------------------------------------------------------------------------
Output fro

[2017-12-26 12:32] xandfury commented on #326
Note that Conpot also issues ***ERRORS*** when tested with **Smod's DOS Scripts**
Sample Output when tested with Smod's ***modbus/dos/writeSingleCoils*** script
[code]

[2017-12-26 13:06] xandfury commented on #326
***SMOD modbus(readCoils)*** : StartAddress has been changed to 0x0001 as per the template.
[code]
-------------------------
Output from ***smod***
[code]
--------------------------
Output from ***Conpot***
[code]

[2017-12-27 02:36] xandfury commented on #326
Unfortunately I couldn't get the `SCADAShutdown` tool to work. Also couldn't find code for `ICScanner`

[2018-01-01 15:07] xandfury opened #352 "Add FTP/TFTP support"
Many of the modern meters/plc/rtu provide support for FTP.
Some links:

***Sofrel Lacroix S500 Range RTU's:***
- https://www.shodan.io/search?query=direct+comments+to+integrated+systems+sofrel

***Schneider Electric's PowerLogic™ PM5500 series:***
- http://docs-europe.electrocomponents.com/webdocs/1568/0900766b815685bf.pdf
Please check page 74

***ABB AC500 series:***
- https://www.shodan.io/searc

[2018-01-01 15:19] xandfury commented on #352
Python's `ftplib` may be used to facilitate emulation.

[2018-01-01 15:44] xandfury commented on #285
Team, as per discussion with @glaslos , I think it might be a good idea to start with a simple banner with a login prompt, catching username/pass.
I am not sure about the dialog/flow. But my suggestion is to display all the connected slaves, network info (displaying Conpot's IP, Gateway, etc. MAC address etc.) etc. and displaying it to the user.

Some dorking keywords for telnet enabled PLCs to he

[2018-01-01 16:11] xandfury commented on #326
This look interesting. Can check for Modbusm S7comm and ENIP
https://github.com/dark-lbp/isf

[2018-01-04 10:58] dbellavista commented on #351
The `pysnmp` version used by conpot is no longer working. Upgrading to `4.4.4` in `requirements.txt` seems to solve. However I didn't perform full tests.

[2018-01-07 06:32] xandfury commented on #291
I would also suggest a note on the README that ***screams*** to the user not to run the default config on production servers. Something like:

#### NOTE: DO NOT RUN DEFAULT CONFIG ON PRODUCTION SYSTEMS

[2018-01-09 10:47] sfigue commented on #351
Hi,
I tried to use conpot, since tpot 17.10. When i ran the default template with (conpot -t default) sended me the same issue that @sepantakntu.
Then, i followed @dbellavista  recomendation and i tried to upgrade pysnmp with (easy_install --upgrade pysnmp) and had a new issue (Unable to execute 'gcc': No such file or directory).
Then i applied (apk add --no-cache gcc) and i had a new issue (gcc:s

[2018-01-09 10:54] dbellavista commented on #351
@sfigue I guess it's related with a missing dependency in `Alpine` not with conpot

[2018-01-09 11:01] sfigue commented on #351
@dbellavista, You are right. Tpot 17.10 docker images, have been rebuilt as micro containers based on Alpine. But, all begun with the same error that @sepantakntu.

[2018-01-09 11:42] dbellavista commented on #351
I use a Dockerfile similar to https://github.com/mushorg/conpot/blob/master/Dockerfile:
* Edit in `requirements.txt` the `pysnmp` version to `4.4.4`
* `pip install -r requirements.txt`
* `python setup.py install`

[2018-01-10 08:38] #291 closed

[2018-01-10 23:02] creolis commented on #352
Sounds great - we should try to allow a high level of customization there.
Next to active and passive mode, we should allow to specify the commands supported (see: http://www.nsftools.com/tips/RawFTP.htm) as well as how each command individually responds / works, in order to flexibly mimick each desired system.

I did not look at ftplib yet and therefore did not check if this would satisfy this :-

[2018-01-11 11:56] sfigue commented on #351
@dbellavista thank you for the input. Here, a solution (Tpot community help me):

Conpot is designed to run a certain [configuration set](https://github.com/dtag-dev-sec/tpotce/tree/master/docker/conpot/dist) within T-Pot. Changes to that config will involve changes to:

1. /opt/tpot/tpot.yml (since different ports will be used for container start & adding a volume for the container config where t

[2018-01-11 19:39] creolis commented on #141
IEC 60870-5-104 is implemented through #346 by @pudii

\o/

[2018-01-11 19:39] #141 closed

[2018-01-14 13:21] sepantakntu commented on #351
thank you

[2018-01-14 21:53] creolis commented on #351
As a conclusion - this was a tpot related issue and not an issue of conpot vanilla?
Just to be sure that there's nothing to be handled for now :)

[2018-01-14 21:59] creolis commented on #343
#291 is now closed.

[2018-01-15 08:00] dbellavista commented on #351
@creolis vanilla conpot, some dependencies need to be upgraded

On Sun, Jan 14, 2018, 10:53 PM creolis <notifications@github.com> wrote:

[2018-01-16 15:17] xandfury commented on #22
Check this: http://pyserial.readthedocs.io/en/latest/examples.html#tcp-ip-serial-bridge

[2018-01-20 14:52] xandfury opened #353 "Conpot as a Modbus TCP-RTU bridge"
Current implementation of Modbus uses a predefined template constisting of coils/registers - related values. It might be a good idea to be able to add actual modbus rtu slaves to conpot.

For each request from a modbus client, Conpot would query the actual rtu slave device(that is connected via serial) and fetch the appropriate response.

***What needs to be done***:
This would involve Conpot to a

[2018-01-20 15:10] xandfury commented on #351
Hi,

Please try installing and running Conpot again. I think this issue has been fixed with the lastest few commits.

[2018-01-23 20:08] xandfury commented on #353
Something like this in the template:

[code]

[2018-01-25 23:54] Vingaard commented on #351
@xandfury - it may not have been fixed
I had to set pysnmp>=4.4.4 in requirements.txt before it worked (installed this evening, plain conpot, no TPOT)

[2018-01-26 13:22] glaslos commented on #353
First goal should be talking to a Modbus slave using Modbus over TCP.

[2018-01-31 07:08] SwapnilDreams100 commented on #347
Hi, can you please list the changes to be done/ steps to be followed for liking the real plc to conpot. Highly appreciated.

[2018-02-02 01:07] dirtdiver512 opened #354 "SNMP not Responding"
I have a basic install.  port 80 responses but can not get SNMP to do anything.  Nothing in the logs either.

sudo conpot -f -t default -c /home/conpot/conpot/testing.cfg  -l /var/log/conpot/conpot2.log

2018-02-01 15:53:15,064 --force option specified. Using testing configuration:
/usr/local/lib/python2.7/dist-packages/Conpot-0.5.1-py2.7.egg/conpot/testing.cfg
2018-02-01 15:53:15,067 Starting Con

[2018-02-04 14:27] glaslos commented on #354
Can you check `netstat -tlpn` if Conpot is listening on port 161 for SNMP?
Probably unrelated but you want to check the modbustk library installed:
[code]

[2018-02-04 14:38] glaslos commented on #347
Hi @SwapnilDreams100 have a look at the [configuration](https://github.com/mushorg/conpot/blob/master/conpot/templates/proxy/proxy/proxy.xml) in the Proxy sample template. You can see how we map 0.0.0.0:dest_port to proxy_host:proxy_port. If you set the proxy host and port to your S7, you should see the connections in Conpot and in your PLC.

[2018-02-06 05:57] dirtdiver512 commented on #354
yeah port udp 161 is listening.....i can see the packets hitting it via tcpdump but there is nothing in conpot logs

[2018-02-09 07:19] surajpkhetani opened #355 "Unable to collect logs"
I am unable to collect logs in these files: /var/log/conpot/conpot.log and /var/log/conpot.json.
I have manually created /var/log/conpot/conpot.log with world writable permissions.

This is what the Dockerfile looks like in which gives the --logfile option :
Create directories
RUN mkdir -p /var/log/conpot/

VOLUME /var/log/conpot/

EXPOSE 80 102 161/udp 502

CMD ["/usr/local/bin/conpot", "--force"

[2018-02-09 12:36] xandfury commented on #355
Hey @surajpkhetani

Only directories mentioned in the `Dockerfile` with `VOLUME` option is treated as persistent storage. As indicated by the `Dockerfile`, files stored in location `/var/log/conpot/` would be treated as part of the volume.
Persistent volumes are located in `/var/lib/docker/volumes/..` directory of your ***host machine*** (might require you to have `sudo` privileges.)

Note that `c

[2018-02-09 21:33] surajpkhetani commented on #355
Thanks @xandfury I can now collect the logs using both the methods you mentioned.

[2018-02-09 21:33] #355 closed

[2018-02-16 20:49] xandfury opened #357 "Good exception, Bad exception"
Bad exception
[code]
Good exception
[code]
Formatting an exception throws away the traceback, which is usually what we want for debugging. logger.exception is a helper that calls logger.error but also logs the traceback.
Unless we using the exception object for handling `socket.errors` or similar, we don't need the exception object.

We have many such cases of bad exceptions. These should be chang

[2018-02-16 20:54] xandfury opened #358 "Port to python3"
Just putting this out there. No pressure :-)

[2018-02-16 21:36] xandfury commented on #351
@Vingaard I suspect you are running multiple version of `pysnmp`. If you already have a version of pysnmp installed, a cached version of the requirement is used. Could you please paste the output of the following:

[code]
The output of the above command would be something like:
[code]
Then `ls` a directory above. Like for the above output, do
[code]
Notice no `/pysnmp` at the end of `/usr/local/li

[2018-02-16 21:50] xandfury commented on #354
Try attempting a simple `snmpwalk` on conpot. Could you also provide some us some info to reproduce the issue? (Pysnmp version, Conpot version, OS version etc.)

[2018-02-21 07:51] SwapnilDreams100 commented on #352
Hi I would like to begin on this project, can anyone give me more links to study the details of what needs to be implemented? I know the basics of protocols like telnet and ftp

[2018-02-21 07:51] SwapnilDreams100 commented on #352
Hi I would like to begin on this project, can anyone give me more links to study the details of what needs to be implemented? I know the basics of protocols like telnet and ftp

[2018-02-22 08:26] Vingaard commented on #351
@xandfury - thanks for your message - however i am not the OP, that was @sepantakntu
I just clarified that the problem was present and provided a work-around for future viewers

[2018-03-01 06:04] jjjan opened #359 "add modules to detect type of attack"
Hello,
we really need to know what kind of attack is capture by conpot as signatures. for example.
"Modbus.TCP.Invalid.Packet.Length" Signatures.

[2018-03-09 15:26] t3chn0m4g3 opened #361 "Warning: Please monkey-patch earlier."
I recently noticed the following warning when starting conpot (cloned from latest master):

[code]

Seems the wrapper is the reason as running `/usr/lib/python2.7/site-packages/Conpot-0.5.1-py2.7.egg/bin/conpot` works just fine.

I do not know how the wrapper will be created, however, modifying it accordingly ...
[code]
... fixes the warning.

Suggestions?

[2018-03-27 03:09] xandfury commented on #358
I did some digging and found the latest stable releases for the requirements specified in the master branch. Here are the results:

| Package Name  | py3 support available?  | Latest py3 supported release  |
| ------------ | ------------ | ------------ |
| BACpypes  | Yes  | 0.16.7  |
| beautifulsoup4  | Yes  | 4.6.0  |
|  bottle | Yes  | 0.12.13  |
| cpppo  | Yes  | -  |
| crc16  | -  | py3 succe

[2018-03-28 19:21] creolis commented on #358
oooof course the package I introduced to conpot is the co... er .. roadblock.
Well .. starting a Python3 branch won't hurt, that's for sure. Doing a last-minute transition will help nobody, so this would give us a head start for refactoring and testing ..

[2018-04-01 07:56] glaslos commented on #358
MySQL should be no problem. I also wouldn't mind to drop MySQL support or replace it with PostgreSQL. I'm actually more concerned about modbus_tk. Has anyone looked into how far they are into their py3 implementation?

[2018-04-01 10:21] xandfury commented on #358
@glaslos Check this: https://github.com/ljean/modbus-tk/issues/49

[2018-04-05 07:33] xandfury commented on #358
In any case, we should atleast aim to double our coverage before attempting anything. Good coverage would save us a lot of pain fixing functionality bugs.

Note to self: A quick look tells me, we don't have `test_guardian_ast_server`; Might be a good start for this. :-)

[2018-04-07 14:11] omergunal opened #365 "Setup install error - Build docker image from source"
I am getting this output: https://ghostbin.com/paste/hwajr

There is no problem via a pre-built image

System: ubuntu 16.04

[2018-04-07 17:02] xandfury commented on #365
For a quick fix, change the `Dockerfile` and [comment out the tests](https://github.com/mushorg/conpot/blob/d157229e4587188ad3d3af5dddcd71200713852d/Dockerfile#L24).

[2018-04-12 16:09] omergunal commented on #365
@xandfury
my dockerfile: https://ibb.co/bA33U7
this time i got this error.
Error: https://ibb.co/iWZown

[2018-04-12 17:19] xandfury commented on #365
@omergunal The error is not about the template file. `Conpot` has been installed successfully. You need to supply a custom config file based on [this](https://github.com/mushorg/conpot/blob/master/conpot/testing.cfg).

If you are just testing out things, append `/bin/sh` to your above running command. Then start conpot manually using: `conpot -f --template default`.

**Do not run the testing confi

[2018-04-13 08:02] omergunal commented on #365
It worked, thanks

[2018-04-13 08:02] #365 closed

[2018-04-14 12:29] z-abdellahi commented on #1
how to send read request in dnp3??
by which tool it is possible to send read request??

[2018-04-14 13:27] xandfury commented on #1
@z-abdellahi Sorry. We currently don't support dnp3. You may still try proxying a DNP3 connection with Conpot if you have a real device.

In case you don't, you may try proxying a device running [open-plc](http://www.openplcproject.com). This is a personal opinion, not an endorsement. Good luck!

[2018-04-15 14:04] z-abdellahi commented on #1
can i use Burp to proxy dnp3 traffic and change th code functions??

[2018-04-16 03:46] xandfury commented on #1
@z-abdellahi I don't think Burp is the right tool here since it can be used to intercept and decode HTTP, HTTPS traffic only. DNP3 is a different protocol altogother.
With wireshark, you may be able to edit/view packet contents but it wouldn't "intercept" packets. Just save the edited packets to logs etc..
A quick google search tells me [Netsed](http://silicone.homelinux.org/git/netsed.git/tree/RE

[2018-04-22 14:19] Mato-Z opened #366 "zlib.error: invalid literal/lengths set"
Hello,

I operate several Conpot honeypots with the same configuration on different RaspberryPi. Suddenly on one from them I get this error. I did not do any change again all other honeypots where all is ok. Could you help me please?

Error:
[code]
I use `Linux raspberrypi 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux`
`Raspbian GNU/Linux 8.0 (jessie)`.
Many thanks.

[2018-04-22 15:30] xandfury commented on #366
Issue seems to be related to `pysnmp`. What versions are you running? (Both conpot and pysnmp)

[2018-04-27 15:37] omergunal opened #368 "increase the number of slaves"
When I scan with nmap, I see 2 slaves.
![vc](https://user-images.githubusercontent.com/19760132/39371228-c0723344-4a49-11e8-8f23-6223f43976af.png)

how can i build 1 more slave?
i want to try this because maybe  shodan can not detect that this is honeypot

[2018-04-27 17:49] xandfury commented on #368
Check your modbus template. [Example](https://github.com/mushorg/conpot/blob/master/conpot/templates/default/modbus/modbus.xml)

[2018-04-27 18:07] omergunal commented on #368
I create new slave in this field (https://github.com/mushorg/conpot/blob/master/conpot/templates/default/modbus/modbus.xml#L11) like `memoryModbusSlave0BlockA` but it was not enough

like that
`               <block name="memoryModbusSlave0BlockX">
                    <type>COILS</type>
                    <starting_address>500</starting_address>
                    <size>128</size>

[2018-04-27 18:10] xandfury commented on #368
You need [`<slave id=""></slave>`](https://github.com/mushorg/conpot/blob/master/conpot/templates/default/modbus/modbus.xml#L70-L89)

[2018-04-27 18:52] omergunal commented on #368
I added this in modbux.xml, but nothing changed
![selection_001](https://user-images.githubusercontent.com/19760132/39379824-3144c576-4a65-11e8-856b-bb4d91cd82b6.png)

[2018-04-27 21:16] #368 closed

[2018-05-03 15:39] sereysethy opened #369 "docker image build failed"
Hi,

I think there is a small error in the README file, the option `-f` does not exist. I used a docker version.

[code]

[2018-05-04 03:39] xandfury commented on #369
Did you build the container from source or fetched one from dockerhub?

[2018-05-04 07:43] sereysethy commented on #369
I pulled it directly from dockerhub, I just want to test it first.

[2018-05-04 08:05] sereysethy opened #370 "hpfriends enable or log capture help!"
Hi everyone,

I am pretty new to the `conpot` and `hpfriends` log sharing system, but I was unable to find a very good place to get full information. The `http://hpfriends.honeycloud.net/` was not responding or I dont even know how to get an account to order to use this service.

I will be grateful if somebody can point me to a good direction as to where to start.

In other words, I just need a wa

[2018-05-04 09:06] sereysethy commented on #369
I tried to build using `docker-compose`, the build failed when running coverage. Please check the log below:

Running env:
- OS: `Mac OS Sierra 10.13.4`
- Docker for Mac: `18.03.1-ce-mac65 (24312)`
- docker-compose: `1.21.1`
[code]

[2018-05-04 15:33] xandfury commented on #369
Could you try again after [commenting out the tests](https://github.com/mushorg/conpot/blob/d157229e4587188ad3d3af5dddcd71200713852d/Dockerfile#L24)? See if that works for you

[2018-05-04 15:50] xandfury commented on #370
`Conpot` does generate a logfile called `conpot.log` (if that works for you).  Ofcourse there are other ways to export logs besides `hpfeeds`. For example - [taxii](https://github.com/mushorg/conpot/blob/d157229e4587188ad3d3af5dddcd71200713852d/conpot/testing.cfg#L44). You can learn more about taxii [here](https://oasis-open.github.io/cti-documentation/)

I did google for more info about `hpfeeds`

[2018-05-04 17:59] sereysethy commented on #370
Yes but I am not sure yet if I need to run my own broker, because the http://hpfriends.honeycloud.net/ is currently down or it stops working already. So conpot supports taxii out of the box?

[2018-05-04 19:14] xandfury commented on #369
@sereysethy Like I said, conpot does create a logfile by default.  For something more docker related - [this should help](https://github.com/mushorg/conpot/issues/355).

[2018-05-06 18:19] exploitdkernel opened #371 "Error running conpot"
I am getting an error, after installing "python setup.py install" and I also did all the -r requirements.
When I go to run conpot in the terminal I receive the error:
[code]
and that's it. If someone could point to why it's happening that would be great, Thanks!

[2018-05-08 16:57] glaslos commented on #370
the hpfriends service has been discontinued. I'd recommend using the log file and some sort of log ingestion/aggregation. There are also some hints in the T-Pot or MHN projects on how to run your own hpfeeds broker.

[2018-05-08 16:57] #370 closed

[2018-05-08 16:59] glaslos commented on #371
you seem to have issues updating the lxml package for python

[2018-05-09 19:32] sereysethy commented on #370
Thank you very much.

[2018-05-10 18:48] xandfury commented on #369
@sereysethy
Were you able to resolve your issue?
I think we can close this.

[2018-05-11 11:52] sereysethy commented on #369
@xandfury as far as I can tell build is successful, but I havent actually analysed captured logs. Anyway will the test be fixed?

[2018-05-11 12:29] sereysethy commented on #369
well it works now since I added option `-f` to run conpot but it still checks for wireshark.

[code]

[2018-05-12 07:06] xandfury commented on #369
@sereysethy Warnings are not Conpot related. They are about `scapy`. Regarding `-f` option, it is intentional behaviour. It means you are using the testing config bundled with Conpot, which you shouldn't.

[2018-05-15 14:33] angelferni90 opened #372 "Changing modbus registers in real time"
Hello guys,

I would like to modify internally the value of modbus conpot registers (holding registers, coils) so the modbus clients that are reading, can see that the value of the holding registers is changing.
I've seen that the the 'slave.py' and the 'modbus_block_databus_mediator.py' creates the registers blocks based on the file 'modbus.xml' and 'template.xml'. However, the values defined the

[2018-05-16 02:12] cnlzxin commented on #372
socket ?

[2018-05-16 15:04] xandfury commented on #372
@cnlzxin Have you thought about interfacing an actual arduino based modbus device?
You can proxy conpot with that device - you might need to use ethernet shield but you can program Arduino for whatever values, even add a real temperature sensor.

If you want to dynamically modify register values, you need to change them in the databus.

[2018-05-27 14:20] omergunal opened #373 "Add some new titles"
Hi, when i scan conpot with nmap, im getting this output:

![selection_060](https://user-images.githubusercontent.com/19760132/40586989-3480d2dc-61d2-11e8-8e71-df900cdf406f.png)

i want to add some new values like "Basic Hardware" and change sequence. For example "version" will not become first value.how can i do that?
Shodan always know this is "conpot". What should i do? Thanks

[2018-05-27 16:53] Vingaard commented on #373
Hi there,
To change this - please edit the following file located in the conpot template dir aka: /templates/default/template.xml

However, be aware that conpot are a low interaction honeypot, and hence pretty easy to spot
/Mikael, Honeypot.dk

[2018-05-27 20:44] Vingaard commented on #373
Got it, that would -most likely- require that you change 'quite a bit' of the current code.

However, that would not make any signification different in the profile, and might just trow a red flag into the scanning, that this is not a standard S7 Siemens PLC.

A similar discussions was mentioned in item #343

[2018-05-27 22:26] omergunal commented on #373
They discussed about dont use default template file. I think i need more information about my issue.

[2018-05-28 15:32] angelferni90 commented on #372
Hello and thanks @xandfury for your answer!

Regarding the first option, I wouldn't like to add a physical device, I prefer to create/modify the values in the same machine where conpot is installed.
So, to do this, I understand that the way to do it is changing them in the databus.
I don't really know how to do it..

I see that there is a script called 'modbus_block_databus_mediator.py' that creat

[2018-05-30 07:40] angelferni90 commented on #372
Any help or ideas? @adepasquale @johnnykv @glaslos

Thanks so much in advance!!

[2018-05-30 08:48] Vingaard commented on #372
@xandfury - just a input - when proxy interfacing with a real modbus devices, the internal logging goes haywire (as you need to specific what decoder to use in proxy.xml and currently there are no modbus decoder avaliable) .. could you clarified/ state the decoder that should be used) unless I have missed something in the latest development, Thanks for any input/knowledge

@angelferni90 - I am cur

[2018-05-30 09:03] Vingaard commented on #373
@omergunal - got it, I took a look on the NSE script (https://svn.nmap.org/nmap/scripts/s7-info.nse) and the outputs structure are actual predefined. The script are set to e.g. (Basic Hardware,Serial number etc) values as expected a real Siemens S7 PLC would display.

So my initial feeling would be that e.g. adding somenewfield: Omer-example will no be detected by the S7-Info script and hence not

[2018-05-30 10:07] omergunal commented on #373
Yes, you are right. This is the original plc output.
[code]
and this is conpot:
[code]

I want to add `Basic Hardware` and `Module` title like original plc, also remove ` Plant Identification`.
Lastly i want to titles put  sequence like original plc

[2018-05-30 10:44] angelferni90 commented on #372
Hello @Vingaard !
Thanks for your answer!! That would be very nice when you finish it!
I would like to start also doing this by myself, but the problem is that I don't know how to access to the data bus to change the values.
Have you thought about how to access to the databus from the python script? Could you help me at list to start doing something?

Thanks so much in advance.
For other contribut

[2018-05-30 16:52] Vingaard commented on #373
Ok - I see your point clear now - you might want to deep dive into /default/s7comm/s7comm.xml and play around with the code - however as mention, that might require quite a lot of changes in the code incl adding new values

[2018-05-30 16:58] omergunal commented on #373
yes I wanted help for this reason, maybe someone knows where to add codes.( without s7comm.xml)

[2018-05-30 18:43] xandfury commented on #373
@omergunal As you may be aware different types of packets trigger different resonses. Adding new 'titles'/changing the order might leave you with a invalid PDU.

SSL/SZL request has a specific encoding format (A request that nmap sends during scan to which conpot responds). If you still want to tweak conpot's responses to such requests, I suggest starting [here](https://github.com/mushorg/conpot/b

[2018-05-30 18:49] omergunal commented on #373
@xandfury  i actually want to do this: https://github.com/mushorg/conpot/issues/373#issuecomment-393105989

[2018-06-01 17:57] xandfury commented on #372
Hey @angelferni90! Did you solve your issue?
Hacking though/changing databus values while running Conpot may not be a trivial task. Since both conpot and your script are different processes, you are looking at a mechanism that exposes the databus in some way.

A local server would work. Your script would connect to that server acting as client and change relevant values. While this can fit somewhe

[2018-06-01 18:03] xandfury commented on #372
@Vingaard You are right about that. I have been thinking about extending the proxy module for a while now. Users can just plug their own decoders. Like in your case, a modbus decoder might not difficult to implement - ofcourse we should ship with own set of decoders. But IMO the proxy module is one the most powerful features of Conpot. This would be a big help in realizing it's full potential ;-)

[2018-06-01 19:11] xandfury commented on #373
@omergunal For the screen shot you posted, you change chage those defaults from your template. Consider `default/template.xml` locate they values you are looking for - and change them with your desired values.

For the second part, as I stated previously we'll need to investigate what exactly is NMAP sending to scan Conpot. Look for the  the exact PDU (bytes). I'll try to have a look into this in

[2018-06-12 12:48] 4n6strider commented on #371
Hello,
After recent reinstall of MHN I am not able to run Conpot deployed from MHN server anymore.
I tested both ubuntu 14 and 16 with or without update of packages before installation.
I have always tried clean install of the server, conpot was the first sensor to be installed there.
but I always get this error message:

/opt/conpot/env/bin# ./conpot
Traceback (most recent call last):
File "./con

[2018-06-12 18:18] xandfury commented on #371
@4n6strider Hi there. Can paste the output of the following command?
[code]
Also did you `sudo` install the requirements?

[2018-06-12 19:32] xandfury commented on #369
It seems that this issue is resolved (or longer relevant to you). If you need further assistance, feel free to re-open the issue again.

[2018-06-12 19:32] #369 closed

[2018-06-12 19:36] xandfury commented on #347
Question seems to be answered. @SwapnilDreams100 If you need any further assistance, feel free to re-open the issue again.

[2018-06-12 19:36] #347 closed

[2018-06-13 10:14] 4n6strider commented on #371
@xandfury: Here you go.
I have series of servers. they are the same built ubuntu 14.
...# python -c "import Crypto.Cipher; print "Crypto.Cipher.__path__""

Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named Crypto.Cipher

This is the output on server where conpot is not working.

And this is output on server, where conpot is working [but I have n

[2018-06-14 20:18] xandfury commented on #371
@4n6strider Your issue is not conpot related. It is a result of multiple python environments. [There is no one-easy way around this](https://m.xkcd.com/1987/)
PyCrypto is not installed. Or atleast not available to the python interpreter. Try the following _**with**_ and _**without sudo**_:
[code]
In any case, before proceeding to the next stage, please ensure that
[code]
returns somthing like : `[

[2018-06-15 12:35] 4n6strider commented on #371
@xandfury Thank you.
I tried to restage one host and first thinkg I did was to install that PyCryptolib, confirmed with that command of yours.

Then I get still the same error:

ImportError: No module named Crypto.Cipher
Traceback (most recent call last):
  File "/opt/conpot/env/bin/conpot", line 6, in <module>
    exec(compile(open(__file__).read(), __file__, 'exec'))
  File "/opt/conpot/env/src/

[2018-06-15 13:29] xandfury commented on #371
@4n6strider Conpot's code is perfectly fine. Like I said, PyCrypto is not available to the python interpreter that you are using. Even if you change the imports, there is no gaurantee conpot will not break.

This line: `/opt/conpot/env/bin/conpot` incdicates that you might be using virtualenv called `env`. Try `source /opt/conpot/env/bin/activate` first. If you get `(env)` prefixed to your prompt,

[2018-06-19 18:32] jamiebuening opened #376 "README.md Easy install using Docker via prebuilt image syntax problem"
I just followed the Easy install using Docker via a pre-built image instructions in the README.md.  It looks like the `-f` is no longer a valid command line argument.

[code]

Does this argument just need to be removed from step 2?